<extend name="./apps/Common/Template/temp.html"/>
<block name="css"></block>
<block name="body">
	<div class="layui-fluid">
	  <div class="layui-row layui-col-space15">
	    <div class="layui-col-md12">
	        <div class="layui-card layui-form">
	          <div class="layui-card-header">  考卷信息</div>
	          <div class="layui-card-body">
	              <div class="layui-row">
              		<div class="layui-col-xs12 mt-10">
                        <div class="layui-row">
                            <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>考试名称：</strong></div>
                            <div class="layui-col-xs9 fsize-14 fcolor-65 lh-35"><span>{$data.exam.exam_title}</span></div>
                        </div>
                    </div>
                 	<div class="layui-col-xs12 mt-10">
                        <div class="layui-row">
                            <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>考试时间：</strong></div>
                            <div class="layui-col-xs9 fsize-14 fcolor-65 lh-35"><span>{$data.exam.exam_date}</span></div>
                        </div>
                    </div>
	                <div class="layui-col-xs12 mt-10">
                        <div class="layui-row">
                            <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>考试时长：</strong></div>
                            <div class="layui-col-xs9 fsize-14 fcolor-65 lh-35"><span>{$data.exam.exam_time}分钟</span></div>
                        </div>   
                    </div>
                     <div class="layui-col-xs12 mt-10">
                        <div class="layui-row">
                            <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>考试人：</strong></div>
                            <div class="layui-col-xs9 fsize-14 fcolor-65 lh-35"><span>{$data.exam.communist_name}</span></div>
                        </div>   
                    </div>
                     <div class="layui-col-xs12 mt-10">
                        <div class="layui-row">
                            <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>总分：</strong></div>
                            <div class="layui-col-xs9 fsize-14 fcolor-65 lh-35"><span>{$data.exam.exam_point}分</span></div>
                        </div>   
                    </div>
	                 
	            </div>
	          </div>
	      </div>
	    </div>
				<div class="row">
					<div class="col-xs-12">
						<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<div class="cont-col1">
										
									</div>
									<div class="layui-card-header">  考卷信息</div>
									
								</div>
								<div class="tools">
									<a href="" class="reload"> </a>
									<a href="" class="collapse"> </a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="scroller" data-always-visible="1" data-rail-visible1="1">
									<foreach name="data['questions_list']" item="list">
										<ul class="client-info-list ml-20">
												<li class="client-info-dian pl-40" >
													<span class="fcolor-99">
														<i>{$list.num}</i>
														<span class="font-green fsize-16"> {$list.questions_title}</span>
													</span>
												</li>
												<li li class="pl-45">
													<span class=" ml-20">{$list.questions_item}</span>
												</li>
												<li li class="pl-45">
													<span class="fsize-14 ml-20">正确答案:	{$list.questions_answer}</span>
													<span class="font-red fsize-16 ml-20">您的选择: <eq name='list.my_questions_item' value=''>无 <else/>{$list.my_questions_item}</eq></span>
													<eq name="list['answer']" value="1">
														<img class="ml-10 mb-5" src="__STATICS__/public/images/yes.png" width="20px">
													<else/>
														<img class="ml-10 mb-5" src="__STATICS__/public/images/wrong.png" width="20px">
													</eq>
													<span class="font-red fsize-16 ml-20"></span>
												</li>
											</ul>
									</foreach>
								</div>
								<span class="fsize-24 ml-20">实际得分:	{$data.branch.log_score} 分</span>
								<eq name="is_integral" value="1">
								</eq>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="js">
    <script>
    </script>
</block>