<extend name="./apps/Common/Template/temp.html" />
<block name="css">
<link href="__STATICS__/apps/page_index/css/sp_public_mobile.css" rel="stylesheet" type="text/css">
<link href="__STATICS__/apps/page_index/css/style.css" rel="stylesheet" type="text/css">
<style>
#js-grid-juicy-projects {
    margin-left: 8.4% !important;
}
#js-grid-juicy-projects2 {
    margin-left: 0 !important;
}
#js-grid-juicy-projects4 {
    margin-left: 8.4% !important;
}
</style>

</block>
<block name="body">
    <div class="layui-fluid layui-form" >
    <div class="layui-row  layui-col-space5" style="background: #fff;">
    <div class="details_box clearfix" >       
		<form action="{:U('oa_meeting_record_do_save')}" id="form_sample_2" method="post" class="form-horizontal">
			<div class="box1">	
				<input type="hidden" name="party_no" value="{$record.party_no}">
				<input type="hidden" name="meeting_minutes_id" value="{$record['meeting_minutes_id']}">
				<input type="hidden" name="meeting_no" value="{$record['meeting_id']}">
				<input type="hidden" name="type" value="{$record['type']}">
				<div class="layui-row">
					<div class="layui-col-xs12 mt-10">
						<div class="layui-row">
							<div class="layui-col-xs1 text-r fsize-14 fcolor-65 lh-35"><strong>会议总结：</strong></div>
							<div class="layui-col-xs9 fsize-14 fcolor-65 ">
								<script id="editor" name="meeting_minutes_content" type="text/plain" style="height:350px;width:100%">{$record.meeting_minutes_content}</script>
							</div>
						</div>
					</div>
					<div class="layui-col-xs12 mt-10">
						<div class="layui-row">
							<div class="layui-col-xs1 text-r fsize-14 fcolor-65 lh-35"><strong>会议视频：</strong></div>
							<input type="hidden" id="source_name4" name="source_name4" value="" />
							<input type="hidden" id="meeting_video" name="meeting_video" value="{$record.meeting_video}" style="width: 60px">
							<button type="button" class="layui-btn" onclick="uploader_file('oa','1','meeting_video','source_name4','js-grid-juicy-projects4','2','1')"><i class="layui-icon"></i>上传文件</button>
							<div id="js-grid-juicy-projects4" class="cbp" style="height:100px">
								<neq name="record.meeting_video" value="">
									<php>echo getUploadHtml($record['meeting_video']);</php>
								</neq>
							</div>
						</div>
					</div>
					<div class="layui-col-xs12 mt-10">
						<div class="layui-row">
							<div class="layui-col-xs1 text-r fsize-14 fcolor-65 lh-35"><strong>上传附件：</strong></div>
							<input type="hidden" id="source_name" name="source_name" value="" />
							<input type="hidden" id="meeting_minutes_thumb" name="meeting_minutes_thumb" value="{$record['meeting_minutes_thumb']}" style="width: 60px">
							<button type="button" class="layui-btn"  onclick="uploader_file('oa','1','meeting_minutes_thumb','source_name','js-grid-juicy-projects','2','1')"><i class="layui-icon"></i>上传文件</button>
							<div id="js-grid-juicy-projects" style="height:100px">
								<neq name="record.meeting_minutes_thumb" value="">
									<php>echo getUploadHtml($record['meeting_minutes_thumb']);</php>
								</neq>
							</div>
						</div>
					</div>
					<!-- <div class="layui-col-xs12 mt-10"> -->
						<!-- <div class="layui-row"> -->
							<!-- <div class="layui-col-xs1 text-r fsize-14 fcolor-65 lh-35"><strong>会议文件：</strong></div> -->
							<!-- <div class="layui-col-xs6 fsize-14 fcolor-65 lh-35"> -->
								<!-- <input type="hidden" id="source_name2" name="source_name2" value="" /> -->
								<!-- <input type="hidden" id="meetting_attach" name="meetting_attach" value="{$record.meetting_attach}" style="width: 60px"> -->
								<!-- <button type="button" class="layui-btn" id="meetting_attach" onclick="uploader_file('oa','1','meetting_attach','source_name2','js-grid-juicy-projects2','2','1')"><i class="layui-icon"></i>上传文件</button> -->
								<!-- <div id="js-grid-juicy-projects2" class="cbp" style="height:100px"> -->
									<!-- <neq name="record.meetting_attach" value=""> -->
										<!-- <php>echo getUploadHtml($record['meetting_attach']);</php> -->
									<!-- </neq> -->
								<!-- </div> -->
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
					<div class="layui-col-xs12 mt-10 mb-50">
						<div class="layui-row">
							<div class="layui-col-xs1 text-r fsize-14 fcolor-65 lh-35"><strong>会议风采：</strong></div>
							<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
								<input type="hidden" id="source_name3" name="source_name3" value="" />
								<input type="hidden" id="meetting_mien" name="meetting_mien" value="{$record.meetting_mien}" style="width: 60px">
								<button type="button" class="layui-btn" id="meetting_mien" onclick="uploader_file('oa','1','meetting_mien','source_name3','js-grid-juicy-projects3','2','1')"><i class="layui-icon"></i>上传文件</button>
								<div id="js-grid-juicy-projects3" class="cbp" style="height:100px">
									<neq name="record.meetting_mien" value="">
										<php>echo getUploadHtml($record['meetting_mien']);</php>
									</neq>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-footer" style="text-align: right">
				<button class="layui-btn" type="submit" lay-submit="" lay-filter="component-form-demo1">提交</button>
				<button type="reset" class="layui-btn layui-btn-primary mr-40" onclick="cancel();">返回</button>
			</div>
        </form>
    </div>  
    </div>
</div>
</block>    
<block name="js">    
    <script src="__STATICS__/apps/page_index/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATICS__/apps/page_index/js/details.js" type="text/javascript"></script>  
    <script>
        function cancel() {
            parent.layer.closeAll();
        }
    </script>  
</block>
