@font-face {
    font-family: 'epfont';
    src: url('../../fonts/iconfont/iconfont.eot');
    /* IE9*/
    src: url('../../fonts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont/iconfont.woff') format('woff'), /* chromeã€firefox */
    url('../../fonts/iconfont/iconfont.ttf') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}


/*.ep{
    font-family:"epfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}*/

.ep {
    display: inline-block;
    font: normal normal normal 14px/1 "epfont";
    font-family: "epfont" !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;*/
    -moz-osx-font-smoothing: grayscale;
}

[class^="ep-"],
[class*="ep-"] {
    display: inline-block;
    font: normal normal normal 14px/1 "epfont";
    font-family: "epfont" !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;*/
    -moz-osx-font-smoothing: grayscale;
}


/*å¼¹å‡ºå±‚*/


/*å‘é€*/

.ep-send:before {
    content: "\e62a";
}


/*å¤±è´¥*/

.ep-fail:before {
    content: '\e664';
}


/*åˆ†äº«*/

.ep-share:before {
    content: "\e62d";
}


/*é™„ä»¶*/

.ep-attach:before {
    content: "\e67b";
}


/*å›¾ç‰‡*/

.ep-pic:before,.ep-image:before {
    content: '\e65c';
}


/*å›¾æ–‡*/

.ep-pictext:before,.ep-file:before  {
    content: '\e65d';
}


/*äºŒç»´ç */

.ep-erweima:before {
    content: '\e659';
}


/*å®¢æˆ·ç«¯*/

.ep-app:before {
    content: '\e65e';
}


/*åŠ¨æ€æ•°æ®*/

.ep-dynamic-data:before {
    content: "\e651";
}


/*è®¤è¯*/

.ep-authentication:before {
    content: "\e64f";
}


/*ç»Ÿè®¡*/

.ep-count:before {
    content: "\e644";
}


/*è­¦å‘Š*/

.ep-warning:before {
    content: "\e603";
}


/*æƒé™è®¾ç½®*/

.ep-authority-set:before {
    content: "\e604";
}


/*æ‰«ä¸€æ‰«*/

.ep-saoyisao:before {
    content: "\e605";
}


/*åˆ é™¤*/

.ep-delete:before {
    content: "\e606";
}


/*ä¸Šç®­å¤´ */

.ep-arrow-up:before {
    content: "\e607";
}


/*æç¤º*/

.ep-info:before {
    content: "\e608";
}


/*ä¸‹ç®­å¤´*/

.ep-arrow-down:before {
    content: "\e609";
}


/*ç–‘é—®*/

.ep-question:before {
    content: "\e60a";
}


/*å³ç®­å¤´*/

.ep-arrow-right:before {
    content: "\e60b";
}

.ep-youjiantou:before {
    content: '\e60b';
}


/*å·¦ç®­å¤´*/

.ep-arrow-left:before {
    content: "\e60c";
}


/*å›žåˆ°é¡¶éƒ¨*/

.ep-back-to-top:before {
    content: "\e60d";
}

.ep-top:before {
    content: "\e60d";
}


/*æŸ¥çœ‹*/

.ep-view:before {
    content: '\e60e';
}

.ep-chakan:before {
    content: '\e60e';
}


/*æˆåŠŸ*/

.ep-success:before {
    content: "\e60f";
}


/*å¸®åŠ©*/

.ep-help:before {
    content: "\e611";
}


/*å®¢æœ*/

.ep-service:before {
    content: "\e612";
}


/*æ¶ˆæ¯*/

.ep-news:before {
    content: '\e610';
}


/*ç¼–è¾‘*/

.ep-edit:before {
    content: "\e600";
}


/*ä¸Šä¼ */

.ep-file-up:before {
    content: "\e601";
}


/*ä¸‹è½½*/

.ep-download:before {
    content: "\e602";
}


/*å±•å¼€*/

.ep-down:before {
    content: "\e614";
}


/*æ”¶èµ·*/

.ep-up:before {
    content: "\e615";
}


/*æœç´¢*/

.ep-search:before {
    content: "\e616";
}


/*QQ*/

.ep-qq:before {
    content: "\e617";
}


/*ç”µè¯*/

.ep-tel:before {
    content: "\e618";
}


/*å·¦ä¾§ï¼ˆæ”¶èµ·ã€å±•å¼€ã€å°åœ†ç‚¹ï¼‰*/

.ep-side-circle:before {
    content: "\e619";
}

.ep-side-show:before {
    content: "\e61a";
}

.ep-side-hide:before {
    content: "\e61b";
}


/*å¤šé€‰*/

.ep-check:before {
    content: "\e61c";
}


/*å•é€‰*/

.ep-radio:before {
    content: "\e61d";
}


/*æ—¥æœŸ*/

.ep-date:before {
    content: "\e61e";
}


/*æ–‡æœ¬*/

.ep-text:before {
    content: '\e61f';
}


/*æ•°å­—*/

.ep-nums:before {
    content: "\e620";
}


/*ä¿å­˜*/

.ep-save:before {
    content: "\e621";
}


/*è¿”å›ž*/

.ep-back:before {
    content: "\e622";
}


/*åˆ é™¤è¡Œ*/

.ep-delete-row:before {
    content: "\e623";
}


/*é€šè®¯å½•*/

.ep-contact:before {
    content: "\e625";
}


/*æ‰‹æœº*/

.ep-mobile:before {
    content: "\e626";
}


/*ç”¨æˆ·*/

.ep-user:before {
    content: "\e627";
}


/*ä¼ä¸š*/

.ep-comp:before {
    content: "\e628";
}


/*å¯†ç */

.ep-password:before {
    content: "\e629";
}


/*æ•°æ®*/

.ep-data:before {
    content: "\e62c";
}


/*å¤åˆ¶*/

.ep-copy:before {
    content: "\e62e";
}


/*æ›´å¤š*/

.ep-more:before {
    content: "\e62f";
}


/*é¢„è§ˆ*/

.ep-preview:before {
    content: "\e62b";
}


/*ä¿®æ”¹æˆæœ¬*/

.ep-modify-cost:before {
    content: "\e631";
}


/*ä¿®æ”¹æ‰‹æœºå·ç */

.ep-modify-phone-nums:before {
    content: "\e632";
}


/*åœæ­¢*/

.ep-stop:before {
    content: "\e633";
}


/*å†»ç»“*/

.ep-frozen:before {
    content: "\e634";
}


/*å¯åŠ¨*/

.ep-qidong:before {
    content: '\e635';
}


/*ä¸‹æž¶*/

.ep-off-shelf:before {
    content: '\e636';
}


/*ä¸Šæž¶*/

.ep-no-shelf:before {
    content: '\e637';
}


/*ç§»åŠ¨*/

.ep-move:before {
    content: '\e65a';
}


/*éƒ¨é—¨*/

.ep-depa:before {
    content: "\e638";
}


/*å®¡æ ¸*/

.ep-examine:before {
    content: "\e639";
}


/*æ—¶é—´*/

.ep-time:before {
    content: "\e63a";
}


/*è¿‘æœŸå‘é€æƒ…å†µ*/

.ep-jinqifasong:before {
    content: "\e63b";
}


/*è®¡è´¹ç±»åž‹*/

.ep-jifeileixing:before {
    content: '\e63d';
}


/*ä½™é¢*/

.ep-yue:before {
    content: '\e63e';
}


/*çŠ¶æ€*/

.ep-zhuangtai:before {
    content: '\e63f';
}


/*æƒé™ä¿®æ”¹*/

.ep-quanxianxiugai:before {
    content: "\e63c";
}


/*æŠ¥è¡¨*/

.ep-chart:before {
    content: "\e642";
}


/*å…³é—­*/

.ep-guanbi:before,
.ep-close:before {
    content: '\e643';
}


/*ä¸ªäººæ˜Žç»†*/

.ep-persDeta:before,
.ep-pers-data:before {
    content: "\e640";
}


/*ä¿¡æ¯é—®å·åŠ */

.ep-info-quest:before {
    content: "\e641";
}


/*ç¦ç”¨*/

.ep-jinyong:before {
    content: '\e645';
}


/*è¡Œä¸š*/

.ep-xingye:before,
.ep-hangye:before  {
    content: '\e646';
}


/*å‘˜å·¥å¯¼å‡º*/

.ep-staff-export:before {
    content: '\e647';
}


/*æ·»åŠ å‘˜å·¥*/

.ep-add-staff:before {
    content: '\e648';
}


/*å‘˜å·¥å¯¼å…¥*/

.ep-staff-import:before {
    content: '\e649';
}


/*é»‘åå•*/

.ep-blacklist:before {
    content: '\e64a';
}


/*ç™½åå•*/

.ep-whitelist:before {
    content: '\e64b';
}


/*ç”Ÿæ—¥*/

.ep-brithday:before {
    content: '\e64c';
}


/*é‡å‘*/

.ep-zhongfa:before,
.ep-resend:before {
    content: '\e64d';
}


/*æ–°å»º*/

.ep-add-thin:before {
    content: "\e64e";
}


/*å›žå¤*/

.ep-reply:before {
    content: '\e650';
}


/*å¯¼å‡º*/

.ep-export:before {
    content: '\e652';
}


/*å‘é€æ–¹å¼*/

.ep-sendmode:before {
    content: '\e653';
}

.ep-sendfile:before {
    content: '\e653';
}

.ep-send-way:before {
    content: "\e653";
}


/*æ¶ˆæ¯ç±»åž‹*/

.ep-newstype:before {
    content: '\e654';
}


/*å¾®ä¿¡*/

.ep-weixin:before {
    content: '\e655';
}

.ep-wechat:before {
    content: '\e655';
}


/*æ’¤é”€*/

.ep-revoke:before {
    content: '\e656';
}


/*è´­ç‰©è½¦*/

.ep-shoppingcar:before {
    content: '\e657';
}


/*ä¸­å¥–è®°å½•*/

.ep-zhongjiang:before {
    content: '\e658';
}


/*é‚€è¯·*/

.ep-invite:before {
    content: '\e65b';
}


/*å½©ä¿¡*/

.ep-caixin:before,.ep-mms:before,.ep-emms:before {
    content: '\e65f';
}


/*eä¿¡*/

.ep-exin:before,.ep-html:before {
    content: '\e660';
}


/*çŸ­ä¿¡*/

.ep-mes:before {
    content: '\e661';
}


/*è¯­éŸ³*/

.ep-voice:before {
    content: '\e662';
}


/*è§†é¢‘*/

.ep-video:before {
    content: '\e663';
}


/*è®¾ç½®*/

.ep-set:before {
    content: '\e665';
}


/*é©³å›ž*/

.ep-reject:before {
    content: '\e666';
}


/*å‘å¸ƒ*/

.ep-release:before {
    content: '\e667';
}


/*é“¾æŽ¥*/

.ep-link:before {
    content: '\e668';
}


/*æœŸåˆŠç®¡ç†*/

.ep-qkem:before {
    content: '\e669';
}


/*æ—¶é—´å³*/

.ep-time-right:before {
    content: '\e66a';
}


/*æ—¶é—´å·¦*/

.ep-time-left:before {
    content: '\e66b';
}


/*ç•™è¨€*/

.ep-leave-mes:before {
    content: "\e66c";
}


/*ç»Ÿè®¡*/

.ep-statistics:before {
    content: "\e66d";
}


/*å®¡æ ¸*/

.ep-audit:before {
    content: "\e66e";
}


/*è°ƒè‰²æ¿*/

.ep-palette:before {
    content: "\e670";
}


/*æŠ•å½±*/

.ep-project:before {
    content: "\e66f";
}


/*ç®¡ç†*/

.ep-manage:before {
    content: "\e671";
}


/*é€šçŸ¥*/

.ep-notice:before {
    content: "\e672";
}


/*æ ‡ç­¾ç»„*/

.ep-labelgroup:before {
    content: "\e673";
}


/*æ˜Ÿæ ‡*/

.ep-star:before {
    content: "\e674";
}


/*æ¨¡æ¿*/

.ep-template:before {
    content: "\e675";
}


/*æŽˆæƒ*/

.ep-authorization:before {
    content: "\e676";
}


/*slide right*/

.ep-right:before {
    content: "\e677";
}


/*slide left*/

.ep-left:before {
    content: "\e678";
}


/*list*/

.ep-list:before {
    content: "\e679";
}


/*square*/

.ep-square:before {
    content: "\e67a";
}


/*å¢žåŠ */

.ep-add:before {
    content: "\e624";
}

.ep-zengjia:before {
    content: '\e624';
}


/*æ˜Žç»†*/

.ep-detail:before {
    content: "\e630";
}

.ep-mingxi:before {
    content: '\e630';
}


/*é”™è¯¯*/

.ep-danger:before {
    content: "\e613";
}

.ep-danger-thin:before {
    content: "\e613";
}


/*æ”¶è—å®žå¿ƒ*/

.ep-keep:before {
    content: "\e67c";
}


/*æ”¶è— ç©ºå¿ƒ*/

.ep-keep-empty:before {
    content: "\e67d";
}


/*æ¨¡æ¿*/

.ep-template:before {
    content: "\e67e";
}


/*H5*/

.ep-h5:before {
    content: "\e67f";
}
