/*共用类型*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 微软雅黑;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100% auto;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}

i {
	font-style: normal;
}

ul {
	list-style: none;
}

.wrap {
	width: 1.2rem;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

.p-r {
	position: relative;
}

.p-a {
	position: absolute;
}
/*效果*/
.guide_content_tab_content_bigbox1 div{
	transition: transform 0.25s ease;
} 
.guide_content_tab_content_bigbox1 div:hover{
	transform: scale(1.03,1.03);
}
.guide_content_tab_content_bigbox2 div{
	transition: transform 0.25s ease;
} 
.guide_content_tab_content_bigbox2 div:hover{
	transform: scale(1.03,1.03);
}
.guide_content_tab_content_bigbox3 div{
	transition: transform 0.25s ease;
} 
.guide_content_tab_content_bigbox3 div:hover{
	transform: scale(1.03,1.03);
}
/*本页面头部*/
.guide_header{
	margin-top:1.1rem;
	text-align:center;
	margin-bottom:0.5rem;
}
.guide_header_img{
	width:6.43rem;
	height:0.94rem;
}
.guide_header_p{
	font-size:0.2rem;
	color:#fff;
	margin-bottom:0.2rem;
}
/*本页面主要内容*/
.guide_content{
	width:12.01rem;
	margin:0 auto;
}
.guide_content_box_one{
	width: 1.89rem;
    height: 5.22rem;
    background: url(../images/juxing.png)no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 0.17rem;
}
.guide_content_box_one_title{
	font-size:0.22rem;
	color:#fff;
	margin-bottom:0.15rem;
}
.guide_content_box_one_box{
	margin-top:0.3rem;
}
.guide_content_box_one_box_img{
	width:1.4rem;
	height:1.4rem;
}
.guide_content_box_one_box_p{
	font-size:0.22rem;
	color:#fff;
	margin-top:-0.15rem;
}
/*页面tab切换模块*/
.guide_content_tab{
	width:10.11rem;
	margin-top:0.08rem;
}
.sp_guide_right_tab_box{
	width: 3.115rem;
    height:0.54rem;
    background: url(../images/jx2.png) no-repeat;
    background-size: 100% auto;
    font-size:0.22rem;
    color: #000;
    text-align: center;
    padding-top: 0.115rem;
    position: relative;
    left: 0.1rem;
    box-sizing:border-box;
}
.sp_guide_right_tab_box_img{
	width:0.23rem;
	height:0.23rem;
	position:relative;
	top:0.04rem;
}
/*tab切换主要模块*/
.guide_content_tab_content{
	width:100%;
	margin-top:0.11rem;
}
.guide_content_tab_content_bigbox1_box1{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg1.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
}
.guide_content_tab_content_bigbox1_box1_img{
	width:0.64rem;
	height:0.64rem;
	display:block;
	margin:0 auto;
}
.guide_content_tab_content_bigbox1_box1_p1{
	font-size:0.16rem;
	color:#fff;
	margin-top:0.15rem;
}
.guide_content_tab_content_bigbox1_box2{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg2.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
}
.guide_content_tab_content_bigbox1_box3	{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg3.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
}
.guide_content_tab_content_bigbox2_box1{
	width:3.25rem;
	height:3.2rem;
	background:url(../images/bg4.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding-top:0.5rem;
	box-sizing:border-box;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox2_box1_img{
	width:1.14rem;
	height:1.14rem;
	display:block;
	margin:0 auto;
}
.guide_content_tab_content_bigbox1_box2_p1{
	font-size:0.32rem;
	color:#fff;
	margin-top:0.2rem;
	font-weight: 600;
}
.guide_content_tab_content_bigbox1_box4{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg5.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-top:-0.1rem;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox1_box5{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg6.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.12rem;
}
.guide_content_tab_content_bigbox1_box6{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg7.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox1_box7{
	width:1.61rem;
	height:1.63rem;
	background:url(../images/bg8.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.08rem;
}
.guide_content_tab_content_bigbox1_box8{
	width:1.61rem;
	height:1.63rem;
	background:url(../images/bg9.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
}

		.sp_guide_right_tab_box{
			position:relative;
		}
		.sp_guide_right_tab_box{
			transition: transform 0.25s ease;
		} 
		.sp_guide_right_tab_box:hover{
			transform: scale(1.1,1.1);
			z-index: 10000;
		}
.d-in{
	display:none;
}
.m-t{
	margin-top:-0.1rem;
}
.m-l{
	margin-left:0.08rem;
}
/*内容第二版*/
.guide_content_tab_content_bigbox2_box11{
	width:3.25rem;
	height:3.2rem;
	background:url(../images/lvse.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding-top:0.5rem;
	box-sizing:border-box;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox2_box111{
	width:3.25rem;
	height:3.2rem;
	background:url(../images/chengse.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding-top:0.5rem;
	box-sizing:border-box;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox1_box55{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/xiaohuangse.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.12rem;
}
.guide_content_tab_content_bigbox1_box44{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg5.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-top:-0.1rem;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox1_box555{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg6.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.12rem;
}
.guide_content_tab_content_bigbox1_box66{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg7.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox1_box666{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/xiaozise.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.1rem;
}
.guide_content_tab_content_bigbox1_box67{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg7.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.1rem;
}
.guide_content_tab_content11{
	margin-top:0.1rem;
	margin-left:0.13rem;
}
.guide_content_tab_content_bigbox1_box551{
	width:3.25rem;
	height:1.56rem;
	background:url(../images/bg2.png) no-repeat;
	background-size:100% auto;
	text-align:center;
	padding-top:0.3rem;
	box-sizing:border-box;
	margin-left:-0.12rem;
}
.guide_content_tab_content11{
	display:none;
}