
*{
    margin:0;
    padding:0;
    font-family: 微软雅黑;
}
ul li,a{
    text-decoration:none;
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
/*
    公共样式开始
*/
.bg-color-white{
    background-color: #fff;
}
.bg-color-gray9{
    background-color: #f9f9f9;
}
.bg-color-44{
    background-color: #444;
}
.bg-image-linear_brown{
    background-image: linear-gradient(#8a7363, #2e1112);
}
.bg-color-ff9776{
    background-color: #ff9776;
}
.bg-color-f9f9f9{
    background-color: #f9f9f9;
}
.bg-color-11{
    background-color: #111;
}
.bg-color-linear_red{
    background-image: linear-gradient(0deg, rgba(255, 76, 77, 1) 0%, rgba(255, 133, 122, 1) 100%);
}
.bg-color-ff3032{
    background-color: #ff3032;
}
.bg-color-fff-op9{
    background-color: rgba(255, 255, 255, .9);
}
.bg-color-linear_blue{
    background-image: linear-gradient(0deg, rgba(147, 77, 240, 1) 0%, rgba(173, 115, 250, 1) 100%);
}
.bg-color-mask{
    background: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
}
.bg-img-card{
    background: url("../../../public/images/public_card_title.png") no-repeat;
}
.fcolor-black{
    color: #000;
}
.fcolor-11{
    color: #111111;
}
.fcolor-b3b3b3{
    color: #b3b3b3;
}
.fcolor-4e4e4e{
    color: #4e4e4e;
}
.fcolor-808080{
    color: #808080;
}
.fcolor-cd0606{
    color: #cd0606;
}
.fcolor-f00{
    color: #f00;
}
.fcolor-e60616{
    color: #e60616;
}
.fcolor-d10000{
    color: #d10000;
}
.fcolor-ff5a00{
    color: #ff5a00;
}
.fcolor-fd483d{
    color: #fd483d;
}
.fcolor-f33{
    color: #ff3032;
}
.fcolor-cc0000{
    color: #c00;
}
.fcolor-ff9776{
    color: #ff9776;
}
.fcolor-fffbc7{
    color: #fffbc7;
}
.fcolor-ff4c4d{
    color: #ff4c4d;
}
.fcolor-ff6669{
    color: #ff6669;
}
.fcolor-ffdbdb{
    color: #ffdbdb;
}
.fcolor-ff573d{
    color: #ff573d;
}
.fcolor-85c622{
    color: #85c622;
}
.fcolor-934df0{
    color: #934df0;
}
.fcolor-ffe0e0{
    color: #ffe0e0;
}
.fcolor-307eff{
    color: #307eff;;
}
.fcolor-3096ff{
    color: #3096ff;;
}
.m-10{
    margin: 10px;
}
.mb-12{
    margin-bottom: 12px;
}
.ml-6{
    margin:0 5px;
}
.p-15{
    padding: 15px;
}
.p-10{
    padding: 10px;
}
.p-45{
    padding: 45px;
}
.p-0-10{
    padding: 0 10px;
}
.w-4{
    width: 4px;
}
.w-20{
    width: 20px;
}
.w-32{
    width: 32px;
}
.w-46{
    width: 46px;
}
.w-50{
    width: 50px;
}
.w-65{
    width: 65px;
}
.w-78{
    width: 78px;
}
.w-54{
    width: 54px;
}
.w-56{
    width: 56px;
}
.w-70{
    width: 70px;
}
.w-84{
    width: 84px;
}
.w-90{
    width: 90px;
}
.w-99m{
    width: 99%;
}
.w-126{
    width: 126px;
}
.w-135{
    width: 135px;
}
.w-146{
    width: 146px;
}
.w-174{
    width: 174px;
}
.w-182{
    width: 182px;
}
.w-205{
    width: 205px;
}
.w-214{
    width: 214px;
}
.w-225{
    width: 225px;
}
.w-300{
    width: 300px;
}
.w-336{
    width: 336px;
}
.w-385{
    width: 382px;
}
.w-540{
    width: 540px;
}
.w-770{
    width: 770px;
}
.w-780{
    width: 780px;
}
.w-830{
    width: 830px;
}
.w-840{
    width: 840px;
}
.w-880{
    width: 880px;
}
.w-870{
    width: 870px;
}
.w-875{
    width: 875px;
}
.w-900{
    width: 900px;
}
.w-1030{
    width: 1030px;
}
.w-1200{
    width: 1200px;
}
.h-32{
    height: 32px;
}
.h-46{
    height: 46px;
}
.h-56{
    height: 56px;
}
.h-120{
    height: 120px;
}
.h-130{
    height: 130px;
}
.h-140{
    height: 140px;
}
.h-150{
    height: 150px;
}
.h-160{
    height: 160px;
}
.h-170{
    height: 170px;
}
.h-176{
    height: 176px;
}
.h-180{
    height: 180px;
}
.h-190{
    height: 190px;
}
.h-200{
    height: 200px;
}
.h-210{
    height: 210px;
}
.h-220{
    height: 220px;
}
.h-230{
    height: 230px;
}
.h-232{
    height: 232px;
}
.h-245{
    height: 245px;
}
.h-280{
    height: 280px;
}
.h-300{
    height: 300px;
}
.h-310{
    height: 310px;
}
.h-320{
    height: 320px;
}
.h-330{
    height: 330px;
}
.h-340{
    height: 340px;
}
.h-350{
    height: 350px;
}
.h-360{
    height: 360px;
}
.h-400{
    height: 400px;
}
.h-420 {
    height: 420px;
}
.h-490{
    height: 490px;
}
.h-500{
    height: 500px;
}
.h-600{
    height: 600px;
}
.h-all{
    height: 100%;
}
.lh-31{
    line-height: 31px;
}
.lh-33{
    line-height: 33px;
}
.lh-42{
    line-height: 42px;
}
.mt-44{
    margin-top: 44px;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.hr-st-ebebeb{
    border-top: solid 1px #ebebeb;
}
.hr-s-ebebeb{
    border: solid 1px #ebebeb;
}
.hr-s-f1f1f1{
    border: solid 1px #f1f1f1;
}
.hr-s-ff6669{
    border: solid 1px #ff6669;
}
.hr-ib-fff{
    border-bottom: solid 1px transparent;
    border-image: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, .3) 60%, rgba(0, 0, 0, .2)) 10 3 stretch;
}
.hr-s-ff3131{
    border: solid 1px #ff3131;
}
.hr-s-ff3032{
    border: solid 1px #ff3032;
}
.hr-s-ff9776{
    border: solid 1px #ff9776;
}
.hr-s-ffc2c3{
    border: solid 1px #ffc2c3;
}
.hr-s-ffcccd{
    border: solid 1px #ffcccd;
}
.hr-s-fff1{
    border: solid 1px rgba(255, 255, 2555, .1);
}
.hr-sr-b3b3b3{
    border-right : solid 1px #b3b3b3;
}
.hr-sr-faf8f7{
    border-right : solid 1px #faf8f7;
}
.hr-s-dfdfdf{
    border: solid 1px #dfdfdf;
}
.hr-st-dfdfdf{
    border-top: solid 1px #dfdfdf;
}
.hr-sb-dfdfdf{
    border-bottom: solid 1px #dfdfdf;
}
.hr-sr-dfdfdf{
    border-right: solid 1px #dfdfdf;
}
.hr-sl-dfdfdf{
    border-left: solid 1px #dfdfdf;
}
.hr-sb-f5f5f5{
    border-bottom: solid 1px #f5f5f5;
}
.hr-sb-ff3032{
    border-bottom: solid 1px #ff3032;
}
.hr-sb2-ff3032{
    border-bottom: solid 2px #ff3032;
}
.hr-sb-eee{
    border-bottom: solid 1px #eee;
}
.border-collapse{
    border-collapse: collapse;
}
.di-fl{
    display: flex;
}
.di-tb{
    display: table;
}
.di-tc{
    display: table-cell;
}
.top-50m{
    top: 50px;
}
.left-50bm{
    left: -50%;
}
.shadow_gray{
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}
.font-st{
    font-family: 宋体;
}
.fsize-48{
    font-size: 48px;
}
.pre-wrap{
    white-space: pre-wrap;
}
/* 多行文本溢出 */
.line-overf{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
}
/* 单行文本溢出 */
.txt-overh{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabel-fixed{
    table-layout: fixed;
}
.font-nor{
    font-weight: normal;
}
.boxsize-b{
    box-sizing: border-box;
}
.list-disc-in{
    list-style: disc inside;
}
/* 垂直居中样式开始 */
.center-ver{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* 水平居中样式开始 */
.center-hor{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* 水平垂直居中样式开始 */
.center-ver-hor{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-just{
    text-align: justify;
}
/*
    公共样式结束
*/
/*
    背景图样式开始
*/
.public_background{
    font-size: 16px;
    overflow: auto;
    background: url("../images/index_backgroung.png") no-repeat ;
    background-size: 100%;
}
.public_title{
    width: 1200px;
    margin: 24px auto;
}
/*
    背景图样式结束
*/
/* 蒙板样式开始 */
.public_mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
}
/* 蒙板样式结束 */
/*
    头部开始
*/
.public_header_nav_horizontal{
    box-sizing: border-box;
    display: table;
    width: 1200px;
    height: 56px;
    line-height: 56px;
    padding: 0 10px;
    margin: 0 auto;
    font-size: 16px;
    background: #fff;
    color: #808080;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: solid 2px #d10000;
}
.public_header_nav_horizontal li a{
    display: block;
    /*width: 100%;*/
    color: #808080;
}
.public_header_nav_horizontal li{
    display: table-cell;
    table-layout: fixed;
    position: relative;
    /*width: calc( (100% - 12px) / 7 );*/
    width: 170px;
    border-right: solid 1px #ebebeb;
    text-align: center;
    cursor: pointer;
    _zoom:1;
}
.public_header_nav_horizontal li:last-child{
    border-right: none;
    font-size: 14px;
}
.public_header_nav_horizontal li:hover{
    background: #fafafa;
}
.public_header_nav_horizontal li:hover a{
    color: #d10000;
}
.public_header_active .public_header_nav_triangle{
    position: absolute;
    bottom: 0;
    left: 47%;
    border-style: solid;
    border-color: transparent transparent #d10000 transparent;
    border-width: 0 6px 6px 6px;
}
.public_header_nav_horizontal img{
    padding-right: 4px;
}
/*
    头部结束
*/
/*
    内容区样式开始
*/
.public_content{
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    margin-bottom: 64px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}
/*
    内容样式结束
*/
/*
    footer样式开始
*/
.public_footer{
    /*height: 224px;*/
    border-top: solid 4px #c20c0c;
    background: #f5f5f5 url("../images/index_footer.png") no-repeat top 65% right 18% ;
}
.public_footer .public_footer_header{
    height: 44px;
    vertical-align: middle;
    background: #dbdbdb;
    color: #1f1f1f;
}
.public_footer .public_footer_header > span{
    font-family: "PingFang SC Bold";
    line-height: 44px;
}
.public_footer .public_footer_header li{
    display: inline-block;
    border-right: solid 1px #b1b1b1;
    padding: 0 26px;
}
.public_footer .public_footer_header li a{
    font-family: "PingFang SC Medium";
    color: #1f1f1f;
}
.public_footer_content{
    box-sizing: border-box;
    padding: 36px 0 44px 0 ;
}
.public_footer .public_footer_content li{
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: #757575;
}
.public_footer .public_footer_content li span:nth-child(1){
    padding: 0 6px;
    border-right: solid 1px #757575;
}
.public_footer .public_footer_content li:nth-last-child(1) span{
    border: none;
}
/*
    footer样式结束
*/
/*
   面板样式开始
*/
.public_card{
    display: inline-block;
    width: 100%;
}
.public_card_title{
    height: 36px;
    width: 100%;
    margin-bottom: 5px;
    /*color: #fff;*/
    font-size: 12px;
    border-bottom: solid 1px #ff3032;
    font-weight: 700;
}
/* 没有背景图的面板标题 */
.public_card_title span:nth-child(1){
    display: inline-block;
    /*padding-left: 16px;*/
    /*font-size: 18px;*/
    line-height: 36px;
}
.public_card_title ul.public_card_title_option{
    display: inline-block;
    float: right;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin: 6px 16px 0 0;
}
.public_card_title > a{
    /*color: #fff;*/
    vertical-align: text-bottom;
}
.public_card_title .public_card_title_option li{
    position: relative;
}
.public_card_title .public_card_title_option li,
.public_card_title .public_card_title_option a{
    display: inline-block;
    line-height: 16px;
    color: #000;
}
.public_card_title .public_card_title_option li:hover a{
    color: #ff3032;
}
.public_card_title_triangle{
    width: 0;
    height: 0;
    bottom: -12px;
    left: 25%;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #ff3032 transparent;
}
.public_card_title .public_card_title_option .public_card_title_triangle{
    position: absolute;
}
ul.public_card_content, ol.public_card_content{
    padding-left: 22px;
}
ol.public_card_content > li{
    display: list-item;
    list-style: decimal;
    width: 100%;
    vertical-align: top;
}
ul.public_card_content, ul.public_card_content > li{
    list-style: disc;
    color: #d9d9d9;
}
.public_card_content > li{
    font-size: 14px;
}
.public_card_content a{
    color: #333;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.public_card_content li{
    counter-increment: chapter;
}
.public_card_content a:before{
}
.public_card_content li:hover > a{
    color: #ff3032;
}
/*
    面板样式结束
*/
/*
    功能面板开始
*/
.public_card_button{
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border: solid 1px #dfdfdf;
    background: #fff no-repeat center 34%;
    vertical-align: text-bottom;
    color: #999;
    font-size: 14px;
}
.public_card_button:hover{
    /*margin-top: -14px;*/
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: .4s;
}
.public_card_button > a{
    display: table-cell;
    width: 127px;
    height: 127px;
    color: #999;
    vertical-align: middle;
}
.public_card_button .public_card_button_content{
    min-height: 78px;
    min-width: 62px;
    /*margin: auto;*/
}
.public_card_button .public_card_button_content .public_card_button_content_imgbox{
    margin: 0 auto;
    height: 47px;
    width: 47px;
    overflow: hidden;
}
.public_card_button_content .public_card_button_content_imgbox > img{
    height: 47px;
}
.public_card_button .public_card_button_txt{
    text-align: center;
    margin-top: 12px;
}
/*
    功能面板结束
*/
/*
    图文混排左右布局样式
*/
/* 图文混排左右 - 左：图；右：标题 + 文本 + 按钮     开始*/
.public_card_text_lr{
    display: inline-block;
    /*width: calc( (100% - 18px) / 4 );*/
    height: 162px;
    /*margin-top: 12px;*/
}
.public_card_text_lr:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
}
.public_card_text_lr > a{
    display: block;
    height: 100%;
    width: 100%;
}
/* 左侧图片区 */
/* 带边框的图片模板样式开始 */
.public_card_text_lr_img{
    /*border: solid 1px #dfdfdf;*/
    box-sizing: border-box;
    padding: 4px;
}
/* 带边框的图片模板样式结束 */
/* 右侧文本区 */
.public_card_text_lr_txt{
    height: 162px;
    box-sizing: border-box;
    /*margin-left: 110px;*/
    padding: 6px 16px 12px 12px;
    font-size: 14px;
    color: #333;
}
.public_card_text_lr_txt_content{
    font-size: 12px;
    /*color: #999;*/
    line-height: 22px;
}
/* 按钮 */
.public_card_text_lr_btn{
    float: right;
    display: inline-block;
    width: 64px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    color: #fff;
    background: #ff3032;
}
/* 图文混排左右 - 左：图；右：标题 + 文本 + 按钮     结束*/

/* 图文混排左右 - 左：图；右：标题 + 文本      开始*/
.public_word_lr_two{
    display: table;
}
.public_word_lr_two:hover{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}
.public_word_lr_two a{
    display: block;
}
.public_word_lr_two .public_word_lr_two_img{
    display: table-cell;
    /*width: 120px;*/
    overflow: hidden;
    vertical-align: middle;
}
.public_word_lr_two .public_word_lr_two_img img{
    vertical-align: text-bottom;
}
.public_word_lr_two .public_word_lr_two_content{
    display: table-cell;
    vertical-align: top;
    color: #000;
    box-sizing: content-box;
    padding: 4px;
    padding-left: 12px;
}
.public_word_lr_two_content_date, .public_word_lr_two_content > p{
    color: #b3b3b3;
    margin-top: 8px;
}
.public_word_lr_two_content > p{
    display: -webkit-box;
    margin-top: 10px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* 图文混排左右 - 左：图；右：标题 + 文本      结束*/
/*
    图文混排左右布局样式结束
*/
/*
    左侧导航栏样式开始
*/
.public_header_nav_horizontal li:nth-child(2){
    /*background: #fafafa;*/
}
.public_header_nav_horizontal li:nth-child(2) a{
    /*color: #d10000;*/
}
/*
    左侧导航栏样式结束
*/
/*
    内页内容区左右块布局开始
*/
.public_content_left{
    width: 200px;
    float: left;
    background: #fff;
}
.public_content_right{
    width: 960px;
    box-sizing: border-box;
    padding: 16px;
    float: right;
    background: #fff;
}
/*
    内页内容区左右块布局结束
*/
/*
    左侧导航开始
*/
.public_nav_vertical{
    box-shadow: 0 0 12px 0 rgba(4, 0, 0, 0.12);
    border: solid 1px rgba(245, 245, 245, 1);
}
.public_nav_vertical li .public_nav_vertical_title{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 20px;
    font-family: 微软雅黑;
    border-bottom: solid 1px #dfdfdf;
}
.public_nav_vertical li .public_nav_vertical_title > a{
    color: #000;
}
.public_nav_vertical dl dd{
    border-bottom: solid 1px #f5f5f5;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}
.public_nav_vertical dl dd a{
    display: block;
    padding: 0 20px;
    font-weight: 500;
    color: #999;
}
.public_nav_vertical dl dd i{
    float: right;
    margin-top: 16px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    border-width: 5px 0 5px 8px;
    text-align: right;
}
.public_nav_vertical_child dd:hover{
    background: rgba(255, 235, 235, .8);
}
.public_nav_vertical_child .child_click_dd{
    background: rgba(255, 235, 235, .8);
}
.child_click_dd .child_click_i{
    border-color: transparent transparent transparent #cc0000;
}
/*
    左侧导航结束
*/
/* 列表前三项是水滴样式 */
.threeitems .public_card_content li:first-child, .threeitems .public_card_content li:nth-of-type(2),
.threeitems .public_card_content li:nth-of-type(3){
    list-style: none;
    position: relative;
}
.threeitems .public_card_content li:first-child a:before,
.threeitems .public_card_content li:nth-of-type(2) a:before,
.threeitems .public_card_content li:nth-of-type(3) a:before{
    content: counter(chapter);
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    top: 9px;
    left: -22px;
    z-index: 1;
    font-size: 12px;
    line-height: 15px;
    /*background: #6ccddf;*/
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    color: #fff;
    text-align: center;
}
.threeitems .public_card_content li:first-child a:after,
.threeitems .public_card_content li:nth-of-type(2) a:after,
.threeitems .public_card_content li:nth-of-type(3) a:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 4px 4px 4px 5px;
    /*border-color: transparent transparent transparent #6ccddf;*/
    display: block;
    position: absolute;
    top: 13px;
    left: -8px;
}
.threeitems .public_card_content li:first-child a:before{
    background: #ff3032;
}
.threeitems .public_card_content li:nth-of-type(2) a:before{
    background: #ff9776;
}
.threeitems .public_card_content li:nth-of-type(3) a:before{
    background: #ffba66;
}
.threeitems .public_card_content li:first-child a:after{
    border-color: transparent transparent transparent #ff3032;
}
.threeitems .public_card_content li:nth-of-type(2) a:after{
    border-color: transparent transparent transparent #ff9776;
}
.threeitems .public_card_content li:nth-of-type(3) a:after{
    border-color: transparent transparent transparent #ffba66;
}
/* 列表前三项是水滴样式 */
/* 轮播样式开始 */
.news_carousel{
    /*height: 200px;*/
    /*width: 230px;*/
}
.news_carousel .hd{
    width: 100%;
    bottom: 4px;
}
.news_carousel .prev,.news_carousel .next{
    width: 26px;
    height: 80px;
    font-size: 50px;
    position: absolute;
    top: 36%;
    margin-top: -40px;
    font-family: 宋体;
    line-height: 80px;
    color: #d10000;
    cursor: pointer;
    opacity: 1;
}
/* 报纸轮播样式 */
.newspaper_carousel{
    width: 100%;
}
.newspaper_carousel div.tempWrap{
    margin: 0 auto;
}
.newspaper_carousel .bd li{
    width: 102px;
    margin: 0 8px;
}
.newspaper_carousel .bd li img{
    width: 100px;
}
.newspaper_carousel .bd li span{
    /*position: absolute;*/
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #666;
    text-align: center;
    /*bottom: 0;*/
}
/* 视频轮播样式 */
.video_carousel .hd li{
    display: inline-block;
    background: #b8b8b8;
    height: 8px;
    width: 8px;
    border: solid 1px #b8b8b8;
    border-radius: 8px;
    margin: 0 4px;
}
.video_carousel .hd li.on{
    background: #ff3032;
    border: solid 1px #ff3032;
}
.video_carousel .bd li img{
    height: 200px;
}
.video_carousel .bd li span{
    position: absolute;
    display: inline-block;
    /*width: 280px;*/
    height: 40px;
    line-height: 22px;
    background: linear-gradient(to top, #000, transparent);
    color: #fff;
    text-align: center;
    bottom: 0;
}
/* 数字排序的列表样式 */
ul.decimal_ul, ul.decimal_ul li{
    list-style: decimal;
}
.layui-laypage a,.layui-laypage span{
    padding: 0 6px;
}
/* 文本框样式开始 */
.ipam_input{
    border-radius: 3px;
    border: solid 1px #dfdfdf;
    padding-left: 8px;
}
.ipam_input:hover{
    border-color: #ff3032;
}
/* 文本框样式结束 */
/* 上下布局面板样式开始 */
.public_card_hov_graytowhite{
    overflow: hidden;
    background-color: #f5f5f5;
}
.public_card_hov_graytowhite:hover{
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0 ,0 ,0 ,0.14) ;
}
/* 上下布局面板样式结束 */
/* 橙色柱状标记开始 */
.public_mark_org{
    display: inline-block;
    height: 18px;
    width: 4px;
    background-color:  #ff9776;
    margin-right: 10px;
}
/* 橙色柱状标记结束 */
/* 红色右三角样式开始 */

.public_article_right:before{
    content: "";
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-color: transparent transparent transparent #ff3032;
    margin-right: 10px;
}
.public_article_right:after{
    content: "";
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    left: 0;
}
/* 红色右三角样式结束 */
/* 会议列表分割线样式开始 */
.public_list_hr{
    width: 100%;
    height: 16px;
    box-sizing: border-box;
    margin: 20px auto;
    background: #f5f5f5;
}
/* 会议列表分割线样式结束 */
/* 红色边框按钮样式开始 */
.public_button_stroke-red{
    display: inline-block;
    border: solid 1px #ff3032;
    border-radius: 4px;
    text-align: center;
    color: #ff3032;
}
.public_button_stroke-ff6669{
    display: inline-block;
    border: solid 1px #ff6669;
    border-radius: 4px;
    text-align: center;
    color: #ff6669;
}
.public_button_stroke-red:hover{
    background: linear-gradient(45deg, #ff4d4d, #ff3033, #ff5a2d);
    color: #fff;
    transition:  .2s;
}
/* 红色边框按钮样式结束 */
/* 最新会议列表圆点样式开始 */
.public_list_meeting{
    padding: 10px;
    padding-left: 16px;
    position: relative;
}
.public_list_meeting{
    color: #666;
    font-size: 14px;
}
.public_list_meeting:hover:before{
    background: #d10000;
    transition: background .2s;
}
.public_list_meeting:hover .public_list_meeting_title{
    color: #111;
}
.public_list_meeting:before{
    content: '';
    position: absolute;
    left: 0;
    top: 16px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ebebeb;
    z-index: 99;
}
.public_list_meeting:after{
    content: '';
    position: absolute;
    left: 3px;
    top: 16px;
    width: 1px;
    height: 100%;
    background: #ebebeb;
}
/* 最新会议列表样式结束 */
/* 滑动出现阴影边框样式开始 */
.public_hover_shadow:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
}
/* 滑动出现阴影边框样式结束 */
/* 分页样式开始 */
#news_page .layui-laypage a,#news_page .layui-laypage span{
    margin: 0 -1px 5px 5px;
    padding: 0 6px;
}
/* 分页样式结束 */