/*——————————————————————————————本页面公用—————————————————————————————————————————*/
.public_content{
	padding-bottom: 128px !important;
}
.ipam_home_public_background .ipam_home_public_title{
	width: 1200px;
    margin: 36px auto 50px auto !important;
    text-align: center;
}
/* 垂直居中 */
.va-jz{
	display: flex;
    align-items:Center; 
}
.w-93b{width: 93%;}
.f-w{font-weight: bold;}
.f-n{font-weight: normal !important;}
.mr-5em{margin-right: 5px;}
.mr-10em{margin-right: 10px;}
.mb-5{margin-bottom: 5px;}
.mt-8{margin-top:8px;}	
.m-a{margin: 0 auto;}
.color-ff3032{color:#FF3032;}
.color-2f877{color:#2F87FF;}
.color-9e{color:#9e9e9e;}
.color-2F87FF{color:#2F87FF;}
.color-ff0{color:rgba(255,255,255,0.62);}

.f-16em{font-size: 16px;}
.f-18em{font-size: 18px;}
.f-14em{font-size: 14px;}
.pt-6em{padding-top: 6px;}
.w-72{width: 72%;}
/*——————————————————————————————视频详情左侧样式—————————————————————————————————————————*/
.con_videoInfo_left{
	
}
.con_videoInfo{
	margin-top: 30px;
}
.con_videoInfo_tit{
	width: 620px;
    overflow: hidden;
    height: 35px;
    font-size: 32px;
    font-weight: bold;
    color: #212121;
    line-height: 35px;
 }
 .con_videoInfo_type{
 	width:93px;
	height:28px;
	line-height:28px;
	background:rgba(55,107,245,0.13);
	border-radius:14px;
	color:#376BF5;
	text-align: center;
	font-size: 14px;
	margin-top: 3px;
 }
 .con_videoInfo_details{
 	padding: 23px;
 	line-height: 31px;
 	font-size: 14px;
	width:745px;
	height:100% ;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.12);
	border-radius:6px;
	margin-top: 28px;
 }
  .con_videoInfo_details p{
  	text-indent: 1rem;
  }
  
  .con_videoInfo_details .tit{
  width: 100%;
    height: 106px;
    font-size: 36px;
    font-weight: bold;
    color: rgba(33,33,33,1);
    line-height: 53px;
  }
  .summary{
  	overflow: hidden;
    margin-top: 29px;
    width: 95%;
    height: 100%;
    line-height: 29px;
    padding: 20px;
    background: rgba(245,245,245,1);
    border-radius: 7px;
  }
  .con_videoInfo_details .line8{
  	margin: 0 auto;
    width: 739px;
    height: 2px;
    background: rgba(222,222,222,1);
    margin-top: 10px;
  }
  .con_share{
  	margin-top: 20px;
  }
  .share_boder1{
  	padding: 0px 22px;
    height: 40px;
    border: 1px solid rgba(55,107,245,0.62);
    border-radius: 20px;
    color: #376BF5;
    cursor: pointer;
  }
  .share_boder2{
  	padding: 0px 22px;
	height:40px;
	border:1px solid rgba(222,222,222,1);
	border-radius:20px;
	cursor: pointer;
  }
  .share_boder3{
  	padding: 0px 25px;
	height:40px;
	border:1px solid rgba(222,222,222,1);
	border-radius:20px;
	cursor: pointer;
  }

  
  
 /*学习人员样式*/
 .Learner{
 	position: relative;
 	width:792px;
	height:179px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.12);
	border-radius:12px;
	margin-top: 23px;
 }
 .Learner_shu{
 	margin-top: 18px;
    margin-left: 24px;
 	width:4px;
	height:20px;
	background:rgba(255,64,64,1);
	border-radius:2px;
 }
 .Learner_people{
 	margin-top: 16px;
 	margin-left: 8px;
 	overflow: hidden;
 	width:400px;
	height:22px;
	font-size:20px;
	font-weight:400;
	color:rgba(33,33,33,1);
	line-height:22px;
 }
  .Learner_people2{
 	    margin-right: 27px;
    margin-top: 16px;
    /* margin-left: 8px; */
    overflow: hidden;
    /* width: 400px; */
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #9e9e9e;
    line-height: 22px;
 }
 .Learner_people span{
 	font-weight:normal;
 	color: #9e9e9e;
 	font-size: 14px;
 }
 
 
 /***********************************************************/
.edu_arrow{
	position: absolute;
    top: -37px;
    right: 40px;
}
a.abtn { 
	display: block; 
	height: 130px;
	width: 17px;
	overflow: hidden;
	background: url(../images/arrow4.png) no-repeat 0px 50%; 
}
a.aleft { 
	float: left;
	position: absolute;
    top: -34px;
    right: 51px; 
    }
a.agrayleft { cursor: default; background-position: -34px 50%; }
a.aright { 
	float: right; 
	background-position: -17px 50%; 
	position: absolute;
    right: 20px;
    top: -34px;
	}
a.agrayright { cursor: default; background-position: -51px 50%; }
.scrolllist {     
	width: 742px;
    height: 132px;
    margin: 0 auto;
    margin-top: 25px;
     }
.scrolllist .imglist_w { width: 750px; height:132px; overflow: hidden; float: left; position: relative;/*必要元素*/ }
.scrolllist .imglist_w ul { width: 20000px; position: absolute; left: 0px; top: 0px; }
.scrolllist .imglist_w li { float: left; padding: 0 10px; }
.scrolllist .imglist_w li img {  }
.scrolllist .imglist_w li a {  text-decoration: none; }
.scrolllist .imglist_w li a:hover img { filter: alpha(opacity=86); -moz-opacity: 0.86; opacity: 0.86; }
.scrolllist .imglist_w li p { 
	padding-top: 10px;
    text-align: center;
    height: 28px;
    line-height: 24px;
    overflow: hidden;}

/*视频笔记样式*/
.con_videoInfo_notes{
	margin-top: 24px;
	width:792px;
	height:100%;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.12);
	border-radius:12px;
}
.con_videoInfo_input{
	padding: 10px;
    margin-left: 24px;
    margin-top: 17px;
    width: 720px;
    height: 120px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(222,222,222,1);
    border-radius: 10px;
}
.sibmit{
	width:100px;
	height:32px;
	line-height:32px;
	background:linear-gradient(90deg,rgba(255,48,50,1),rgba(255,90,45,1));
	border-radius:16px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	margin-right: 24px;
    margin-top: 16px;
}
/*以往笔记样式*/
.con_videoInfo_past_notes{
	margin-top: 16px;
}
.past_notes_line{
	width:744px;
	height:1px;
	background:rgba(222,222,222,1);
	margin-top: 16px;
	margin-left: 24px;
}
/*热门评论*/
.past_notes_con{
	margin-top: 25px;
}
.past_notes_con li{
	margin: 0 auto;
    list-style: none;
    /* margin-left: 24px; */
    margin-bottom: 33px;
    width: 95%;
}
.past_notes_con li .tx{
	width:48px;
	height:48px;
	background:rgba(109,109,109,1);
	border-radius:50%;
}
 
 
 
 
 
/*——————————————————————————————视频详情右侧样式—————————————————————————————————————————*/
.con_videoInfo_right{
	margin-top: 20px;
}
.metting_right_block1{
	width: 384px;
    height: 100%;
    background: rgba(51,66,89,1);
    border: 1px solid rgba(222,222,222,1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    padding-bottom: 20px;

}
.icon_shu1{
	width:4px;
	height:20px;
	background:rgba(245,245,245,1);
}
.metting_right_block1 .tu1{
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}
.metting_right_block1 .theme{
	margin: 0 auto;
    width: 90%;
    height: 22px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,1);
    line-height: 22px;
    margin-top: 16px;
}
.metting_right_block1 .memo{
	margin: 0 auto;
    width: 90%;
	height:22px;
	font-size:14px;
	font-weight:300;
	color:rgba(255,255,255,0.62);
	line-height:22px;
	margin-top: 8px;
}


.videoInfo_right_about{
	padding-bottom: 20px;
    width: 384px;
    height: 100%;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-top: 24px;
}
.videoInfo_right_about li{
	list-style: none;
	margin-top: 16px;
	margin-left: 24px;
}
.videoInfo_right_about_tit{
	overflow: hidden;
    width: 168px;
    height: 40px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(33,33,33,1);
    line-height: 22px;
}
.videoInfo_right_about_scan{
	margin-top: 24px;
    width: 168px;
    height: 20px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(158,158,158,1);
    line-height: 22px;
}
.add_title{
	padding-top: 17px;
    padding-left: 24px;
    width: 150px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(33,33,33,1);
    line-height: 22px;
}
.add_line{
	margin: 0 auto;
    margin-top: 10px;
    width: 336px;
    height: 1px;
    background: rgba(222,222,222,1);
}

/*通知公告*/
.notice{
	margin-top: 24px;
    width: 384px;
    height: 100%;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding-bottom: 22px;
}
.notice .line7{
	margin: 0 auto;
	width:90%;
	height:1px;
	background:rgba(222,222,222,1);
	margin-top: 10px;
}
.icon_no_FF3032{
	text-align: center;
	width:18px;
	height:18px;
	line-height:18px;
	background:#FF3032;
	border-radius:2px;
	color: #fff;
}
.icon_no_ccc{
	text-align: center;
	width:18px;
	height:18px;
	line-height:18px;
	background:#CCCCCC;
	border-radius:2px;
	color: #fff;
}
.notice ul{
	margin: 0 auto;
    width: 90%;
    margin-top: 17px;
    overflow: hidden;
}
.notice ul li{
	margin-bottom: 10px;
	cursor: pointer;
}
.notice .list{
	display: inline;
    width: 82%;
    }