/*——————————————————————————————本页面公用—————————————————————————————————————————*/
.public_content{
	padding-bottom:35px !important;
}
.white-space{
	overflow: hidden;
    overflow: hidden;/*超出部分隐藏*/
    text-overflow:ellipsis;/* 超出部分显示省略号 */
    white-space: nowrap;/*规定段落中的文本不进行换行 */
}
.ipam_home_public_background .ipam_home_public_title {
    width: 1200px;
    margin: 36px auto 35px auto !important;
    text-align: center;
}
/* 垂直居中 */
.va-jz{
	display: flex;
    align-items:Center; 
}
.w-93b{width: 93%;}
.f-w{font-weight: bold;}
.f-n{font-weight: normal !important;}
.mr-5em{margin-right: 5px;}
.mr-10em{margin-right: 10px;}

.m-a{margin: 0 auto;}
.mr-2{margin-right: 2px;}
.color-ff3032{color:#FF3032;}
.color-2f877{color:#2F87FF;}
.color-9e{color:#9e9e9e;}
.color-2F87FF{color:#2F87FF;}
.f-16em{font-size: 16px;}
.f-18em{font-size: 18px;}
.f-20em{font-size: 20px;}
.f-14em{font-size: 14px;}
.pt-6em{padding-top: 6px;}
.w-72{width: 72%;}
/*——————————————————————————————左侧样式—————————————————————————————————————————*/
.edu_notes_left{
    margin-top: 30px;
    width:792px;
	padding-bottom: 35px;
    
}
.left_block1{
	width: 791px;
    /*height: 100%;*/
    padding-bottom: 20px;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}
.left_block1 .tit{
	margin: 0 auto;
    padding-top: 19px;
    width: 95%;
}
.left_block1 .type{
	text-align: center;
	width:93px;
	height:28px;
	line-height:28px;
	background:rgba(55,107,245,0.13);
	border-radius:14px;
	color: #376BF5;
}
.left_block1 .tu1{
	width: 746px;
	height: 421px;
	margin: 0 auto;
	margin-top: 24px;
}
.left_block1 .con{
	padding: 20px;
    margin: 0 auto;
    width: 703px;
    height: 111px;
    line-height: 26px;
    background: rgba(245,245,245,1);
    border-radius: 7px;
    color: #212121;
    font-size: 16px;
    overflow: hidden;
}

.left_block2{
	margin: 0 auto;
    width: 791px;
    /*height: 100%;*/
    padding-bottom: 25px;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    margin-top: 25px;
}
.line_shu{
	width:4px;
	height:20px;
	background:rgba(255,64,64,1);
	border-radius:2px;
	margin-right: 5px;
}
.left_block2 ul{
	margin: 0 auto;
    width: 90%;
    margin-top: 17px;
}
.left_block2 ul li{
	float: left;
	margin-right: 30px;
	margin-bottom: 10px;
}
.left_block2 ul li:nth-child(8n){
	margin-right: 0px !important;
}
.left_block2 .more{
	width: 20%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
 /*会议内容*/
.con_meeting{
	width: 791px;
    /*height: 100%;*/
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    margin-top: 24px;
    padding-bottom: 20px;
} 
.con_meeting p{
	margin: 0 auto;
    width: 95%;
    height: 146px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(33,33,33,1);
    line-height: 27px;
    padding-top: 20px;
    overflow: hidden;
}  

/*——————————————————————————————右侧样式—————————————————————————————————————————*/
.edu_notes_right{
	padding-bottom: 20px;
	margin-top: 30px;	
	width:384px;
	height: 100%;
	
}
.metting_right_block1{
	width:384px;
	height:331px;
	background:rgba(245,245,245,1);
	border:1px solid rgba(222,222,222,1);
	box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.12);
	border-radius:7px;
}
.line5 {
	position: relative;
	margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    box-sizing: content-box;
    height: 1px;
    border: 0;
    width: 80%;
    background-image: linear-gradient(to right,#DEDEDE,#DEDEDE, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),#DEDEDE, #DEDEDE);
            }
.line5:after {
  content: " 三会一课";
    display: inline-block;
    position: relative;
    color: #808080;
    padding: 0px 100px;
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    left: 27px;
}
.icon6{
	position: absolute;
    left: 94px;
}
/*切换*/
.slideTxtBox{ 
	position: relative;
	width: 100%;
    text-align: left;
    margin-top: 40px;
     }
.slideTxtBox .hd{ 
	margin: 0 auto;
    width: 40%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    position: relative;}
.slideTxtBox .hd ul{ 
	width: 100%;
    /* background: #333; */
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 40px;
    overflow: hidden;}
.slideTxtBox .hd ul li{ float:left; padding:0 15px; cursor:pointer;
 	font-size: 36px;
    font-weight: bold;
    color: rgba(215,175,91,1); 
    }
.slideTxtBox .hd ul li.on{  
	text-align: center;
    /* margin: 0 auto; */
   /* width: 100%;*/
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    color: rgba(215,175,91,1);
    line-height: 40px;
    overflow: hidden;

	}
.slideTxtBox .bd{
	width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
}	
	
.slideTxtBox .bd ul{ padding:15px;  zoom:1;  }
.slideTxtBox .bd li{ 
	height:30px; 
	line-height:30px; 
	font-size:16px;
	font-weight:400;
	color:rgba(158,158,158,1);
	list-style-type:disc;
	}
.slideTxtBox .bd li .date{ float:right; color:#999;  }
.prev{
	left: 30px;
    z-index: 999;
    top: 3px;
    position: absolute;
	width: 12px;
	height: 24px;
	background: url(../images/icon_left.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	}
.next{
	top: 3px;
    position: absolute;
    right: 30px;
	width: 12px;
	height: 24px;
	background: url(../images/icon_right.png) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	}
	

/*分类筛选样式*/
.edu_assort{
	margin-top: 24px;
	width:384px;
	/*height:100%;*/
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 20px 0px rgba(0, 0, 0, 0.12);
	border-radius:7px;
	padding-bottom: 28px;
}
.edu_assort_tit{
	padding-top: 16px;
    padding-left: 22px;
    width: 100px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(33,33,33,1);
    line-height: 20px;
}
.edu_assort li{
	font-size: 14px;
    padding: 1px 12px;
    margin-right: 20px;
    margin-top: 17px;
    float: left;
    text-align: center;
    list-style: none;
    width: 73px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgba(222,222,222,1);
    border-radius: 16px;
    cursor: pointer;
}
.edu_assort ul{
	margin-left: 24px;
}
.edu_assort_active{
	text-align: center;
	width:103px;
	height:32px;
	line-height:32px;
	background:linear-gradient(90deg,rgba(255,48,50,1),rgba(255,90,45,1));
	border-radius:16px;
	color: #fff;
}
/*热门会议*/
.metting_right_block3{
	margin-top: 25px;
    width: 384px;
    /*height: 100%;*/
    background: rgba(255,255,255,1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    padding-bottom: 20px;
}
.metting_right_block3 .tit{
	margin: 0 auto;
    overflow: hidden;
    width: 90%;
    height: 80px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(33,33,33,1);
    line-height: 35px;
    margin-top: 11px;
}
.participate{
	margin: 0 auto;
	width: 90%;
	margin-top: 23px;
}
.participate ul img:first-child{
	margin-left: 0px;
}
.participate ul img{
	float: left;
	margin-left: -10px;
}

