<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">
				<div class="layui-col-xs9">
						{:getFunctionInfo(ACTION_NAME)}
				</div>
				</div>
				<div class="layui-form layui-card-body">
					<div class="layui-row layui-col-space5">
							<div class="layui-col-xs2 pull-right">
							<button class="layui-btn table-add " >初始化</button>
						</div>

							</div>
					<table class="layui-hide" id="test" lay-filter="demo"></table>
					<script type="text/html" id="barDemo">
						<a class="layui-btn layui-btn-del layui-btn-xs" lay-event="edit">编辑</a>
						<a class="layui-btn layui-btn-f60 layui-btn-xs"  lay-event="del">删除</a>
					</script>
					<script type="text/html" id="user_status">
						{{#  if(d.status == 1){ }}
							<span>可用</span>
						{{#  } else{ }}
							<span>不可用</span>
						{{#  } }}
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
<script>
	layui.use('table', function(){
		var table = layui.table
				,form = layui.form;
		table.render({
			elem: '#test'
			,url:"{:U('sys_dbinit_index')}"
			,cellMinWidth: 80
			,height:'full-155'
			,cols: [[
				{field:'log_id', title:'序号',align: 'center', unresize: true, sort: true}
				,{field:'staff_name', title:'操作人',align: 'center'}
				,{field:'log_newcontent',width:'40%', title: '操作内容',align: 'center', sort: true}
				,{field:'add_time', title:'操作时间',align: 'center'}
				
			]]
			,page: true
		});
		
	});
	layui.use([ 'form'], function(){
		var $ = layui.$
				,admin = layui.admin
				,element = layui.element
				,form = layui.form;
		form.render()
		form.render(null, 'component-form-element');
		form.on('submit(component-form-element)', function(data){
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
	//时间选择器
	layui.use('laydate', function() {
		var laydate = layui.laydate;
		//常规用法
		laydate.render({
			elem: '#test1',
			range: true
		});
	})
	//添加按钮的点击事件
	$(".table-add").click(function () {
		layer.confirm('确定要初始话数据库吗？将会删除所有数据！确定吗？', function(index){
			layer.close(index);
			//加载层
			var load_index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
			$.ajax({
				url:"{:U('System/Syssql/sys_dbinit_do_save')}",
				type:'post',
				data:{},
				success: function (data) {
					if(data.code == 1){
						layer.close(load_index);
						alert(data.msg);
						setTimeout(location.reload(true),8000);
					}else{
						alert(data.msg);
					}
				}
			})
		});
	})
	
</script>
</block>
<block name="js">