<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
	<div class="layui-fluid">
	    <div class="layui-row layui-col-space15">
	        <div class="layui-col-md12">
	            <div class="layui-card">
	                <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME.session('cat'));</php>"> <php>echo getFunctionInfo(ACTION_NAME);</php></div>
	                <form id="form_sample_2" action="{:U('life_affairs_do_save')}" method="post" class="form-horizontal">
	                    <div class="layui-card-body layui-form">
	                        <input type="hidden" class="form-control" name="notes_id" value="{$exam_data.exam_id}">
	                        <input type="hidden" class="form-control" name="material_id" value="{$material_id}">
	                        <div class="layui-row">
	                          
	                            <div class="layui-col-xs12 mt-10">
	                                <div class="layui-row">
	                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>标题：</strong></div>
	                                    <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35"> <input type="text" name="article_title" placeholder="请输入标题" value="{$article.article_title}" autocomplete="off" class="layui-input" lay-verify='required'></div>
	                                    <span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
	                                </div>
	                            </div>
	                            
	                        
	                            <div class="layui-col-xs12 mt-10">
	                                <div class="layui-row">
	                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>附件：</strong></div>

	                                    <input type="hidden" id="source_name2" name="source_name2" value=""/>
										<input type="hidden" id="article_attach_old" name="article_attach_old" value="" style="width: 60px">
										<input type="hidden" id="article_attach" name="article_attach" value="{$article.article_attach}" style="width: 60px">

	                                    <button type="button" class="layui-btn" id="article_thumb" onclick="uploader_file('life','1','article_attach','source_name2','js-grid-juicy-projects','2','1')"><i class="layui-icon"></i>上传文件</button>
	                                    <div id="js-grid-juicy-projects" class="cbp" style="height:100px">
	                                        <neq name="article.article_attach" value="">
	                                            <php>echo getUploadHtml($article['article_attach'],'40');</php>
	                                        </neq>
	                                    </div>
	                                </div>
	                            </div>
		
	                            <div class="layui-col-xs12 mt-10">
	                                <div class="layui-row">
	                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>发布时间：</strong></div>
	                                    <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35">
										<input type="text" name="article_time" date placeholder="请输入时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" value="{$article.article_time}" autocomplete="off" class="layui-input" lay-verify='required'></div>
	                                    <span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
	                                </div>
	                            </div>
	                            <div class="layui-form-item">
	                                <div class="layui-input-block">
	                                    <div class="layui-footer" style="text-align: right">
	                                    <input type="hidden" class="form-control"  name="article_id" value="{$article.article_id}">
	                                        <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">提交</button>
	                                        <button type="reset" class="layui-btn layui-btn-primary mr-40" onclick="layer_colse();">返回</button>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
    </div>
</block>  
<block name="js">
    <script src="__STATICS__/plugins/layuiformSelect/js/formSelects-v4.js"></script>
    <script>
    	function layer_colse() {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        }
        layui.use([ 'form', 'laydate'], function() {
            var $ = layui.jquery
                    , admin = layui.admin
                    , element = layui.element
                    , layer = layui.layer
                    , laydate = layui.laydate
                    , form = layui.form
            form.render(null, 'component-form-group');
            laydate.render({
                elem: '#LAY-component-form-group-date'
            });
        })
        layui.use('layedit', function(){
            var layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: "{:U('System/public/layedit_upload')}" //接口url
                  , type: 'post' //默认post
                }
            });
            layedit.build('article_content'); //建立编辑器
        });
    </script>
</block> 