<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid " >
    <div class="layui-row layui-col-space10">
        <!-- <div class="layui-col-md3"> -->
            <!-- <div class="layui-card"> -->
                <!-- <form class="layui-form"> -->
                    <!-- <div class="layui-card-header"> -->
                        <!-- <span title="栏目管理">栏目管理</span> -->
                        <!-- <a href="{:U('Lifeaffairs/life_affairs_cat_index')}" title="" style="text-decoration: none;"> -->
                            <!-- <i class="layui-icon" style="color: #f60;position: relative;top: 0px;left: 70%;font-size: 20px;"></i> -->
                        <!-- </a> -->
                    <!-- </div> -->
                    <!-- <div class="layui-card-body"> -->
                        <!-- <div class="over-h-tree"> -->
                            <!-- <ul id="treeDemo" class="ztree ztree-demo"> -->
                            <!-- </ul> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </form> -->
            <!-- </div> -->
        <!-- </div> -->
        <div class="layui-col-md12">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-card">
                        <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"><php>echo getFunctionInfo(ACTION_NAME);</php></div>
                        <div class="layui-form layui-card-body fitheight">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-xs1 text-r lh-40">
                                    关键字：
                                </div>
                                <div class="layui-col-xs3 ">
                                    <input class="layui-input" name="keywords" id="keywords" autocomplete="off" placeholder="请输入关键字">
                                </div>
                               <div class="layui-col-xs1 center-text lh-40 text-r">
                                    时间：
                                </div>
                                <div class="layui-col-xs3">
                                    <input type="text" autocomplete="off" class="layui-input " id="time" placeholder="yyyy-mm-dd">
                                </div>
                                <div class="layui-col-xs3 pull-right">
                                    <a class="layui-btn" data-type="reload" lay-filter="searchFilter" style="text-decoration: none;" title="查询">查询</a>
                                    <a  class="layui-btn table-add " data-type="add" style="text-decoration: none;" title="添加">添加</a>
                                </div>
                            </div>
                            <table class="layui-table" id="demo"  lay-filter="demo">

                            </table>
                             <script type="text/html" id="operate">
                                <a class=" layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                                <a class=" layui-btn  layui-btn-xs layui-btn-f60" lay-event="edit">编辑</a>
                                <a class="layui-btn layui-btn-del layui-btn-xs" lay-event="del">删除</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script>
        layui.use(['element','form'], function() {
            var $ = layui.$
                    , admin = layui.admin
                    , element = layui.element
                    , form = layui.form
                    , router = layui.router();
            form.render();
            // 默认显示的 表格
            layui.use('table', function () {
                var table = layui.table;
                table.render({
                    elem: '#demo'
                    , url: '{:U("life_affairs_table_data",array("status"=>$status,"cat_id"=>$cat_id))}'
                    , height: 'full-160'
                    , id: 'ztreedata'
                    , cols: [[
                         {field: 'article_title', title: '文章标题'}
                        , {field: 'add_staff', width: 120, title: '添加人'}
                        , {field: 'add_time', width: 120, title: '添加时间'}
                        , {fixed: 'right', title: '操作', align: 'center', toolbar: '#operate',width: 180}
                    ]]
                    , page: false
                });
                //监听表格复选框选择
                table.on('checkbox(demo)', function(obj){
                    console.log(obj)
                });
                //监听工具条
                table.on('tool(demo)', function(obj){
                    var data = obj.data;
                    var idcard_no = data.idcard_no;
                    if(obj.event === 'detail'){
                        var index = layer.open({
                           type: 2,
                           title: false,
                           end:false,
                           closeBtn: 0,
                           shift: 1,
                           content: "{:U('life_affairs_info')}?article_id="+data.article_id+"",
                           area: ['300px', '300px']
                        });
                        layer.full(index);
                    } else if(obj.event === 'del'){
                        layer.confirm('确认删除该数据吗？', function(index){
                            window.location='{:U("life_affairs_del")}?article_id='+data.article_id+'';
                            layer.close(index);
                        });
                    } else if(obj.event === 'edit'){
                        var index = layer.open({
                           type: 2,
                           title: false,
                           end:false,
                           closeBtn: 0,
                           shift: 1,
                           content: "{:U('life_affairs_edit')}?article_id="+data.article_id+"&cat_id="+data.article_cat+"",
                           area: ['300px', '300px']
                        });
                        layer.full(index);
                    }
                });
                var $ = layui.$, active = {
                    reload: function(){
                        var keyword = $('#keywords').val();
                        var time = $('#time').val();
                        var type_no = $('#type_no').val();
                        var status  = $('#status').val();
                        table.reload('ztreedata', {
                            page: {
                              curr: 1 
                            }
                            ,where: {
                                "status":status,
                                "type_no":type_no,
                                "keyword": keyword,
                                "start":time
                            }
                        });
                    },
                    add: function(){
                        var index = layer.open({
                           type: 2,
                           title: false,
                           end:false,
                           closeBtn: 0,
                           shift: 1,
                           content: "{:U('life_affairs_edit')}",
                           area: ['300px', '300px']
                        });
                        layer.full(index);
                    }
                };
                $('.layui-form .layui-btn').on('click', function(){
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
            });
            //点击左侧树的事件
            var setting = {
                view: {
                    showLine: false,
                },
                data: {
                    key: {
                        title: "t"
                    },
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    onClick: function (a, b, node) {     //node是代表zNodes里面的urltree属性
                        layui.use('table', function () {
                            var table = layui.table;
                            table.render({
                                elem: '#demo'
                                , url: '{:U("life_affairs_table_data")}?cat_id='+node.id+''
                                , height: 'full-160'
                                , cols: [[
                                    {field: 'article_id', width: 100, title: '编号', sort: true}
                                    , {field: 'article_thumb', title: '缩略图',width:80}
                                    , {field: 'article_title', title: '文章标题'}
                                    , {field: 'add_staff', width: 120, title: '添加人'}
                                    , {field: 'add_time', width: 160, title: '添加时间'}
                                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#operate',width: 180}
                                ]]
                                , page: false
                            });
                        });
                    }
                }
            };

            var zNodes = [
                <volist name="cat_list" id="list" key = 'k'>
                    {id:"{$list.cat_id}", pId:"{$list.cat_pid}", t:"{$list.cat_name}",name:"{$list.cat_name}",icon:"__STATICS__/layuiadmin/style/res/wenjianjia-2.png", <if condition='$k eq 1'>open:true</if>},
                </volist>
            ];

            $(document).ready(function () {
                $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            });
        })
    </script>
    <script>
        //时间选择器
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            //常规用法
            laydate.render({
                elem: '#time',
                range: true
            });
        })
        // 设置ztree 列表和右侧列表一样高度
        $(".over-h-tree").css("height",($(window).height() - 95));
    </script>
</block>