/*——————————————————————————————本页面公用—————————————————————————————————————————*/

/*宽度*/
.w-7em{width: 0.35rem;}
/*高度*/
.h-17em{height: 0.85rem;}
/*padding*/
.pl-6em{padding-left: 0.3rem;}
.pr-6em{padding-right: 0.3rem;}
/*margin*/
.mr-6em{margin-right: 0.3rem;}
/*border*/
.box-4-df{box-shadow: 0 0 4px 0 #dfdfdf;}

/*color类*/
.color-9e{color: #9e9e9e;}
.color-21{color:#212121;}
.color-ff3132-04{color:rgba(255, 49, 50, 0.4);}
.color-ff3132{color:#ff3132;}
.color-47{color:#474747}

/*字体渐变*/
.shade{
	background-image: -webkit-gradient(linear, left center, right center, from(rgba(252, 152, 118, 1)), to(rgba(254, 192, 115, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-4-87d010{text-shadow: 0 0 4px #87d010;}

#matrix-info-people{
	background: -webkit-linear-gradient( #7eca00 , #a1e040); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient( #7eca00, #a1e040); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient( #7eca00, #a1e040); /* Firefox 3.6 - 15 */
	background: linear-gradient( #7eca00 , #a1e040); /* 标准的语法 */
}
#matrix-info-organization{
	background: -webkit-linear-gradient( #3996eb , #41beff); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient( #3996eb, #41beff); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient( #3996eb, #41beff); /* Firefox 3.6 - 15 */
	background: linear-gradient( #3996eb , #41beff); /* 标准的语法 */
}
#matrix-info-integral{
	background: -webkit-linear-gradient( #ff6633 , #ff8b6a); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient( #ff6633, #ff8b6a); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient( #ff6633, #ff8b6a); /* Firefox 3.6 - 15 */
	background: linear-gradient( #ff6633 , #ff8b6a); /* 标准的语法 */
}
#matrix-info-cost{
	background: -webkit-linear-gradient( #f5cf08 , #ffc818); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient( #f5cf08, #ffc818); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient( #f5cf08, #ffc818); /* Firefox 3.6 - 15 */
	background: linear-gradient( #f5cf08 , #ffc818); /* 标准的语法 */
}


/*——————————————————————————————页面其他样式—————————————————————————————————————————*/
.mat_data ul{
	display:flex;
}
.mat_data ul li{
	flex:1;
}
.data_bg1{
	width:3.4rem;
	height:5.2rem;
	background: url("../../public/images/mat_tu1.png") no-repeat;
	background-size:3.4rem 100%;
	background-position: center;
}
.data_bg2{
	width:3.4rem;
	height:5.2rem;
	background: url("../../public/images/mat_tu2.png") no-repeat;
	background-size:3.4rem 100%;
	background-position: center;
}
.data_bg3{
	width:3.4rem;
	height:5.2rem;
	background: url("../../public/images/mat_tu3.png") no-repeat;
	background-size:3.4rem 100%;
	background-position: center;
}
.data_bg4{
	width:3.4rem;
	height:5.2rem;
	background: url("../../public/images/mat_tu4.png") no-repeat;
	background-size:3.4rem 100%;
	background-position: center;
}
.line5 {
	position: relative;
    margin: 0 auto;
    /* margin-top: 40px; */
    text-align: center;
    box-sizing: content-box;
    height: 1px;
    border: 0;
    width: 85%;
    background-image: linear-gradient(to right,#ebebeb,rgba(235, 235, 235, 0.3), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(235, 235, 235, 0.3), #ebebeb);
            }
.line5:after {
    content: " 以下是全部党员";
    display: inline-block;
    position: absolute;
    /* padding: 2px 50px; */
    font-size: 0.6rem;
    color: #9e9e9e;
    left: 0;
    top: -7px;
    width: 100%;
}
#communist_list li{

}




















