/*ipam_home_public_org_mien
    org_mien页css公共页
*/
/*
    头部样式开始
*/
/*
    头部样式结束
*/
/*
    版心
 */
.w {
  width: 1200px;
  margin: 0 auto;
}
/*
    内容区样式开始
 */
.public_content .org_mien .org_mien_list {
  margin-top: 20px;
}
.public_content .org_mien .org_mien_list li {
  float: left;
  width: 279px;
  height: 279px;
  background: #ffffff;
  /*box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.12);*/
  border-radius: 7px;
  position: relative;
  margin-right: 24px;
  margin-bottom: 15px;
}
.public_content .org_mien .org_mien_list li:hover{
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.12);
}
.public_content .org_mien .org_mien_list li:nth-child(4n) {
  margin-right: 0;
}
.public_content .org_mien .org_mien_list li .org_mien_list_name {
  font-size: 18px;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #212121;
  line-height: 22px;
  margin: 10px 0 10px 15px;
}
.public_content .org_mien .org_mien_list li .org_mien_list_address {
  font-size: 14px;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #9e9e9e;
  line-height: 22px;
  margin: 0 10px 10px 15px;
}
.public_content .org_mien .org_mien_list li .org_mien_list_btn {
  width: 96px;
  height: 28px;
  display: block;
  border: 1px solid #FF4F2E;
  border-radius: 14px;
  font-size: 14px;
  font-family: SourceHanSansSC-Regular;
  font-weight: 400;
  color: #FF4F2E;
  line-height: 28px;
  text-align: center;
  -webkit-background-clip: text;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
