<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
        <div class="portlet light ">
            <div class="portlet-body">
               <div class="mt-element-step">
               	 <div class="row step-line">
                   	<volist name="node_list" id="node">
                        <div class="col-xs-2 mt-step-col <eq name='i' value='1'>first active<else/>done</eq>">
                            <div class="mt-step-number bg-white">
                            	<img style="margin-top:-8px;margin-left:-8px;" src="__STATICS__/apps/page_public/media/users/avatar80_1.jpg" width='52' class="img-circle"/>
                            </div>
                            <div class="mt-step-title uppercase font-grey-cascade" style="font-size:14px;">{$node.node_name}</div>
                        </div>
                       </volist>
                       <div class="col-xs-2 mt-step-col last active">
                           <div class="mt-step-number bg-white">
                              <i class="icon-user-following font-green-haze"></i>
                           </div>
                           <div class="mt-step-title uppercase font-grey-cascade" style="font-size:14px;">结束</div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </block>
	<block name="js">
		<script>
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.iframeAuto(index);//自适应弹窗高度
		</script>
	</block>
