<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<form action="{:U('sys_role_do_save')}" class="form-horizontal" method="post">
	            <input type="hidden" name="role_id" value="{$role_list.role_id}">
				<div class="layui-card-body layui-form">
					<div class="layui-row">
						<input type="hidden" name="role_id" value="{$role_list.role_id}">
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>角色名：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
									<input type="text" name="role_name" placeholder="角色名" lay-verify="required" autocomplete="off" class="layui-input" value="{$role_list.role_name}">
								</div>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>角色类型：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
									<select id="dept_no" name="role_type" lay-filter="state" lay-search="">
										<option value="">请选择</option>
										{:getBdTypeSelect('role_type','',$role_list['role_type'])}
									</select>
								</div>
							</div>
						</div>
						
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>备注：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
									<textarea name="memo" placeholder="这个文本域的最大长度为225个字符" class="layui-textarea">{$role_list.memo}</textarea>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<div class="layui-footer" style="text-align: right">
									<button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">提交</button>
									<button type="reset" id="close" class="layui-btn layui-btn-primary mr-40">取消</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</div>
</block>
<block name="js">
<script>
    $('#close').click(function () {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });

	layui.use([ 'form', 'laydate'], function() {
		var $ = layui.jquery
		, admin = layui.admin
		, element = layui.element
		, layer = layui.layer
		, laydate = layui.laydate
		, form = layui.form;
	})

</script>
</block>
