<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title><php>echo getConfig('web_name')</php>-微信端</title>
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/aui2/css/aui.css" />
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/sp_public.css"/>
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/aui2/css/aui-slide.css"/>    
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/sp_public_p5boss.css" />
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/sp_public_zhdj.css" />
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/sp_public_mobile.css" />
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/life/css/life_threeservices.css" />

<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/api.css"/>
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/aui/css/aui.css"/>
<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/Index/css/bd_index.css"/>
<style>
.aui-bar-info {background: url(__STATICS__/apps/page_wechat/public/images/header_bg_img.png) no-repeat center center;
  		background-size: 100% 100%;}
header ul li{
	display: block; !important;
}
</style>
</head>
<body>
	<header class="aui-bar aui-bar-nav aui-bar-info">
	    <ul>
	    	<li class="h-45">
	    		<a class="aui-pull-left" href="{:U('Index/index')}">
					<span class="aui-iconfont aui-icon-left"></span>首页
				</a> 
	    		<div class="aui-title f-w">三务公开</div>
	    		<!--<a class="aui-pull-right">
			        <i class="iconfont">&#xe68c;</i>
			    </a>-->
	    	</li>
	    </ul>
    </header>
	<!--banner-->
	<section class="">
		<div id="aui-slide">
		    <div class="aui-slide-wrap" >
		    	<volist name="ad_list" id="ad">
		    		<div class="aui-slide-node bg-dark">
		            	<img src="{$ad.ad_img}"  height="6rem" width="100%">
		       		</div>
		    	</volist>
		    </div>
		    <div class="aui-slide-page-wrap"><!--分页容器--></div>
		</div>
	</section>
	<div class="">
		<p class="over-h p-12em bb-1-df f-14em lh-20em color-ff1b1f">
			<span class="pull-left f-w color-33 mr-8em">当前组织: </span><span class="pull-left f-w">{$party_list.party_name}</span>
			<span class="pull-right w-60em h-20em lh-20em b-1-ff1b1e text-align bor-ra-4" onclick="openParty();">切换组织</span>
		</p>
		<div class="p-12em bb-1-df">
			<p class="f-14em lh-15em color-33 f-w">简介:</p>
			<p class="f-12em lh-15em color-75 mt-12em ml-8em mr-8em">{$party_list.memo}</p>
		</div>
	</div>
	<div class="">
		<div class="p-12em">
			<p class="f-14em lh-15em color-33 f-w">基本信息:</p>
			<ul class="f-12em mt-12em ml-8em mr-8em">
				<li class="h-60em b-1-df bg-color-f9 mb-8em" onclick="openAffairsInfo({$party_list['party_no']},1);" >
					<span class="w-40em h-40em m-10em bor-ra-100b pull-left bg-color-whiter text-align"><i class="iconfont color-ffae00 f-22em lh-40em p-0">&#xe837;</i></span>
					<p class="f-14em lh-60em color-33 ml-20em pull-left f-w">党务全透明公开</p>
					<i class="iconfont f-20em lh-60em color-b3 mr-20em pull-right">&#xe613;</i>
				</li>
				<li class="h-60em b-1-df bg-color-f9 mb-8em" onclick="openAffairsInfo({$party_list['party_no']},3);">
					<span class="w-40em h-40em m-10em bor-ra-100b pull-left bg-color-whiter text-align"><i class="iconfont color-ffae00 f-22em lh-40em p-0">&#xe837;</i></span>
					<p class="f-14em lh-60em color-33 ml-20em pull-left f-w">财务全透明公开</p>
					<i class="iconfont f-20em lh-60em color-b3 mr-20em pull-right">&#xe613;</i>
				</li>
				<li class="h-60em b-1-df bg-color-f9 mb-8em" onclick="openAffairsInfo({$party_list['party_no']},2);" >
					<span class="w-40em h-40em m-10em bor-ra-100b pull-left bg-color-whiter text-align"><i class="iconfont color-ffae00 f-22em lh-40em p-0">&#xe837;</i></span>
					<p class="f-14em lh-60em color-33 ml-20em pull-left f-w">政务全透明公开</p>
					<i class="iconfont f-20em lh-60em color-b3 mr-20em pull-right">&#xe613;</i>
				</li>
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/js/api.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/aui2/js/aui-slide.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/js/sp_public_p5boss.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/aui/js/aui-alert.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/life/js/life_threeservices.js"></script>
<script type="text/javascript">
function openParty(){
	location.href="{:U('Wechat/Life/life_affairs_party')}";
}
function openAffairsInfo(party_no,cat_id){
	location.href="{:U('Wechat/Life/life_affairs_list')}?party_no="+party_no+"&cat_id="+cat_id;
}
</script>
</html>