<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title><php>echo getConfig('web_name')</php>-微信端</title>
    <link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/aui2/css/aui.css"/>
	<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/aui2/css/aui-slide.css" />
	<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/sp_public.css"/>
    <link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/sp_public_mobile.css"/>
	<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/oa/css/oa_notice_edit.css" />
	<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/css/api.css"/>
	<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/public/aui/css/aui.css"/>
	<link rel="stylesheet" type="text/css" href="__STATICS__/apps/page_wechat/Index/css/bd_index.css"/>
    <style>
    	.w-9em{width: 0.45rem !important;}
    	.h-19em{height: 0.95rem !important;}
		.aui-bar-info {background: url(__STATICS__/apps/page_wechat/public/images/header_bg_img.png) no-repeat center center;
    		background-size: 100% 100%;}
    </style>
</head>
<body>
	<div class="aui-bar aui-bar-nav aui-bar-info">
		<ul>
			<li class="h-45em">
				<a class="aui-pull-left" href="{:U('Index/index')}">
					<span class="aui-iconfont aui-icon-left"></span>首页
				</a> 
				<div class="aui-title">发起公告</div>
			</li>
		</ul>
	</div>
	<form action="{:U('Oa/oa_email_do_save')}" id="forms" method="post" enctype="multipart/form-data">	
		<div class="mt-8em mb-12em pl-12em pr-12em bg-color-whiter">
			<pre class="pt-15em pb-15em f-12em lh-15em color-99 bb-1-df m-0" onclick="openPerson()">查看范围 <span class="pl-12em" id="notice_name"></span> <input type='hidden' id='notice_no' name='imail_receivers'  />    <i class="pull-right iconfont f-15em lh-15em color-ff3032 p-0"></i></pre>
			<pre class="pt-15em pb-15em f-12em lh-15em color-99 m-0">标 题 <input class="di-i w-220em pl-12em f-12em lh-15em h-15em color-33 b-0" type="text"  name="imail_title"/><i class="pull-right iconfont f-15em lh-15em color-ff3032 p-0"></i></pre>
		</div>
		<div class="p-12em mb-12em bg-color-whiter">
			<textarea class="w-100b h-150em f-15em lh-18em color-b3" name="imail_content" id="" placeholder="编辑你的公文内容"></textarea>
		</div>
		<div class="w-100b h-50em po-fix bottom-0 bg-color-whiter">
			<div class="m-a mt-8em w-350em h-34em f-14em lh-36em color-white text-align grad bor-ra-7" onclick='sub()'>发送</div>
		</div>
	</from>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/js/api.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/aui2/js/aui-pull-refresh.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/aui2/js/aui-slide.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/aui/js/aui-alert.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/public/js/sp_public_p5boss.js"></script>
<script type="text/javascript" src="__STATICS__/apps/page_wechat/oa/js/oa_notice_edit.js"></script>
<script type="text/javascript" src="__STATICS__/public/js/common.js"></script>
<script>
function openPerson(){
	location.href="{:U('Wechat/Ccp/ccp_communist_choice')}";
}
$(function(){
	$("#notice_name").text(D.getItem("communist_names"));
	$("#notice_no").val(D.getItem("communist_nos"));
	D.clear();
})
function sub(){
	$('#forms').submit();
}
</script>
<script type="text/javascript">
var current_index;//当前切换下标，主要是用来处理个人中心切换高度bug
function randomSwitchBtn(tag,type) {
	if($(tag).hasClass('active-info')){
		return ;
	}
    var eFootLis = $api.domAll('#aui-footer li'),
        eHeaderLis = $api.domAll('header li'),
        index = 0;
    for (var i = 0,len = eFootLis.length; i < len; i++) {
        if( tag == eFootLis[i] ){
            index = i;
        }else{
            $api.removeCls(eFootLis[i], 'active-info');
            $api.removeCls(eHeaderLis[i], 'active');
        }
    }
    $api.addCls( eFootLis[index], 'active-info');
    $api.addCls( eHeaderLis[index], 'active');
    switch(type){
	    case '1':
	    	location.href="{:U('Wechat/Index/index')}";
	    	;break;
	    case '2':
	    	location.href="{:U('Wechat/Ccp/ccp_party_index')}";
	    	;break;
	    case '3':
	    	location.href="{:U('Wechat/Index/party_interaction')}";
	    	;break;
		case '4':
			location.href="{:U('Wechat/Index/')}";
			;break;
	    default:
	    	location.href="{:U('Wechat/Ccp/ccp_communist_info')}";
	    	;break;
    }
}	
	
</script>
</body>
</html>
