<extend name="./apps/Common/Template/temp.html" />
<block name="css">
<style type="text/css">
		.page-content-wrapper .page-content {
		    margin-top: 0;
		    min-height: 300px !important;
		    padding: 25px 20px 10px;
		}
	</style>
</block>
      <block name="body">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-content">
					<div class="layui-row layui-col-space10">
                         <div class="layui-col-md3">
							<div class="layui-card">
				                <form class="layui-form">
				                    <div class="layui-card-header">党员列表</div>
				                    <div class="layui-card-body" style="overflow-y:auto">
				                        <div class="over-h-tree">
				                            <ul id="treeDemo" class="ztree ztree-demo">
			
				                            </ul>
				                        </div>
				                    </div>
				                </form>
				            </div>
						</div>
                        <!-- 左侧结束 -->
                        <!-- 右侧开始 -->
                         <div class="layui-col-md9">
	            <div class="layui-row">
	                <div class="layui-col-xs12">
	                    <div class="layui-card">
	                        <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"><php>echo getFunctionInfo(ACTION_NAME);</php></div>
	                        <div class="layui-form layui-card-body fitheight">
	                           
								 <div class=""  data-always-visible="1" data-rail-visible1="1" id="Broke">
                                        <div id="Broken5" style="height: 400px;width: 100%" alt="对标体系折线图"></div>
                                    </div>
	                            </table>
	                            
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
                        
                    
                    </div><!-- row结束 -->
                </div>
            </div>
        </div>
     </block>
 
	<block name="js">
		<script>
		$.post("{:U('perf_hr_comparison_table')}",{party_no:1},function(e){
			$("#Broke").html(e);
		});


	    $(".over-h-tree").css("height",($(window).height()-135));
			  var zTreeObj;
        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
        var setting = {
            data: {
                simpleData: {
                    enable: true
                },
                key: {
                    title: "t"
                },
            },
            callback: {
                onClick: onClick//绑定回调函数
            },
            view: {
            	showIcon: true,
                showLine: false,
            }
        };
		//$('#client_table').bootstrapTable('refresh',{url:"{:U('pf_assess_set_index_data')}?party_no="+party_no+"&group='party'"});
        // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
        var zNodes = [
            <volist name="category_list" id="list"  key = 'k'>
            { id:"{$list.party_no}",pId:{$list.party_pno},type:"{$list.is_communistmember}", name:"{$list.party_name}",t:"{$list.party_name}" ,icon:"__STATICS__/layuiadmin/style/res/wenjianjia-2.png",<eq name='list.party_pno' value='0'>open:true</eq>},
			</volist>
        ];
        $(document).ready(function(){
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
        
        
        function onClick(e, treeId, treeNode) {
			var party_no=treeNode.id;

			var data={party_no:party_no};
			$.post("{:U('perf_hr_comparison_table')}",data,function(e){
				$("#Broke").html(e);
			})
        }
		</script>
	</block>