<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body layui-form">
					<form action="{:U('supervise_case_hear_save')}" id="form_validation"  class="form-horizontal" method="post">
					<div class="layui-row">
						
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs4 text-r fsize-14 fcolor-65 lh-35"><strong>处理意见：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
									<textarea id="case_h_view" class="  form-control " maxlength="225" rows="3" placeholder="这个文本域的最大长度为225个字符." name="case_h_view"></textarea>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
									<div class="layui-footer" style="text-align: right">
									<input type="hidden" name="status" value="{$status}" />
									<input type="hidden" name="case_id" value="{$case_id}" />
									<button class="layui-btn" type="submit" lay-submit="" lay-filter="component-form-demo1">提交</button>
									<a  onclick="bd_colse()" class="layui-btn layui-btn-primary mr-40">取消</a>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
<SCRIPT type="text/javascript">
	layui.use([ 'form', 'laydate'], function() {
        var $ = layui.jquery
                , admin = layui.admin
                , element = layui.element
                , layer = layui.layer
                , laydate = layui.laydate
                , form = layui.form;
        form.render(null, 'component-form-group');
        laydate.render({
            elem: '#LAY-component-form-group-date'
        });
    })
	laydate.render({elem: "input[name='chat_time']",type:'datetime'});
</SCRIPT>
<script type="text/javascript">
	var index = parent.layer.getFrameIndex(window.name);
	parent.layer.iframeAuto(index);//自适应弹窗高度
	$('#close').click(function() {
		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
	});
</script>
<script type="text/javascript" >
    $("#form_validation").validate({
	    	
    });
	
</script>
</block>