<div id="table" class="scroller p5-right-table-scroller"
	data-always-visible="1" data-rail-visible1="1"">
	<table id="client_table" class="table" data-toggle="table"
		data-url='{:U("edu_material_table_data",array("material_cat"=>$cat_id,"keyword"=>$post[keyword],"start_time"=>$post[start_time],"end_time"=>$post[end_time]))}'
		data-page-size="100" data-height="" data-search="false"
		data-show-refresh="false" data-show-toggle="false"
		data-show-columns="false" data-show-export="false"
		data-detail-view="false" data-detail-formatter="detailFormatter"
		data-minimum-count-columns="2" data-show-pagination-switch="false"
		data-pagination="true" data-id-field="id"
		data-page-list="[10, 25, 50, 100, ALL]">
		<thead>
			<tr>
				<!-- <th data-checkbox="true"></th> -->
				<th data-field="material_id" data-align="center"
					data-sortable="true">资料编号</th>
				<th data-field="material_thumb" data-align="center"
					data-sortable="true">缩略图</th>
				<th data-field="material_title" data-align="center"
					data-sortable="true">资料标题</th>
				<th data-field="add_staff" data-align="center" data-sortable="true">添加人</th>
				<th data-field="add_time" data-align="center" data-sortable="true">添加时间</th>
				<th data-field="operate" data-align="center" data-sortable="true">操作</th>
			</tr>
		</thead>
	</table>
</div>

<script type="text/javascript" src="__STATICS__/plugins/jquery.min.js"></script>
<script type="text/javascript"
	src="__STATICS__/plugins/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript"
	src="__STATICS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
