<div  class="public_content bg-color-gray9">
    <!--左侧导航区开始-->
    <div class="public_content_left career_slide">
     {:W('Leftmenu/ipam_home_slide', array(2,'1'))}
    </div>
    <!--左侧导航区结束-->
    <!--右侧内容区开始-->
    <div class="w-980 pull-right">
        <div class="career_content_card w-300 h-600 bor-ra-6 di-ib over-h shadow_gray mr-20">
            <div>
                <div class="bg-color-linear_red h-150 po-re">
                    <div class="center-ver ml-35">
                        <p class="fcolor-white fsize-28">工作流程</p>
                        <p class="fcolor-ffe0e0 fsize-16 mt-15">便民大厅的服务流程</p>
                    </div>
                    <div class="p-40 hr-s-fff1 bor-ra-50b di-ib pull-right mr-40m mt-25m">
                        <img src="__STATICS__/apps/page_portal/images/career_service_icon1.png" class="di-b hr-s-fff1 bor-ra-50b p-25" alt="icon">
                    </div>
                </div>
                <ul class="career_content_list h-350 pl-10 pr-10 fcolor-ff4c4d">
                    <li class="ml-25 lh-60">
                        <a href="javascript:;" class="fcolor-33">党员组织关系转出流程图</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">党员组织关系转入流程图</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">农村低保申请审批流程图</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">残疾证申请流程图</a>
                    </li>
                </ul>
            </div>
            <div class="h-100 hr-st-dfdfdf po-re">
                <div class="career_content_btn w-130 h-35 lh-33 center-text center-ver-hor bor-ra-4 hr-s-ff3131">
                    <a href="{:U('Life/ipam_service_detail',array('type' => 'flow'))}" class="fcolor-f33">点击进入</a>
                </div>
            </div>
        </div>
        <div class="career_content_card w-300 h-600 bor-ra-6 di-ib over-h shadow_gray mr-20">
            <div>
                <div class="bg-color-linear_blue h-150 po-re">
                    <div class="center-ver ml-35">
                        <p class="fcolor-white fsize-28">服务政策</p>
                        <p class="fcolor-ffe0e0 fsize-16 mt-15">最新的便民服务政策</p>
                    </div>
                    <div class="p-40 hr-s-fff1 bor-ra-50b di-ib pull-right mr-40m mt-25m">
                        <img src="__STATICS__/apps/page_portal/images/career_service_icon2.png" class="di-b hr-s-fff1 bor-ra-50b p-25" alt="icon">
                    </div>
                </div>
                <ul class="career_content_list h-350 pl-10 pr-10 fcolor-934df0">
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">服务信息</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">民政所</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">统计审计经营站</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">劳动保障所</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">新农合办公室</a>
                    </li>
                </ul>
            </div>
            <div class="h-100 hr-st-dfdfdf po-re">
                <div class="career_content_btn w-130 h-35 lh-33 center-text center-ver-hor bor-ra-4 hr-s-ff3131">
                    <a href="{:U('Life/ipam_service_detail',array('type' => 'service'))}" class="fcolor-f33">点击进入</a>
                </div>
            </div>
        </div>
        <div class="career_content_card w-300 h-600 bor-ra-6 di-ib over-h shadow_gray">
            <div>
                <div class="bg-color-linear_red h-150 po-re">
                    <div class="center-ver ml-35">
                        <p class="fcolor-white fsize-28">联系方式</p>
                        <p class="fcolor-ffe0e0 fsize-16 mt-15">附近的便民联系方式</p>
                    </div>
                    <div class="p-40 hr-s-fff1 bor-ra-50b di-ib pull-right mr-40m mt-25m">
                        <img src="__STATICS__/apps/page_portal/images/career_service_icon3.png" class="di-b hr-s-fff1 bor-ra-50b p-25" alt="icon">
                    </div>
                </div>
                <ul class="career_content_list h-350  pl-10 pr-10 fcolor-ff573d">
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">QQ资讯：930041993</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">民政所:750-3183</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">老丁热线：139-4567-8896</a>
                    </li>
                    <li class="lh-60 ml-25">
                        <a href="javascript:;" class="fcolor-33">劳动保障所：4578963</a>
                    </li>
                    <li class="lh-60  ml-25">
                        <a href="javascript:;" class="fcolor-33">新农合办公室:198-4893-4869</a>
                    </li>
                </ul>
            </div>
            <div class="h-100 hr-st-dfdfdf po-re">
                <div class="career_content_btn w-130 h-35 lh-33 center-text center-ver-hor bor-ra-4 hr-s-ff3131">
                    <a href="{:U('Life/ipam_service_detail',array('type' => 'contact'))}" class="fcolor-f33">点击进入</a>
                </div>
            </div>
        </div>
    </div>
    <!--右侧内容区结束-->
    <div class="clearfix"></div>
</div>