<div class="public_content bg-color-gray9 news_content">
    <!--左侧导航区开始-->
    <div class="public_content_left career_slide">
    {:W('Leftmenu/ipam_home_slide', array(2,'3'))}
    </div>
    <!--左侧导航区结束-->
    <!--右侧内容区开始-->
    <div class="public_content_right">
        <p class="pull-left w-120 fcolor-99 fsize-16 lh-42 text-r mr-15">选择问题类型：</p>
        <div class="pull-left mt-5">
            <select class="fcolor-33 fsize-16 lh-22 select_o2o w-270 h-30 ipam_input" name="">
                <option value="">请求扶贫</option>
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="mt-20">
            <p class="pull-left w-120 fcolor-99 fsize-16 lh-42 text-r mr-15">标题：</p>
            <div class="mt-5 pull-left">
                <input class="input_o2o fsize-16 ipam_input" type="text" placeholder="请输入标题">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mt-20">
            <p class="pull-left w-120 fcolor-99 fsize-16 lh-42 text-r mr-15">具体内容：</p>
            <textarea class="textarea_o2o fsize-16 mt-5 ipam_input" placeholder="请输入你想说的内容"></textarea>
        </div>
        <div class="mt-20">
            <p class="pull-left w-120 fcolor-99 fsize-16 lh-42 text-r mr-15">具体内容：</p>
            <input type="file" class="mt-10">
            <div class="clearfix"></div>
        </div>
        <div class="mt-20">
            <p class="pull-left w-120 fcolor-99 fsize-16 lh-42 text-r mr-15">姓名：</p>
            <div class="mt-5 pull-left">
                <input type="text" class="fsize-16 ipam_input input_o2o">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mt-20">
            <p class="pull-left w-120 fcolor-99 fsize-16 lh-42 text-r mr-15">电话：</p>
            <div class="mt-5 pull-left">
                <input type="text" class="input_o2o fsize-16 ipam_input">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mt-60">
            <div class="w-340 center-block">
                <div class="otwoo_btn otwoo_btn_submit mr-60">
                    <a href="javascript:;" class="fcolor-white">提交</a>
                </div>
                <div class="otwoo_btn otwoo_btn_reset">
                    <a href="javascript:;" class="fcolor-f33">重置</a>
                </div>
            </div>
        </div>
    </div>
    <!--右侧内容区结束-->
    <div class="clearfix"></div>
</div>