.orderBackTitle{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.serviceDetail{
    margin-top: 10px;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
}
.serviceDetail dl{
    margin-top: 10px;
}
.serviceDetail dt{
    margin-left: 20px;

}
.serviceDetail dd{
    margin-left: 5px;
}
.serviceDetail p{
    margin-top: 10px;
}
.laterInfo{
    background: #fff;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.laterInfo .last{
    margin-top: -30px;
    margin-left: -17px;
}
.laterInfo .line{
    margin-left: -3px;
}
.process{
    margin-top: 20px;
    margin-left: 60px;
}
.process dl dd{
    margin-left: -15px;
    color: #7abd54;
}
.process span{
    margin-top: 35px;
    display: block;
}
.handleInfo{
    background: #fff;
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.handleInfo h4{
    margin-bottom: 10px;
}
.handleInfo .leftName{
    width:20%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #ccc ;
    border-top: 1px solid #ccc ;
    text-align: center;
}
.handleInfo .rightContent{
    width:80%;
    border-left: 1px solid #ccc ;
    border-top: 1px solid #ccc ;
    border-right: 1px solid #ccc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.handleInfo .last{
    border-bottom: 1px solid #ccc;
}
.leftHandle{
    border-right: 1px solid #000;
    padding-bottom: 60px;
}
.handleLeftBottom{
    width:1px;
    height:120px;
    border:1px solid #7abd54;
    margin-left: 67px;
}
.handleLeft{
    margin-left: 20px;
}
.handleRight{
    margin-left: 20px;
}
.handleRight>div{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.handleTable{
    margin-top: 45px;
}