<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
    <div class="layui-row ">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"> <php>echo getFunctionInfo(ACTION_NAME);</php></div>
                <div class="layui-form layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs1 text-r lh-40">
                            活动名称：
                        </div>
                        <div class="layui-col-xs2 ">
                            <input class="layui-input" id="activity_title" autocomplete="off" placeholder="请输入活动名称">
                        </div>
                        <div class="layui-col-xs3 pull-right">
                           <a class="layui-btn" data-type="reload" lay-filter="searchFilter" style="text-decoration: none;" title="查询">查询</a>
                           <a data-type="add" class="layui-btn table-add "  style="text-decoration: none;" title="添加">新增活动</a>
                        </div>

                    </div>
                    <table class="layui-table" id="demo"  lay-filter="demo"></table>
                    <script type="text/html" id="operate">
                        <a class=" layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                        <a class="layui-btn layui-btn-del layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
<script>
layui.use(['element','form'], function() {
	var $ = layui.$
    , admin = layui.admin
    , element = layui.element
    , form = layui.form
    , router = layui.router();
	form.render();
	// 默认显示的 表格
	layui.use('table', function () {
	    var table = layui.table;
	    table.render({
	        elem: '#demo'
	        , url: "{:U('life_volunteer_activity_index_data')}"
	        , height: 'full-160'
	        , id: 'ztreedata'
	        , cols: [[
	        	{field: 'activity_id', width: '8%',  title: '编号', sort: true}
                ,{field:'activity_title', title:'志愿者活动名称', width: '20%'}
                ,{field:'activity_time', title:'活动时间', width: '20%'}
                ,{field:'activity_address', title: '活动地点', width: '18%'}
                ,{field:'activity_organizer', title: '组织者', width: '13%'}
                ,{field:'communist_num', title: '人数', width: '8%'}
                /*,{field: 'operate',  title: '操作',align: 'center'}*/
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#operate'}
	        ]]
	        , page: true
	    });
	    //监听表格复选框选择
	    table.on('checkbox(demo)', function(obj){
	        console.log(obj)
	    });
	    table.on('tool(demo)', function(obj){
	        var data = obj.data;
	        if(obj.event === 'detail'){
            var index = layer.open({
               type: 2,
               title: false,
               end:false,
               closeBtn: 0,
               shift: 1,
               content: "{:U('life_volunteer_activity_info')}?activity_id="+data.activity_id+"",
               area: ['300px', '300px']
            });
            layer.full(index);
        	} else if(obj.event === 'del'){
          	layer.confirm('确认删除该数据吗？', function(index){
            	window.location='{:U("life_volunteer_activity_delete")}?activity_id='+data.activity_id+'';
          	});
        	}
      	});
	    //监听工具条
	    var $ = layui.$, active = {
	        reload: function(){
	            var activity_title = $('#activity_title').val();
	            table.reload('ztreedata', {
	                page: {
	                  curr: 1 
	                }
	                ,where: {
	                    "activity_title": activity_title
	                }
	            });
	        },
          add: function(){
              var party_no = $('#party').val();
              var index = layer.open({
                 type: 2,
                 title: false,
                 end:false,
                 closeBtn: 0,
                 shift: 1,
                 content: "{:U('Lifevolunteer/life_volunteer_activity_edit')}",
                 area: ['300px', '300px']
              });
              layer.full(index);
          }
      };
	    $('.layui-form .layui-btn').on('click', function(){
	        var type = $(this).data('type');
	        active[type] ? active[type].call(this) : '';
	    });
	});
});
</script>
</block>