<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>民生服务</title>    
    <link rel="stylesheet" href="__STATICS__/apps/page_allinone/public/css/sp_public.css">
    <link rel="stylesheet" href= "__STATICS__/apps/page_allinone/livelihood/css/livelihood.css">
</head>
<style type="text/css">
.title {
    width: 1123px;
    height: 209px;
    margin: 0 auto;
    margin-top: 120px;
}
.hand_con {
    position: relative;
    width: 1445px;
    margin: 0 auto;
    margin-top: 50px;
}
</style>
<body class="bg">
   <header class="title clearfix" style="text-align: center;width: 1650px;" >
    <img src="__STATICS__/apps/page_allinone/public/images/allinone_icon.png" alt="智慧党建自助服务终端" style="vertical-align:middle; width: 13%"> 
    <span class="pl-10 pt-50" style="font-size: 92px; font-weight:600; color: #2b2b2b;vertical-align:middle;">{$web_name}一体机</span>
	</header>
<div class="hand_con clearfix">
	<div class="live_con_bg ">
		<foreach name="cat_list" item="list">
			<li>
				<a class="nolink" href="{:U('News/party_news_index',array('cat_id' =>$list['cat_id']))}"><img src="__STATICS__/apps/page_allinone/livelihood/images/live_window.png">
				<div>{$list.cat_name}</div></a>
			</li>
		</foreach>
	</div>
	
	<!--底部-->
		<div class="clearfix live_footer">
			<a href="../index.html">
				<div class="pull-left back_bg">
					<img class="pull-left" src="__STATICS__/apps/page_allinone/livelihood/images/back.png">
					<div class="pull-left">返回</div>
				</div>
			</a>
			<div class="pull-right back_live">
				<img class="pull-left" src="__STATICS__/apps/page_allinone/livelihood/images/live_bus.png">
				<div class="pull-left">民生服务</div>
			</div>
		</div>
	
</div>


<script src="__STATICS__/apps/page_allinone/public/js/jquery.min.js"></script>

<script src="__STATICS__/apps/page_allinone/livelihood/js/livelihood.js"></script>
</body>
</html>