<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">{:getFunctionInfo(ACTION_NAME)}</div>
				<div class="layui-form layui-card-body">
					<div class="layui-row layui-col-space5">
						
						<div class="layui-col-xs1 text-r lh-40">
							关键字：
						</div>
						<div class="layui-col-xs2 ">
							<input class="layui-input" name="keywords" id="keywords" autocomplete="off" placeholder="内容或人员">
						</div>
						<div class="layui-col-xs1 text-r lh-40">
							时间：
						</div>
						<div class="layui-col-xs2 ">
							<input class="layui-input" name="start_time" id="start_time" autocomplete="off" placeholder="选择开始日期">
						</div>
						<div class="layui-col-xs1 center-text lh-40">
							至
						</div>
						<div class="layui-col-xs2 ">
							<input class="layui-input" name="end_time" id="end_time" autocomplete="off" placeholder="选择结束日期">
						</div>
						<div class="layui-col-xs3 text-r">
							<button class="layui-btn" id="seach">查询</button>
							<a class="layui-btn" href="{:U('sys_log_del')}" id="seach">清空</a>
							
						</div>
					</div>
					<table class="layui-hide" id="test" lay-filter="demo"></table>
					<script type="text/html" id="barDemo">
						{{#  if(d.operate == 1){ }}
						<a class="layui-btn  layui-btn-xs layui-btn-f60" lay-event="auth">数据权限</a>
						{{#  } }}
						<a class="layui-btn layui-btn-del layui-btn-xs" lay-event="edit">编辑</a>
						 
						{{#  if(d.status == 1){ }}
							<a class="layui-btn layui-btn-f60 layui-btn-xs" lay-event="del">停用</a>
						{{#  } else{ }}
							<a class="layui-btn layui-btn-del layui-btn-xs"  lay-event="del">启用</a>
						{{#  } }}
					</script>
					<script type="text/html" id="user_status">
						{{#  if(d.status == 1){ }}
							<span>可用</span>
						{{#  } else{ }}
							<span>不可用</span>
						{{#  } }}
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
<script type="text/html" id="switchTpl">
	<!-- 这里的 checked 的状态只是演示 -->
	<input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="可用|不可用" lay-filter="sexDemo" {{ d.id == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="checkboxTpl">
	<!-- 这里的 checked 的状态只是演示 -->
	<input type="checkbox" name="lock" value="{{d.id}}" title="锁定" lay-filter="lockDemo" {{ d.id == 10006 ? 'checked' : '' }}>
</script>
<script>
	layui.use('table', function(){
		var table = layui.table
				,form = layui.form;
		table.render({
			elem: '#test'
			,url:"{:U('sys_log_index_data')}"
			,cellMinWidth: 80
			,height:'full-155'
			,cols: [[
				{field:'log_id', title:'编号',width:'20%',align: 'center', unresize: true, sort: true}
				,{field:'log_newcontent', width:'40%',title:'内容',align: 'center'}
				,{field:'add_time', title: '时间',width:'20%',align: 'center', sort: true}
				,{field:'add_communist_name', width:'20%',title:'操作人',align: 'center' , unresize: true}
				
			]]
			,page: true
		});
		
	});
	layui.use([ 'form'], function(){
		var $ = layui.$
				,admin = layui.admin
				,element = layui.element
				,form = layui.form;
		form.render()
		form.render(null, 'component-form-element');
		form.on('submit(component-form-element)', function(data){
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
	//时间选择器
	layui.use('laydate', function() {
		var laydate = layui.laydate;
		//常规用法
		laydate.render({
			elem: '#start_time',
			//range: true
		});
		laydate.render({
			elem: '#end_time',
			//range: true
		});
	})
	//添加按钮的点击事件
	$(".table-add").click(function () {
		layer.open({
			type: 2,
			title:'{:getFunctionInfo(ACTION_NAME)}',
			area:['1000px', '450px'],
			content: "{:u('sys_user_edit')}" //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
		});
	})
	$('#seach').click(function(){
		var keywords = $("#keywords").val();
		var start_time = $("#start_time").val();
		var end_time = $("#end_time").val();
		layui.use('table', function(){
			var table = layui.table
					,form = layui.form;
			table.render({
				elem: '#test'
				,url:'{:U("sys_log_index_data")}?keyword='+keywords+'&start_time='+start_time+'&end_time='+end_time
				,cellMinWidth: 80
				,height:'full-155'
				,cols: [[
					{field:'log_id', title:'编号',width:'20%',align: 'center', unresize: true, sort: true}
					,{field:'log_newcontent', width:'40%',title:'内容',align: 'center'}
					,{field:'add_time', title: '时间',width:'20%',align: 'center', sort: true}
					,{field:'add_communist_name', width:'20%',title:'操作人',align: 'center' , unresize: true}
				]]
				,page: true
			});
		});
	})
</script>
</block>
