<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="portlet light  bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <div class="cont-col1">
                                <div class="label label-sm bg-color-blue">
                                    <i class="iconfont">&#xe652;</i>
                                </div>
                                <span class="bold "><php>echo getFunctionName(ACTION_NAME);</php></span>
                            </div>
                        </div>
                    </div>
                    <neq name="industry" value="pam">
                        <div class="pull-right text-right pr-10 ">
                            <a class="btn blue btn-outline mb-10" href="{:U('life_vote_index')}" id="life_article_edit"> 活动申请 <i class="fa fa-plus"></i>
								</a>
                        </div>
                    </neq>
                    <table class="table table-condensed table-striped" data-toggle="table" data-url="{:U('life_vote_apply_data')}" data-height="450" data-search="false" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-show-export="false" data-detail-view="false" data-detail-formatter="detailFormatter" data-minimum-count-columns="2" data-show-pagination-switch="false" data-pagination="true" data-id-field="id" data-page-list="[10, 25, 50, 100, ALL]">
                        <thead>
                            <tr>
                                <!-- <th data-checkbox="false"></th> -->
                                <th data-field="apply_id" data-align="center" data-sortable="true">编号</th>
                                <th data-field="apply_communist" data-align="center" data-sortable="true">提交人</th>
                                <th data-field="apply_name" data-align="center" data-sortable="true">申请人姓名</th>
                                <th data-field="apply_idcard" data-align="center" data-sortable="true">身份证号</th>
                                <th data-field="status" data-align="center" data-sortable="true">状态</th>
                                <th data-field="operate" data-align="center" data-sortable="true">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js"></block>