<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<div class="cont-col1">
									<div class="label label-sm bg-color-blue">
										<i class="iconfont">&#xe652;</i>
									</div>
									<span class="bold ">
										<php>echo getFunctionInfo(ACTION_NAME);</php>
									</span>
								</div>
							</div>
						</div>
						<!-- END PAGE TITLE-->
						<!-- END PAGE HEADER-->
						<div class="blog-img-thumb">
							<a href="javascript:;"> {$apply_data.apply_content} </a>
						</div>
						<br />
						<div class="blog-comments">
							<form action="{:U('life_apply_check')}" method="post">
								<input type="hidden" name="apply_id" value="{$apply_data.apply_id}">
									<div class="form-group  mt-5 col-sm-12 ">
										<div class="row">
											<div class="form-group  mt-5 col-sm-12 right">
												<div class="form-group">
													<div class="md-radio-inline">
														<div class="md-radio">
															<input type="radio" id="radio1" name="status" value="1" class="md-radiobtn" checked>
															<label for="radio1">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																通过
															</label>
														</div>
														<div class="md-radio">
															<input type="radio" id="radio2" name="status" value="2" class="md-radiobtn">
															<label for="radio2">
																<span></span>
																<span class="check"></span>
																<span class="box"></span>
																驳回
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> 
									<textarea id="maxlength_textarea" name="apply_explain" class="  form-control " maxlength="800" rows="4" placeholder="这个文本域的最大长度为225个字符.">{$apply_data.apply_explain}</textarea>
									<eq name="apply_data.status" value="0">
										<div class="form-group">
											<button type="submit" class="btn blue uppercase btn-md sbold mt-20 btn-block">提交</button>
										</div>
									</eq>
									<neq name="apply_data.status" value="0">
									 	<a href="{:U('life_vote_apply_index')}" class="btn btn-sm blue w-75 bor-ra-2 mr-10 mt-20 pull-right">返回</a> 
									 </neq>
								</form>
							<br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="js"></block>
