<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
    <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME.session('cat'));</php>"> <php>echo getFunctionInfo(ACTION_NAME.session('cat'));</php></div>
                <form id="form_sample_2" action="{:U('cms_article_do_save')}" method="post" class="form-horizontal layui-form" enctype="multipart/form-data">
                    <div class="layui-card-body layui-form">
                        <input type="hidden" class="form-control" name="article_id" value="{$article.article_id}">
                        <input type="hidden" class="form-control" name="article_cat" value="{$cat_id}">
                        <div class="layui-row">
                            <div class="layui-col-xs12 mt-10">
                                <div class="layui-row">
                                    <div class="layui-col-xs2 text-r fsize-214 fcolor-65 lh-35"><strong>所属类型：</strong></div>
                                    <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35">
                                        <select name="article_cat" lay-filter="aihao" lay-search="" lay-verify='required' <eq name="service" value="4"> disabled="disabled"</eq>>
                                            <if condition="($cat_type != 1) and !empty($cat_type)">
                                                {$category_list}
                                            <else/>
                                                <volist name="category_list" id="list">
                                                    <option value="{$list.cat_id}" <eq name="list.cat_id" value="$cat_id">selected</eq>
                                                    >{$list.cat_name}</option>
                                                </volist>
                                            </if>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs12 mt-10">
                                <div class="layui-row">
                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>所属组织：</strong></div>
                                    <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35">
                                        <select name="party_no" lay-search id="party_no" lay-verify='required'>
                                            <php>echo getPartySelect($article['party_no'])</php>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-xs12 mt-10">
                                    <div class="layui-row">
                                        <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>文章标题：</strong></div>
                                        <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35"> <input type="text" name="article_title" value="{$article.article_title}" placeholder="请输入文章标题" autocomplete="off" class="layui-input" lay-verify='required' maxlength="50"></div>
                                        <span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs12 mt-10">
                                <div class="layui-row">
                                    <div class="layui-col-xs2 text-r fsize-214 fcolor-65 lh-35"><strong>文章指向：</strong></div>
                                    <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35">
                                        <select name="article_point" lay-filter="aihao" lay-search="" lay-verify='required' >
                                            <option value="0" >请选择</option>
                                            <php>echo getBdTypeSelect('article_point_type','',$article['article_point']);</php>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-xs12 mt-10">
                                    <div class="layui-row">
                                        <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>文章关键字：</strong></div>
                                        <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35"> <input type="text" name="article_keyword" value="{$article.article_keyword}" placeholder="请输入关键字" autocomplete="off" class="layui-input" maxlength="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-xs12 mt-10">
                                    <div class="layui-row">
                                        <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>来源：</strong></div>
                                        <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35"> <input type="text" name="article_source" value="{$article.article_source}" placeholder="请输入来源" autocomplete="off" class="layui-input"  maxlength="100"></div>
                                        <!-- <span class="fcolor-red fsize-18 lh-35 pl-5">*</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-xs12 mt-10">
                                    <div class="layui-row">
                                        <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>文章描述：</strong></div>
                                        <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35">
                                            <textarea name="article_description" placeholder="请输入文章描述,最长字符225" maxlength="225" class="layui-textarea">{$article.article_description}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs12 mt-10">
                                <div class="layui-row">
                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>文章内容：</strong></div>
                                    <div class="layui-col-xs8 fsize-14 fcolor-65 ">
                                        <script id="editor" name="article_content" type="text/plain" style="height:350px;width:100%">{$article.article_content}</script>
                                        <!-- <textarea id="article_content" name="article_content">{$article.article_content}</textarea> -->
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs12 mt-10">
                                <div class="layui-row">
                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>缩略图：</strong></div>

                                    <input type="hidden" id="source_name" name="source_name" value="" />
                                    <input type="hidden" id="article_thumb_old" name="article_thumb_old" value="{$article.article_thumb}" style="width: 60px">
                                    <input type="hidden" id="article_thumb" name="article_thumb" value="{$article.article_thumb}" style="width: 60px">
                                    <input type="hidden" class="form-control" id="article_img" name="article_img" value="{$article.article_thumb}">

                                    <button type="button" class="layui-btn" onclick="uploader_file('cms','1','article_thumb','source_name','js-grid-juicy-projects2','2','0')"><i class="layui-icon"></i>上传文件</button>
                                    <span class="fcolor-red fsize-14 lh-35 pl-5">建议图片比例为4:3,图片大小不要超过1M</span>
                                    <div id="js-grid-juicy-projects2" style="height:100px">
                                        <neq name="article.article_thumb" value="">
                                            <php>echo getUploadHtml($article['article_thumb']);</php>
                                        </neq>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-xs12 mt-10">
                                <div class="layui-row">
                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>附件：</strong></div>

                                    <input type="hidden" id="source_name2" name="source_name2" value="" />
                                    <input type="hidden" id="article_thumb_old2" name="article_thumb_old2" value="" style="width: 60px">
                                    <input type="hidden" id="article_attach" name="article_attach" value="{$article.article_attach}" style="width: 60px">
                                    <input type="hidden" class="form-control" id="article_img2" name="article_img2" value="{$article.article_attach}">

                                    <button type="button" class="layui-btn" onclick="uploader_file('cms','1','article_attach','source_name2','js-grid-juicy-projects','2','1')"><i class="layui-icon"></i>上传文件</button>
                                    <div id="js-grid-juicy-projects" class="cbp" style="height:100px">
                                        <neq name="article.article_attach" value="">
                                            <php>echo getUploadHtml($article['article_attach']);</php>
                                        </neq>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-footer" style="text-align: right">
                                        <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary mr-40" onclick="layer_colse();">返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</block>
<block name="js">
<script>
    function layer_colse() {
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    }
    layui.use([ 'form', 'laydate'], function() {
        var $ = layui.jquery
                , admin = layui.admin
                , element = layui.element
                , layer = layui.layer
                , laydate = layui.laydate
                , form = layui.form;
        form.render(null, 'component-form-group');
        laydate.render({
            elem: '#LAY-component-form-group-date'
        });
    })

    layui.use('layedit', function(){
        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: "{:U('System/public/layedit_upload')}" //接口url
              , type: 'post' //默认post
            }
        });
        layedit.build('article_content'); //建立编辑器
    });
</script>
</block>