<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>    
    <link rel="stylesheet" href="__STATICS__/apps/page_allinone/public/css/sp_public.css">
    <link rel="stylesheet" href= "__STATICS__/apps/page_allinone/community/css/style_info.css">
</head>
<body class="bg">
    <a onclick="window.history.go(-1);"><div class="back1"><img src="__STATICS__/apps/page_allinone/community/images/back1_bg.png"></div></a>
   <header class="title clearfix" style="text-align: center;width: 1650px;" >
    <img src="__STATICS__/apps/page_allinone/public/images/allinone_icon.png" alt="智慧党建自助服务终端" style="vertical-align:middle; width: 4.5%"> 
    <span class="pl-10 pt-50" style="font-size: 48px; font-weight:600; color: #2b2b2b;vertical-align:middle;">{$web_name}一体机</span>
    </header>
<div class="hand_con clearfix">
    <div class="clearfix style_tit">
        <img class="pull-left" src="__STATICS__/apps/page_allinone/community/images/style_bg.png">
        <div class="pull-left">三务公开详情</div>
    </div>
    <div class="style_con">
        <div class="style_con_tit">{$article_info.article_title}</div>
        <div class="clearfix style_con_add">
            <div class="pull-left">时间：{$article_info.add_time}</div>
            <div class="pull-right">发布人：{$article_info.add_communist_name}</div>
        </div>
        <div class="style_con_cont">{$article_info.article_content}</div>
    </div>
    <!--底部-->
        <!--<div class="clearfix live_footer">
            <a href="../sp_service/sp_service.html">
                <div class="pull-left back_bg">
                    <img class="pull-left" src="images/back.png">
                    <div class="pull-left">返回</div>
                </div>
            </a>
            <div class="pull-right back_live">
                <img class="pull-left" src="images/service_bus.png">
                <div class="pull-left">社区服务</div>
            </div>
        </div>-->
    
</div>


<script src="__STATICS__/apps/page_allinone/public/js/jquery.min.js"></script>
<script src="__STATICS__/apps/page_allinone/community/js/style_info.js"></script>
</body>
</html>







