<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区服务</title>    
    <link rel="stylesheet" href="__STATICS__/apps/page_allinone/public/css/sp_public.css">
    <link rel="stylesheet" href= "__STATICS__/apps/page_allinone/Community/css/notes.css">
</head>
<body class="bg">
  	<header class="title clearfix" style="text-align: center;width: 1650px;" >
    <img src="__STATICS__/apps/page_allinone/public/images/allinone_icon.png" alt="智慧党建自助服务终端" style="vertical-align:middle; width: 4.5%"> 
    <span class="pl-10 pt-50" style="font-size: 48px; font-weight:600; color: #2b2b2b;vertical-align:middle;">{$web_name}一体机</span>
	</header>
<div class="hand_con clearfix">
	<div class="clearfix style_tit">
		<img class="pull-left" src="__STATICS__/apps/page_allinone/Community/images/notes_bg.png">
		<div class="pull-left">通知公告</div>
	</div>
	<div class="style_con">
		<!-- <volist name="notice_list" value="notice"> -->
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹弘扬五四精神 展现志愿风采 青年志愿者典型事迹弘扬五四精神 展现志愿风采 青年志愿者典型事迹</div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<!-- </volist> -->
		 <li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		<li>
			<div class="pull-right notes_rang"></div>
			<div class="style_con_tit">弘扬五四精神 展现志愿风采 青年志愿者典型事迹 </div>
			<div class="clearfix style_con_time">
				<div class="pull-left fsize-16 color-83">发布人：<span>张建国</span></div>
				<div class="pull-right fsize-16 color-83">2018年12月13日</div>
			</div>
		</li>
		
	</div>
	<!--底部-->
		<div class="clearfix live_footer">
			<a href="{:U('Index/community_service')}">
				<div class="pull-left back_bg">
					<img class="pull-left" src="__STATICS__/apps/page_allinone/Community/images/back.png">
					<div class="pull-left">返回</div>
				</div>
			</a>
			<!--<div class="pull-right back_live">
				<img class="pull-left" src="images/service_bus.png">
				<div class="pull-left">社区服务</div>
			</div>-->
		</div>
	
</div>


<script src="__STATICS__/apps/page_allinone/public/js/jquery.min.js"></script>
<script src="__STATICS__/apps/page_allinone/Community/js/notes.js"></script>
</body>
</html>