<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">
				<div class="layui-col-xs9">
						{:getFunctionInfo(ACTION_NAME)}
				</div>
				
				</div>
				<div class="layui-form layui-card-body">
					<div class="layui-row layui-col-space5">
							<div class="layui-col-xs12 text-r">
							<button class="layui-btn table-add " >备份数据</button>
						</div>

							</div>
					<table class="layui-hide" id="test" lay-filter="demo"></table>
					<script type="text/html" id="barDemo">
						<a class="layui-btn layui-btn-del layui-btn-xs" lay-event="mark">优化</a>
						<a class="layui-btn layui-btn-f60 layui-btn-xs"  lay-event="optimize">修复</a>
					</script>
					<script type="text/html" id="user_status">
						{{#  if(d.status == 1){ }}
							<span>可用</span>
						{{#  } else{ }}
							<span>不可用</span>
						{{#  } }}
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
<script>
	layui.use('table', function(){
		var table = layui.table
				,form = layui.form;
		table.render({
			elem: '#test'
			,url:"{:U('dataBackup_index')}"
			,cellMinWidth: 80
			,height:'full-155'
			,cols: [[
				{field:'name', title:'表名',align: 'center', unresize: true, sort: true}
				,{field:'engine', title:'引擎',align: 'center'}
				,{field:'comment',title: '注释',align: 'center', sort: true}
				,{field:'rows', title: '数据量',align: 'center'}
				,{field:'data_length', title: '数据大小',align: 'center', sort: true}
				,{field:'create_time', title: '创建时间',align: 'center', sort: true}
				,{field:'operate', title:'操作',align: 'center',toolbar: '#barDemo'}
				
			]]
			,page: false
		});
		table.on('tool(demo)', function(obj){
			var data = obj.data;
			if(obj.event === 'mark'){
				window.location.href = "{:U('optimize')}?table="+data.name+"&mark=1";
			}else if(obj.event === 'optimize'){
				window.location.href = "{:U('optimize')}?table="+data.name+"&mark=0";
			}
		});
	});
	layui.use([ 'form'], function(){
		var $ = layui.$
				,admin = layui.admin
				,element = layui.element
				,form = layui.form;
		form.render()
		form.render(null, 'component-form-element');
		form.on('submit(component-form-element)', function(data){
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
	//时间选择器
	layui.use('laydate', function() {
		var laydate = layui.laydate;
		//常规用法
		laydate.render({
			elem: '#test1',
			range: true
		});
	})
	//添加按钮的点击事件
	$(".table-add").click(function () {
		window.location.href = "{:U('Public/dataBackup')}";
	})
	
</script>
</block>
