<script type="text/javascript" src="__STATICS__/plugins/jquery.min.js" ></script>
<script type="text/javascript" src="__STATICS__/plugins/bootstrap/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="__STATICS__/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript" src="__STATICS__/plugins/layer/layer.js"></script>
<script type="text/javascript" src="__STATICS__/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" ></script>
<!-- 头部状态栏下拉滚动插件 -->
<script type="text/javascript" src="__STATICS__/plugins/jquery-slimscroll/jquery.slimscroll.min.js" ></script>
<script type="text/javascript" src="__STATICS__/public/js/app.min.js" ></script>
<!-- 页签插件 -->
<script type="text/javascript" src="__STATICS__/apps/page_layout/js/contabs.js"></script>
<!-- 加载条动画 -->
<script type="text/javascript" src="__STATICS__/plugins/pace/pace.min.js"></script>

<script type="text/javascript" src="__STATICS__/apps/page_layout/js/sp_public.js?v=4.1.0"></script>
<script type="text/javascript" src="__STATICS__/plugins/layer/layer.js"></script>