@charset "utf-8";

$content-w: 1680px;
$w-all: 100%;
$title-h: 140px;
$title_icon-size: 82px;     //p-*  p: 模块首页
$title_txt-w: 670px;
$title_txt-h: 100px;
$title-space-t: 100px;
$title-space-b: 40px;
$page_title-h: 140px;
$page-title_icon-w: 80px;        //d-*  d: 模块内页
$page-title_icon-h: 70px;
$page-title_txt-w: 590px;
$page-title_txt-h: 90px;
$page-title-space-size: 30px;
$page-title_btn-w: 116px;
$page-title_btn-h: 54px;
