<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body layui-form">
					<form action="{:U('bd_nav_do_save')}" class="form-horizontal" method="post">
					<input id="nav_id" name="nav_id" type="hidden" value="{$nav_row.nav_id}">
					<div class="layui-row">
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>导航名称：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
								<input type="text" name="nav_name" placeholder="导航名称" lay-verify="required" autocomplete="off" class="layui-input" value="{$nav_row.nav_name}" lay-verify="required" />
								</div>
								<span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>链接地址：</strong></div>
									<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
										<input type="text" name="nav_url" placeholder="链接地址"  autocomplete="off" class="layui-input" value="{$nav_row.nav_url}" lay-verify="required" />
									</div>
									<span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
								</div>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>导航编号：</strong></div>
									<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
										<input type="text" name="nav_code" placeholder="导航编号" autocomplete="off" class="layui-input" value="{$nav_row.nav_code}" lay-verify="required" />
									</div>
									<span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
								</div>
							</div>
						</div>
						
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>备注：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
									<textarea name="" name="memo" maxlength="225" placeholder="这个文本域的最大长度为225个字符" class="layui-textarea">{$nav_row.memo}</textarea>
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<div class="layui-footer" style="text-align: right">
									<button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">提交</button>
									<a type="reset" id="close" class="layui-btn layui-btn-primary mr-40" onclick="bd_colse()" >取消</a>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
<script>
	$('#close').click(function () {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });
	layui.use([ 'form', 'laydate'], function() {
		var $ = layui.jquery
		, admin = layui.admin
		, element = layui.element
		, layer = layui.layer
		, laydate = layui.laydate
		, form = layui.form;
	})
</script>
</block>
