<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
    <div class="page-container">
    	<input type="hidden" id="communist_no" value="{$communist_no}">
        <div class="page-content-wrapper">
            <div class="page-content">
				<div class="layui-row layui-col-space10">
                     <div class="layui-col-md3">
						<div class="layui-card">
			                <form class="layui-form">
			                    <div class="layui-card-header" style="position: relative;">列表</div>
			                    <div class="layui-card-body">
			                        <div class="over-h-tree" style="overflow-y:auto">
			                            <ul id="treeDemo" class="ztree ztree-demo">
		
			                            </ul>
			                        </div>
			                    </div>
			                </form>
			            </div>
					</div>
                    <!-- 左侧结束 -->
                    <!-- 右侧开始 -->
                     <div class="layui-col-md9">
			            <div class="layui-row">
			                <div class="layui-col-xs12">
			                    <div class="layui-card">
			                        <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"><php>echo getFunctionInfo(ACTION_NAME);</php></div>
			                        <div class="layui-form layui-card-body fitheight">
			                           <div class="form-horizontal layui-col-md4">
											<div class="layui-row">
												<label class="control-label layui-col-md4 p-0">月份选择： </label>
												<div class="layui-col-md8 p-0">
												 	<select class=" " id="month_change" lay-search>
		                                                <php>echo getdatelist($month);</php>
		                                            </select>
													<input type="hidden" id="month" value="{$month}">
		                                            <input type="hidden" id="party" value="{$assess.party_no}">
												</div>
											</div>
										</div>
			                            <table class="layui-table" id="demo"  lay-filter="demo">
			                            </table>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
                </div><!-- row结束 -->
            </div>
        </div>
    </div>
</block>

	<block name="js">
	<script>
	 $(".over-h-tree").css("height",($(window).height()-115));
	    layui.use(['element','form'], function() {
	        var $ = layui.$
	                , admin = layui.admin
	                , element = layui.element
	                , form = layui.form
	                , layer = layui.layer
	                , laydate = layui.laydate
	                , router = layui.router();
	        form.render();
			// 默认显示的 表格
			var communist_no = $("#communist_no").val();
				var time=$("#month").val();
				var url_data = "{:U('perf_examine_table')}?time="+ time +"&communist_no=" +communist_no;
	        layui.use('table', function () {
	        	
	            var table = layui.table;
	            table.render({
	                elem: '#demo'
	                , url: url_data
	                , height: 'full-180'
	                , id: 'ztreedata'
	                , cols: [[
	                	{field: 'assess_no', width: 90, title: '序号',minWidth: 90, sort: true}
	                    , {field: 'item_name', title: '参考项', minWidth: 60}
	                    , {field: 'item_proportion', title: '比重', minWidth: 60}
	                    , {field: 'type_name', title: '考核方式', minWidth: 60}
	                    , {field: 'cycle_name', title: '考核周期', minWidth: 60}
	                    , {field: 'communist_name', title: '责任人', minWidth: 60}
	                    , {field: 'assess_score', title: '绩效得分', minWidth: 60}
	                    
	                ]]
	                , page: false
	            });

	            
		  		var $ = layui.$, active = {
			        reload: function(){
			            var keyword = $('#keywords').val();
			            var time = $('#time').val();
				      	table.reload('ztreedata', {
					        page: {
					          curr: 1 
					        }
					        ,where: {
					        	"keyword": keyword,
					        	"start":time
					        }
				      	});
			        }
			    };
			    $('.layui-form .layui-btn').on('click', function(){
				    var type = $(this).data('type');
				    active[type] ? active[type].call(this) : '';
				});
	        });
	        form.on('select(month_change)', function(data){
	            var datas = $('#month_change').val();
	            var communist_no=$("#communist_no").val()
				  var table = layui.table;
				  var url_c = "{:U('perf_examine_table')}?communist_no="+communist_no+"&time="+datas;
	            table.render({
	                elem: '#demo'
	                , url: url_c
	                , height: 'full-180'
	                , id: 'ztreedata'
	                , cols: [[
	                	{field: 'assess_no', width: 90, title: '序号',minWidth: 90, sort: true}
	                    , {field: 'item_name', title: '参考项', minWidth: 60}
	                    , {field: 'item_proportion', title: '比重', minWidth: 60}
	                    , {field: 'type_name', title: '考核方式', minWidth: 60}
	                    , {field: 'cycle_name', title: '考核周期', minWidth: 60}
	                    , {field: 'communist_name', title: '责任人', minWidth: 60}
	                    , {field: 'assess_score', title: '绩效得分', minWidth: 60}
	                  
	                ]]
	                , page: false
	            });  
	            layui.form.render();  
	        });
	    })
	</script>
		<script>
       /*  $(document).ready(function(){ 
        　　var table_width = $('.table_width').css('width');
            $('.table_width').parent().parent().css('width',table_width);
        }); */
		var zTreeObj;
        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
        var setting = {
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onClick: onClick//绑定回调函数
            },
            view: {
            	showIcon: true,
                showLine: false,
            }
        };
		//$('#client_table').bootstrapTable('refresh',{url:"{:U('pf_assess_set_index_data')}?party_no="+party_no+"&group='party'"});
        // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
        var zNodes = [
            <volist name="category_list" id="list">
            { id:"{$list.party_no}",pId:{$list.party_pno},type:"{$list.is_communistmember}", name:"{$list.party_name}",icon:"__STATICS__/layuiadmin/style/res/wenjianjia-2.png",<eq name='list.party_pno' value='0'>open:true</eq>},
			</volist>
        ];
        $(document).ready(function(){
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
        function onClick(e, treeId, treeNode) {
        	console.log(treeNode.type);
        	var communist_no=treeNode.id;
			$("#communist_no").val(communist_no)
			var time=$("#month").val();
			var comm_flag = treeNode.type;
			if(comm_flag == 1){
				var template_id = $("#template_id").val();
				var url_c = "{:U('perf_examine_table')}?communist_no="+communist_no+"&time="+time; 
				var table = layui.table;
		            table.render({
		                elem: '#demo'
		                , url: url_c
		                , height: 'full-180'
		                , id: 'ztreedata'
		                , cols: [[
		                	{field: 'assess_no', width: 90, title: '序号',minWidth: 90, sort: true}
		                    , {field: 'item_name', title: '参考项', minWidth: 60}
		                    , {field: 'item_proportion', title: '比重', minWidth: 60}
		                    , {field: 'type_name', title: '考核方式', minWidth: 60}
		                    , {field: 'cycle_name', title: '考核周期', minWidth: 60}
		                    , {field: 'communist_name', title: '责任人', minWidth: 60}
		                    , {field: 'assess_score', title: '绩效得分', minWidth: 60}
		                  
		                ]]
		                , page: false
		            });
	        } else {
	        	alert("请选择党员进行绩效查看！");
	        }
        }
		</script>
		<script>
		//年选择器
		laydate.render({
			elem: '#month'
		 	,type: 'year'
		  	,done: function(datas){ //选择日期完毕的回调
				var communist_no=$("#communist_no").val()
			  //	$('#client_table').bootstrapTable('refresh',{url:"{:U('communist_year_comparison_data')}?party_no="+party+"&time="+datas});
				  var table = layui.table;
				  var url_c = "{:U('perf_examine_table')}?communist_no="+communist_no+"&time="+datas;
	            table.render({
	                elem: '#demo'
	                , url: url_c
	                , height: 'full-180'
	                , id: 'ztreedata'
	                , cols: [[
	                	{field: 'assess_no', width: 90, title: '序号',minWidth: 90, sort: true}
	                    , {field: 'item_name', title: '参考项', minWidth: 60}
	                    , {field: 'item_proportion', title: '比重', minWidth: 60}
	                    , {field: 'type_name', title: '考核方式', minWidth: 60}
	                    , {field: 'cycle_name', title: '考核周期', minWidth: 60}
	                    , {field: 'communist_name', title: '责任人', minWidth: 60}
	                    , {field: 'assess_score', title: '绩效得分', minWidth: 60}
	                  
	                ]]
	                , page: false
	            }); 
		  	}
		});
		</script>
 	</block>