<extend name="./apps/Common/Template/temp.html" />
<block name="css">
<link href="__STATICS__/apps/page_index/new_portrait/css/sp_public_mobile.css" rel="stylesheet" type="text/css">
<link href="__STATICS__/apps/page_index/new_portrait/css/style.css" rel="stylesheet" type="text/css">
<style>
.mt-17em-cur{margin-top:1rem !important;}
.article_over_one{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
</style>
</block>
<block name="body">
	<div class="layui-fluid layui-form" >
	<div class="layui-row  layui-col-space5" style="background: #fff;">
	<div class="portrait_box" style="background: url(__STATICS__/apps/page_index/new_portrait/img/portrait_bg.jpg) no-repeat;background-size: cover;padding: 0.3rem !important;">
		<div class="tit clearfix" >
			<div class="icon pull-left mt-04em-cur"></div>
			<div class="f-30em-cur color-333 pull-left ml-13em-cur wryh_blod">党员画像</div>
		</div>
		<div class="portrait_con clearfix">
			<!-- 基本信息 联系方式 -->
			<div class="pull-left portrait_con_l">
				<div class="">
					<div class="clearfix">
						<div class="dots pull-left"></div>
						<div class="color-ed3129 f-24em-cur f-w pull-left">基本信息</div>
					</div>
					<div class="portrait_con_l_bg mt-09em-cur">
						<li class="clearfix">
							<div class="pull-left w-35b text-r">姓名：</div>
							<div class="pull-left w-w-60b ml-02em-cur ml-02em-cur">{$communist.communist_name}</div>
						</li>
						<li class="clearfix"> 
							<div class="pull-left w-35b text-r">性别：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_sex}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">生日：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_birthday}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">民族：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_nation}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">身份证：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_idnumber}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">籍贯：</div>
							<div class="pull-left w-60b ml-02em-cur article_over_one" title="{$communist.communist_paddress}" >{$communist.communist_paddress}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">学历：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_diploma}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">学校：</div>
							<div class="pull-left w-60b ml-02em-cur" >{$communist.communist_school}</div>
						</li>
					</div>
				</div>
				<div class="mt-35em-cur">
					<div class="clearfix">
						<div class="dots pull-left"></div>
						<div class="color-ed3129 f-24em-cur f-w pull-left">联系方式</div>
					</div>
					<div class="portrait_con_l_bg mt-09em-cur">
						<!-- <li class="clearfix"> -->
							<!-- <div class="pull-left w-35b text-r">党员电话：</div> -->
							<!-- <div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_tel}</div> -->
						<!-- </li> -->
						<li class="clearfix"> 
							<div class="pull-left w-35b text-r">手机：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_mobile}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">邮箱：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_email}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">现住址：</div>
							<div class="pull-left w-60b ml-02em-cur">{$communist.communist_address}</div>
						</li>
						
					</div>
				</div>
			</div>
			<div class="pull-left portrait_con_c">
				<div id="container_c"></div>
			</div>
			
			<!-- 党内信息 组织生活 -->
			<div class="pull-right portrait_con_r">
				<div class="">
					<div class="clearfix">
						<div class="dots pull-left"></div>
						<div class="color-ed3129 f-24em-cur f-w pull-left">党内信息</div>
					</div>
					<div class="portrait_con_l_bg mt-09em-cur">
						<li class="clearfix">
							<div class="pull-left w-35b text-r">所属党支部：</div>
							<div class="pull-left w-60b ml-02em-cur">{$communist.party_no}</div>
						</li>
						<li class="clearfix"> 
							<div class="pull-left w-35b text-r">所属职务：</div>
							<div class="pull-left w-60b ml-02em-cur">{$communist.post_no}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">入党时间：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_applytime}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">转正时间：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_ccp_date}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">党员荣誉：</div>
							<div class="pull-left w-60b ml-02em-cur">{$communist.communist_honor_name}</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">个人党龄：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.ccp_age}年</div>
						</li>
						
					</div>
				</div>
				<div class="mt-17em-cur">
					<div class="clearfix">
						<div class="dots pull-left"></div>
						<div class="color-ed3129 f-24em-cur f-w pull-left">组织生活</div>
					</div>
					<div class="portrait_con_l_bg mt-09em-cur">
						<li class="clearfix">
							<div class="pull-left w-35b text-r">积分：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$communist.communist_integral}分</div>
						</li>
						<li class="clearfix"> 
							<div class="pull-left w-35b text-r">学习笔记：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$material_log_count}篇</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">会议活动：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$meeting_communist_count}次</div>
						</li>
						<li class="clearfix">
							<div class="pull-left w-35b text-r">党费：</div>
							<div class="pull-left w-w-60b ml-02em-cur">{$dues_amount}元</div>
						</li>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-footer layui-from" style="text-align: right">
			<!-- <a class="layui-btn table-add" href="{:U('Ccpcommunist/ccp_communist_info',array('communist_no'=>$communist['communist_no'],communist_type=>1))}" style="text-decoration: none;float: right; margin-right:10px;">党员详情</a> -->
			<a class="layui-btn" href="{:U('ccp_communist_info',array('communist_type'=>1,'communist_no'=>$communist['communist_no']))}" data-type="info"  style="float: right; margin-right:10px;" >党员详情</a>
			<a type="reset" class="layui-btn layui-btn-primary mr-40" onclick="layer_colse();" style="text-decoration: none;float: right;">返回</a>   
    	</div>
	</div>
	</div>
</div>
</block>
<block name="js">
<script src="__STATICS__/apps/page_index/new_portrait/js/jquery.min.js" ></script>	
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script>
	
	function layer_colse() {
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		parent.layer.close(index);
	}
</script>	
<script>
	/**————————————————————————————————适配——————————————————————————————————————**/
	(function (doc, win) {
	  var docEl = doc.documentElement,
		// 手机旋转事件,大部分手机浏览器都支持 onorientationchange 如果不支持，可以使用原始的 resize
		  resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
		  recalc = function () {
			//clientWidth: 获取对象可见内容的宽度，不包括滚动条，不包括边框
			var clientWidth = docEl.clientWidth;
			if (!clientWidth) return;
			docEl.style.fontSize = 100*(clientWidth / 1920) + 'px';
		  };
	 
	  recalc();
	  //判断是否支持监听事件 ，不支持则停止
	  if (!doc.addEventListener) return;
	  //注册翻转事件
	  win.addEventListener(resizeEvt, recalc, false);
	 
	})(document, window);
	/**————————————————————————————————党员画像 中间——————————————————————————————————————**/
	var dom = document.getElementById("container_c");
	var myChart = echarts.init(dom);
	var app = {};
	option = null;
	option = {
		tooltip: {
			show: false,
			formatter: function(params) {
				return params.name + (params.value ? ' : ' + params.value : '')
			}
		},
		animationDurationUpdate: function(idx) {
			// 越往后的数据延迟越大
			return idx * 100;
		},
		animationEasingUpdate: 'bounceIn',
		color: ['#fff', '#fff', '#fff'],
		series: [{
			type: 'graph',
			layout: 'force',
			force: {
				repulsion: 1000,
				edgeLength: 200
			},
			roam: false,
			label: {
					normal: {
						show: true,
						formatter:  function( data ) {
							var sub_num = data.name.length - 2;
							console.log(data);							
							if(data.name.length==2){
								return '{x3|' + data.name + '}';
							}else if(data.name.length==4){
								return '{x3|' + data.name.substr(0,2) + '}{x3|\n' + data.name.substr(2) + '}';
							}else{
								return '{x1|' + data.name.substr(0,sub_num) + '}{x2|\n' + data.name.substr(sub_num) + '}';
							}
						},
						rich: {
							x1: {
								fontSize: 16,
								color: '#fff',
								fontStyle: '600',
								align:'center',
								lineHeight: 16,
								
							},
							x2: {
								fontSize: 16,
								color: '#fff',
								fontStyle: '300',
								align:'center',
								lineHeight: 16,
								
							},
							x3: {							
								fontSize: 16,
								color: '#fff',
								fontStyle: '600',
								align:'center',
								lineHeight: 16,
							},
						},
						position: 'inside',
						//formatter: '{b}',
						fontSize: 16,
					   // fontStyle: '600',
					}
				},
			data: [{
				"name": "{$dues_amount}元党费",
				x: 0,
				y: 0,
				"symbolSize": 60,
				"draggable": true,
				"itemStyle": {
					"normal": {
						"borderColor": "#ff4b2c",
						"borderWidth": 0,
						"shadowBlur": 5,
						"shadowColor": "#ff4b2c",
						"color": "#ff4b2c",
					}
				},
				
			}, {
				"name": "{$communist['communist_integral']}个积分",
				x: 0,
				y: 0,
				"symbolSize": 60,
				"draggable": true,
				"itemStyle": {
					"normal": {
						"borderColor": "#37b1f3",
						"borderWidth": 0,
						"shadowBlur": 5,
						"shadowColor": "#37b1f3",
						"color": "#37b1f3"
					}
				}
			}, {
				"name": "{$meeting_communist_count}次活动",
				"symbolSize": 60,
				x: 0,
				y: 0,
				"draggable": true,
				"itemStyle": {
					"normal": {
						"borderColor": "#ffaf48",
						"borderWidth": 0,
						"shadowBlur": 5,
						"shadowColor": "#ffaf48",
						"color": "#ffaf48"
					}
				}
			}, {
				"name": "{$communist.age_distribute}",
				x: 0,
				y: 0,
				"symbolSize": 60,
				"draggable": true,
				"itemStyle": {
					"normal": {
						"borderColor": "#ffaf48",
						"borderWidth": 0,
						"shadowBlur": 5,
						"shadowColor": "#ffaf48",
						"color": "#ffaf48"
					}
				}
			}, {
				"name": "{$communist.ccp_age}年党龄",
				x: 0,
				y: 0,
				"symbolSize": 60,
				"draggable": true,
				"itemStyle": {
					"normal": {
						"borderColor": "#ff4b2c",
						"borderWidth": 0,
						"shadowBlur": 5,
						"shadowColor": "#ff4b2c",
						"color": "#ff4b2c"
					}
				}
			},{
				"name": "{$communist['communist_diploma']}",
				x: 0,
				y: 0,
				"symbolSize": 60,
				"draggable": true,
				"itemStyle": {
					"normal": {
						"borderColor": "#37b1f3",
						"borderWidth": 0,
						"shadowBlur": 5,
						"shadowColor": "#37b1f3",
						"color": "#37b1f3"
					}
				}
			},{
				"name": "{$communist.communist_honor_name}",
				x: 0,
				y: 0,
				"symbolSize": 90,
				"draggable": true,
				"itemStyle": {
					"normal": {
						"borderColor": "#37b1f3",
						"borderWidth": 0,
						"shadowBlur": 5,
						"shadowColor": "#37b1f3",
						"color": "#37b1f3"
					}
				}
			},{
				"name": " ",
				"symbol":"image://{$communist.communist_sex_ar}",
				x: 600,
				y: 50,
				"symbolSize": [150,160],//宽 高
				"draggable": true,
				"itemStyle": {
					"normal": {
					   // "borderColor": "#ff4b2c",
					   // "borderWidth": 0,
					   // "shadowBlur": 10,
					   // "shadowColor": "#ff4b2c",
					   // "color": "#ff4b2c"
					}
				}
			}],
			links:[{
				"source": "{$communist['communist_diploma']}",
				"target": " "
			},
			{
				"source": "{$communist['communist_integral']}个积分",
				"target": " "
			},
			{
				"source": "{$communist.ccp_age}年党龄",
				"target": " "
			},
			{
				"source": "{$communist.age_distribute}",
				"target": " "
			},{
				"source": "{$dues_amount}元党费",
				"target": " "
			},{
				"source": "{$meeting_communist_count}次活动",
				"target": " "
			},{
				"source": "{$communist.communist_honor_name}",
				"target": " "
			}]
		}]
	}
	if (option && typeof option === "object") {
		myChart.setOption(option, true);
		 window.onresize = function () {
			myChart.resize();
		}
	}

</script>
</block>
