<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
	<div class="layui-fluid " >
	    <div class="layui-row layui-col-space10">
	        <div class="layui-col-md12">
	            <div class="layui-row">
	                <div class="layui-col-xs12">
	                    <div class="layui-card">
	                        <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"><php>echo getFunctionInfo(ACTION_NAME);</php></div>
	                        <div class="layui-form layui-card-body fitheight">
	                            <div class="layui-row layui-col-space5">
	                            	<!-- <div class="layui-col-xs1 center-text lh-40 text-r">
	                                    时间：
	                                </div> -->
	                                <div class="layui-col-xs3">
	                                    <!-- <input type="text" class="layui-input " id="time" placeholder="yyyy-mm-dd"> -->
	                                </div>
	                                <div class="layui-col-xs3 pull-right" >
	                                	<!-- <a class="layui-btn" data-type="reload" lay-filter="searchFilter" style="text-decoration: none;" title="查询">查询</a> -->
	                                    <!-- <a class="layui-btn table-add " href="{:U('Eduexam/edu_exam_edit')}" style="text-decoration: none;" title="添加"><i class="iconfont">&#xe674;</i>新增试题</a> -->
	                                </div>
	                            </div>
	                            <table class="layui-table" id="demo"  lay-filter="demo">

	                            </table>
	                            <script type="text/html" id="operate">
	                                
	                                
	                            </script>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</block>

<block name="js">
	<script>
	    layui.use(['element','form'], function() {
	        var $ = layui.$
	                , admin = layui.admin
	                , element = layui.element
	                , form = layui.form
	                , router = layui.router();
	        form.render();
			// 默认显示的 表格
	        layui.use('table', function () {
	            var table = layui.table;
	            table.render({
	                elem: '#demo'
	                , url: '{:U("ccp_partyday_check_list_data",array("partyday_id"=>$partyday_id,"cat_id"=>$cat_id))}'
	                , height: 'full-160'
	                , id: 'ztreedata'
	                , cols: [[
	                	{field: 'partyday_log_id', title: '序号',align:'center'}
	                    , {field: 'party_no_name', title: '组织名称',align:'center'}
	                    , {field: 'add_staff_name',  title: '填写人',align:'center'}
	                    , {field: 'add_time',  title: '填写时间',align:'center'}
	                    , {field: 'operate', title: '操作',width: 180,align:'center'}
	                    
	                ]]
	                , page: true
	            });

	            //监听表格复选框选择
			    table.on('checkbox(demo)', function(obj){
			        console.log(obj)
			    });
			    //监听工具条
			    table.on('tool(demo)', function(obj){
			        var data = obj.data;
			        var idcard_no = data.idcard_no;
			        if(obj.event === 'del'){
		              	layer.confirm('确认删除该数据吗？', function(index){
			              	window.location='{:U("Edunotes/edu_notes_del")}?notes_id='+data.notes_id+'';
		                    layer.close(index);
		              	});
		          	} else if(obj.event === 'edit'){
		          		window.location='{:U("Edunotes/edu_notes_edit")}?notes_id='+data.notes_id+'';
	                    layer.close(index);
		          	}
		      	});
		  		var $ = layui.$, active = {
			        reload: function(){
			            var keyword = $('#keywords').val();
			            var time = $('#time').val();
			            var notes_type = $('#notes_type').val();
				      	table.reload('ztreedata', {
					        page: {
					          curr: 1 
					        }
					        ,where: {
					        	"keyword": keyword,
					        	"start":time,
					        	"notes_type":notes_type,
					        }
				      	});
			        }
			    };
			    $('.layui-form .layui-btn').on('click', function(){
				    var type = $(this).data('type');
				    active[type] ? active[type].call(this) : '';
				});
	        });
	        //点击左侧树的事件
	        
	    })
	</script>
	<script>
	    //时间选择器
	    layui.use('laydate', function() {
	        var laydate = layui.laydate;
	        //常规用法
	        laydate.render({
	            elem: '#time',
	            range: true
	        });
	    })
	    // 设置ztree 列表和右侧列表一样高度
	    $(".over-h-tree").css("height",($(window).height() - 95));
	</script>

</block>