<extend name="./apps/Common/Template/temp.html"/>
<block name="css"></block>
<block name="body">
	<div class="layui-fluid " >
	    <div class="layui-row layui-col-space10">
	        <div class="layui-col-md12">
	            <div class="layui-row">
	                <div class="layui-col-xs12">
	                    <div class="layui-card">
	                        <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"><php>echo getFunctionInfo(ACTION_NAME);</php></div>
	                        <div class="layui-form layui-card-body fitheight">
	                            <div class="layui-row layui-col-space5">
	                                <!-- div class="layui-col-xs1 text-r lh-40">
	                                    关键字：
	                                </div> -->
	                                <div class="layui-col-xs3 pull-right">
	                                	<!-- <a class="layui-btn" data-type="reload" lay-filter="searchFilter" style="text-decoration: none;" title="查询">查询</a> -->
	                                    <!-- <a class="layui-btn table-add " style="text-decoration: none;" title="新增问卷">新增问卷</a> -->
	                                </div>
	                            </div>
	                            <table class="layui-table" id="demo"  id="operate" lay-filter="demo">
	
                                </table>
	                            <script type="text/html" id="operate">
	                                
	                                 <a class=" layui-btn  layui-btn-xs layui-btn-f60" lay-event="edit">编辑</a>
	                                <a class="layui-btn layui-btn-del layui-btn-xs" lay-event="del">删除</a>
	                            </script>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- <div class="page-container">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="portlet light  bordered">
					<div class="portlet-title">
						<div class="caption">
							<div class="cont-col1">
								<div class="label label-sm bg-color-green2">
									<i class="iconfont">&#xe64b;</i>
								</div>
							</div>
							<span class="bold "><php>echo getFunctionInfo(ACTION_NAME);</php></span> <span class="caption-helper"> </span>
						</div>
						<div class="pull-right text-right p-0 ">
							<a class="btn btn-sm yellow-p5 btn-outline bor-ra-2 w-90 mr-10" onclick="idea_edit()"><i class="iconfont">&#xe674;</i>新增问卷</a>
						</div>
					</div>
					
					<div class="portlet-body">
						<div id="table">
							<table id="client_table"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</block>
<block name="js">
		<script>
	    layui.use(['element','form'], function() {
	        var $ = layui.$
	                , admin = layui.admin
	                , element = layui.element
	                , form = layui.form
	                , router = layui.router();
	        form.render();
			// 默认显示的 表格
	        layui.use('table', function () {
	            var table = layui.table;
	            table.render({
	                elem: '#demo'
	                , url: '{:U("life_condition_personal_index_data",array("status"=>$status,"cat_id"=>$cat_id))}'
	                , height: 'full-160'
	                , id: 'ztreedata'
	                , cols: [[
	                    {field: 'condition_id', title: '民情编号', width:100 ,sort: true}
	                    , {field: 'condition_title',  title: '民情简介'}
	                    , {field: 'condition_personnel',  title: '提交人'}
	                    , {field: 'condition_personnel_mobile',  title: '提交人电话'}
	                    , {field: 'status',  title: '状态'}
	                    , {field: 'add_time',  title: '提交时间',width:200}
	                    , {field: 'operate', title: '操作',width: 160}
	                    
	                ]]
	                , page: false
	            });

	            //监听表格复选框选择
			    table.on('checkbox(demo)', function(obj){
			        console.log(obj)
			    });
			    //监听工具条
			    table.on('tool(demo)', function(obj){
			        var data = obj.data;
			        var idcard_no = data.idcard_no;
			        if(obj.event === 'del'){
		              	layer.confirm('确认删除该数据吗？', function(index){
			              	window.location='{:U("Edumaterial/edu_material_do_del")}?material_id='+data.material_id+'';
		                    layer.close(index);
		              	});
		          	} else if(obj.event === 'edit'){
		          		window.location='{:U("Edumaterial/edu_material_cat_edit")}?cat_id='+data.cat_id+'';
	                    layer.close(index);
		          	}
		      	});
		  		
			    $('.layui-form .layui-btn').on('click', function(){
				    var type = $(this).data('type');
				    active[type] ? active[type].call(this) : '';
				});
	        });
	    })
	</script>
	<script>
		//添加按钮的点击事件
	    $(".table-add").click(function () {
	        layer.open({
	            type: 2,
	            area:['1000px', '500px'],
	            content: '{:U("life_survey_edit")}' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
	        });
	    });
	</script>
</block>
