<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body layui-form">
					<form action="{:U('Lifecondition/life_condition_edit_save')}" method="post" id="myform">
					<input type="hidden" name="status" value="10" />
					<input type="hidden" name="condition_id" value="{$condition_id}" />
					<div class="layui-row">
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs4 text-r fsize-14 fcolor-65 lh-35"><strong>任务接受人：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
									<select name="condition_accept_no" lay-verify="required" lay-search="">
										<foreach name="communist_list" item="list">
											<option value="{$list.communist_no}">{$list.communist_no}-{$list.communist_name}</option>
										</foreach>
									</select>
								</div>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs4 text-r fsize-14 fcolor-65 lh-35"><strong>指派时间：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
									<input type="text" id="test1" class="form-control layer-date "  name="condition_delegate_time" placeholder="选择日期" lay-verify="required">
								</div>
								<span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<div class="layui-footer" style="text-align: right">
									<button class="layui-btn" id="btnSave" type="submit" lay-submit="" lay-filter="component-form-demo1">提交</button>
									<button type="button"  id="close" class="layui-btn layui-btn-primary mr-40">取消</button>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
	<script>
	layui.use([ 'form', 'laydate'], function() {
        var $ = layui.jquery
        , admin = layui.admin
        , element = layui.element
        , layer = layui.layer
        , laydate = layui.laydate
        , form = layui.form;
        form.render(null, 'component-form-group');
        laydate.render({
            elem: '#test1'
            ,type: 'datetime'
			,trigger: 'click'
        });
    })
	$('#close').click(function() {
		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
	});
	</script>
</block>