/* 学习模块内页右侧内容区容器样式开始 */
.study_content_right{
    padding: 10px;
}
/* 学习模块内页右侧内容区容器样式结束 */
/* 在线党校右侧课件排行列表样式开始 */
.public_content_right_r ul.public_card_content li{
    line-height: 33px;
}
.decimal_ul li:first-child:before{
    content: "1";
    background-color: #ee4848;
}
.decimal_ul li:nth-of-type(2):before{
    content: "2";
    background-color: #fe9927;
}
.decimal_ul li:nth-of-type(3):before{
    content: "3";
    background-color: #3bcfff;
}
.decimal_ul li:first-child:before,.decimal_ul li:nth-of-type(2):before,.decimal_ul li:nth-of-type(3):before{
    display: inline-block;
    width: 14px;
    height: 16px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: -18px;
    top: 8px;
}
/* 在线党校右侧课件排行列表样式结束 */
/*考试中心样式开始*/
.study_topic_content_box:hover .study_topic_content_box_button{
    background: #fff5f5;
    color: #ff3032;
}
/*考试中心样式结束*/
/* 新闻排行样式开始 */
ol.news_newsranking li{
    line-height: 31px;
}
/* 新闻排行样式结束 */
/* 笔记选中样式 */
/*.public_card_text_content li:hover .study_note_listbtn{*/
    /*background: linear-gradient(45deg, #ff4d4d, #ff3033, #ff5a2d);*/
    /*color: #fff;*/
    /*transition: .2s;*/
/*}*/
.study_note_listactive .study_note_listbtn{
    background: linear-gradient(45deg, #ff4d4d, #ff3033, #ff5a2d);
    color: #fff;
}
/* 在线党校样式开始 */
/* 视频列表滑过效果开始 */
.study_online_videolist li:hover a{
    color: #ff3032;
}
.study_online_videolist li:hover a:before{
    content : "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 18px;
    height: 2px;
    background: #ff3032;
}
/* 视频列表滑过效果开始 */
/* 视频列表选项选种样式开始 */
.study_online_videolistactive a{
    color: #ff3032;
}
.study_online_videolistactive a:before{
    content : "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 18px;
    height: 2px;
    background: #ff3032;
}
.study_online_articaltop ul.decimal_ul li a{
    font-size: 16px;
    /*margin-left: 10px;*/
}
/* 视频列表选项选种样式结束 */
/* 在线党校样式结束 */
/* 笔记详情段落样式开始 */
.study_note_list_detail{
    font-size: 14px;
    line-height: 24px;
    text-indent: 28px;
}
/* 笔记详情段落样式结束 */
/* 笔记详情按钮样式开始 */
.study_note_button{
    width: 76px;
    height: 24px;
    float: right;
    line-height: 24px;
    font-size: 14px;
}
/* 笔记详情按钮样式结束 */
/* 笔记详情红色三角形标记样式开始 */
.study_note_article_right:before{
    border-width: 5px 5px 5px 10px;
    top: 8px;
}
.study_note_article_right:after{
    border-width: 5px 5px 5px 2px;
    top: 8px;
}
/* 笔记详情红色三角形标记样式结束 */
/* 学习中心首页文章项样式开始 */
.study_artical_item{
    display: table-cell;
    height: 246px;
    padding: 6px;
    background: #f2f2f2;
    background-clip: content-box;
}
/* 学习中心首页文章项样式结束 */
/* 学习中心首页视频笔记单项样式开始 */
.study_video_note, .study_daily_note{
    display: table-cell;
    height: 220px;
    padding: 6px;
}
/* 学习中心首页视频笔记单项样式结束 */
/* 在线党校视频列表单项样式开始 */
.study_online_video_list{
    display: table-cell;
    height: 210px;
    padding: 6px;
    /*background: #f5f5f5;*/
    /*background-clip: content-box;*/
}
/* 在线党校视频列表单项样式结束 */
