@charset "utf-8";

$height: 50px;

@mixin button{
  height: $height;
  line-height: $height;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

.button{
  @include button;
}

.button-red{
  @include button;
  background: $red1;
}

.button-linered{
  @include button;
  background: $linear-red;
}

.button-strokered{
  @include button;
  border: solid 1px $red1;
  color: $red1;
  background: transparent;
}