<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-body ">
                                <div id="Broken1" style="height: 200px;width: 100%;  " alt="对标体系折线图">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-body ">
                                <div id="Broken5" style="height: 200px;width: 100%;  " alt="对标体系折线图">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div id="Broken4" style="height:200px;width: 100%;" alt="党员结构饼图">
                            </div>
                            <!--<div style="margin: 20px 0 10px 30px">-->
                                <!--<div class="row" style="height: auto;width: 300px;">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-blue"> 男: </span>-->
                                        <!--<h3 id="male">{$male}</h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-red3"> 女: </span>-->
                                        <!--<h3 id="female">{$female}</h3>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                        </div>

                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <!--<div class="portlet-title">-->
                            <!--<div class="caption">-->
                                <!--<i class="icon-share font-red-sunglo hide"></i>-->
                                <!--<span class="caption-subject font-dark bold uppercase">党员年龄结构</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="portlet-body -s-gray1">
                            <div id="Broken2" style="height: 200px;width: 100%;" alt="党员结构饼图">
                            </div>
                            <!--<div style="margin: 20px 0 10px 30px">-->
                                <!--<div class="row" style="height: auto;width: 300px;">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-blue"> 30以下: </span>-->
                                        <!--<h3 id="thirty"></h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-red3"> 30-50: </span>-->
                                        <!--<h3 id="forty"></h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-yellow"> 50以上: </span>-->
                                        <!--<h3 id="fifty"></h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>


                <div class="col-md-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light bordered">
                        <!--<div class="portlet-title">-->
                            <!--<div class="caption">-->
                                <!--<i class="icon-share font-red-sunglo hide"></i>-->
                                <!--<span class="caption-subject font-dark bold uppercase">党员党龄结构</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="portlet-body -s-gray1">
                            <div id="Broken7" style="height: 200px;width: 100%;" alt="党员结构饼图">
                            </div>
                            <!--<div style="margin: 20px 0 10px 30px">-->
                                <!--<div class="row" style="height: auto;width: 300px;">-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-blue">0-10年: </span>-->
                                        <!--<h3 id="zero"></h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-red3"> 11-20年: </span>-->
                                        <!--<h3 id="one"></h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-yellow"> 21-30年: </span>-->
                                        <!--<h3 id="two"></h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-green">31-40年: </span>-->
                                        <!--<h3 id="tee"></h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-violet"> 41-50年: </span>-->
                                        <!--<h3 id="four"></h3>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4 col-sm-4 col-xs-6 text-stat">-->
                                        <!--<span class="label label-sm bg-color-pink"> 51-60年: </span>-->
                                        <!--<h3 id="five"></h3>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body -s-gray1">
                            <div id="Broken8" style="height: 200px;width: 100%;" alt="党员结构饼图">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        // 对标体系折线图
        var Broken5 = echarts.init(document.getElementById('Broken5'));
        option5 = {
            title: {
                text: '绩效考核对比'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:'{$party_name}'
            },
            toolbox: {
                show: false,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis:  {
                type: 'category',
                boundaryGap: false,
                data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 分'
                }
            },
            series: [
                {
                    name:'{$party_name}',
                    type:'line',
                    data: [{$entering_scorea}]
                }
            ]
        };

        Broken5.setOption(option5)
    </script>
    <script>
        // 对标体系折线图
        var Broken1 = echarts.init(document.getElementById('Broken1'));
        option1 = {
            tooltip: {
                trigger: 'axis'
            },
            title: {
                text: '活动月统计'
            },
            legend: {
                data:'{$party_name}'
            },
            toolbox: {
                show: false,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis:  {
                type: 'category',
                boundaryGap: false,
                data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 次'
                }
            },
            series: [
                {
                    name:'{$party_name}',
                    type:'line',
                    data: [{$meeting_num}]
                }
            ]
        };

        Broken1.setOption(option1);

        //性别结构图
        var Broken4 = echarts.init(document.getElementById('Broken4'));

        var option4 = {
            tooltip: {
                trigger: 'item'
            },
            title: {
                text: '人员比例'
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                data:['男','女']
            },
            series: [
                {   name:'党员性别',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:'{$male}',
                            name:'男',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#83baf2',
                                }
                            }
                        },
                        {
                            value:'{$female}',
                            name:'女',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#f8868f',
                                }
                            }
                        }
                    ]
                }
            ]
        };

        Broken4.setOption(option4);

        var Broken2 = echarts.init(document.getElementById('Broken2'));

        var option2 = {
            tooltip: {
                trigger: 'item'
            },
            title: {
                text: '年龄比例'
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                data:['30周岁以下','30-50周岁','50周岁以上']
            },
            series: [
                {   name:'党员年龄结构',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:'{$thirty}',
                            name:'30周岁以下',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#83baf2',
                                }
                            }
                        },
                        {
                            value:'{$forty}',
                            name:'30-50周岁',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#f8868f',
                                }
                            }
                        },
                        {
                            value:'{$fifty}',
                            name:'50周岁以上',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#edc522',
                                }
                            }
                        },
                    ]
                }
            ]
        };
        Broken2.setOption(option2);
        //党龄
        var Broken7 = echarts.init(document.getElementById('Broken7'));

        var option7 = {
            tooltip: {
                trigger: 'item'
            },
            title: {
                text: '党龄比例'
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                data:['0-10年','11-20年','21-30年','31-40年','41-50年','51-60年']
            },
            series: [
                {   name:'党员党龄结构',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:'{$zero}',
                            name:'0-10年',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#83baf2',
                                }
                            }
                        },
                        {
                            value:'{$one}',
                            name:'11-20年',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#f8868f',
                                }
                            }
                        },
                        {
                            value:'{$two}',
                            name:'21-30年',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#edc522',
                                }
                            }
                        },
                        {
                            value:'{$tee}',
                            name:'31-40年',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#88ba24',
                                }
                            }
                        },
                        {
                            value:'{$four}',
                            name:'41-50年',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#937eee',
                                }
                            }
                        },
                        {
                            value:'{$five}',
                            name:'51-60年',
                            itemStyle: {
                                normal: {
                                    // 设置扇形的颜色
                                    color: '#fb667a',
                                }
                            }
                        },
                    ]
                }
            ]
        };

        Broken7.setOption(option7);
        var Broken8 = echarts.init(document.getElementById('Broken8'));

        var option8 = {
            tooltip: {
                trigger: 'item'
            },
            title: {
                text: '学历统计'
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                data:[
                    <foreach name='diploma_list' item='list'>'{$list.code_name}',</foreach>
                ]
            },
            series: [
                {   name:'党员党龄结构',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        <foreach name='diploma_list' item='list'>
                            {
                                value:'{$list.num}',
                                name:'{$list.code_name}',
                                itemStyle: {
                                    normal: {
                                        // 设置扇形的颜色
                                        color: '{$list.memo}',
                                    }
                                }
                            },
                        </foreach>
                    ]
                }
            ]
        };

        Broken8.setOption(option8);
    </script>

</block>