<link rel="stylesheet" type="text/css" href="__STATICS__/plugins/layer/theme/default/layer.css">
<style type="text/css">
  .public_content .org_mien {
   
    border-radius: 4px 4px 4px 4px;
}

</style>
<div>
 <!-- 内容开始 -->
 <input type="hidden" id="is_login" name="is_login" value="{$is_login}">
  <div class="public_content w">
    <div class="org_mien">
      <div class="org_mien_title">
        党组织：<span class="org_mien_title_two">{$party_data['party_name']}</span>
      </div>
      <div class="org_mien_introduce">
        <div class="org_mien_introduce_left">
          <a href="javascript:;">
            <img style="width:385px;height:215px;border-radius: 4px 4px 4px 4px;" src="{$party_data['party_avatar']}" alt="">
          </a>
        </div>
        <div class="org_mien_introduce_right">
          <div>
            <i><img src="__STATICS__/apps/page_portal/images/chengshi@2x.png" alt=""></i>
            <h3><a href="{:U('Special/ipam_party_mien_info',array('party_no'=>$party_data['party_no']))}">{$party_data['party_name']}</a></h3>
            <span class="org_mien_introduce_right_address">{$party_data['party_address']}</span>
            <div class="org_mien_introduce_right_tel" style="padding-left: 0px;text-align: center;"><span>{$party_data['party_level_code']}</span></div>
          </div>
          <p class="org_mien_introduce_right_msg line-overf">
            {$party_data['memo']}</p>
          <ul class="org_mien_introduce_right_show clearfix">
            <li class="one">
                <p>{$communist_num}</p>
                <p>党员总数</p>
            </li>
            <li class="two">
                <p>{$party_count}</p>
                <p>党组织总数</p>
            </li>
            <li class="three">
                <p>{$party_p_count}</p>
                <p>直属下级</p>
            </li>
            <li class="four">
                <p>{$meeting_num}</p>
                <p>本月会议</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="org_mien_list">
        <ul class="clearfix" style="padding: 0 5px;">
          <volist name="party_list" id="list">
            <li>
              <a href="{:U('Special/ipam_party_mien_info',array('party_no'=>$list['party_no']))}">
                <p><img style="width: 282px;height:160px;border-radius: 4px 4px 4px 4px;" src="{$list.party_avatar}" alt=""></p>
                <p class="org_mien_list_name">{$list.party_name}</p>
                <p class="org_mien_list_address">{$list.party_address}</p></a>
                <neq name="list.nos" value="0">
                  <a href="{:U('Special/ipam_party_mien_index',array('party_no'=>$list['party_no']))}" class="org_mien_list_btn">查看下级</a>
                </neq>
            </li>
          </volist>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="__STATICS__/plugins/layer/layer.js"></script>
<script type="text/javascript">
  $(document).ready(function () { 
    var flag = false;
       $.ajax({
           type: "POST",
           url: "{:U('Index/check_login')}",
           async:false,
           success: function(data){
               flag = data;
           }
       });
     if(flag == true){
          location.href = "{:U('Index/Index/login')}";
           return false;
       } else {
           return true;
       }
  });
</script>
