  <!--页面自定义样式-->
<link rel="stylesheet" href="__STATICS__/apps/page_portal/portal/customization/css/edu_special_twostudies_list.css">
<link rel="stylesheet" href="__STATICS__/apps/page_portal/portal/customization/css/edu_notes.css">
  <style>
    .edu_notes_left{
        margin-top: 20px;
        width:70%;
        height:100%;
        background:rgba(255,255,255,1);
        box-shadow:0px 10px 20px 0px rgba(0, 0, 0, 0.12);
        border-radius:12px;
        margin: 20px;
        margin-top: 40px;
    }
    .edu_notes_line{
        width:100%;
        height:1px;
        background:rgba(222,222,222,1);
        margin-top: 18px;
    }
    .edu_original{
        width:100%;
        height:128px;
        background:rgba(245,245,245,1);
        border-radius:10px;
        margin-top: 23px;
    }
    .edu_notes_right {
        margin-top: 40px;
        margin-right: 20px;
    }
    .yanse{
      background-color:red;
      color: #fff;
    }
  </style>
<div class="public_content">
    <div class="edu_con_special clearfix">
      <div class="pull-left edu_con_special_tu1">
        <img src="__STATICS__/apps/page_portal/portal/customization/images/ipam_edu_small01.png">
      </div>
       <div class="pull-right edu_con_special_right">
          <div class="clearfix">
            <div class="pull-left special_right_tit">欢迎进入您的定制学习</div>
            <div class="pull-right special_right_bg">
              进行中
            </div>
          </div>
          <p>今年以来，国网平阴县供电公司党委坚持以习近平新时代中国特色社会主义思想和党的十九大精神为指导，坚决落实国网公司党组、省市公司党委部署，深入实施“旗帜领航·三年登高”计划</p>
          <!-- 进度条开始 -->
          <div class="clearfix special_right_progress">
            <li>
              <div class="clearfix special_right_progress_tit">
                <div class="pull-left"><img src="__STATICS__/apps/page_portal/portal/customization/images/edu_special_learn.png"></div>
                <div class="pull-left ml-5">{$customization.article.learn_rate}%</div>
              </div>
            <div class="layui-progress">
            <div class="layui-progress-bar bg-color-ff4040" lay-percent="{$customization.article.learn_rate}%"></div>
          </div>            
              <div class="special_right_progress_con">共{$customization.article.num}篇文章，已学习{$customization.article.learn}篇</div>
            </li>
            <li>
              <div class="clearfix special_right_progress_tit">
                <div class="pull-left"><img src="__STATICS__/apps/page_portal/portal/customization/images/edu_special_video.png"></div>
                <div class="pull-left ml-5">{$customization.video.learn_rate}%</div>
              </div>              
            <div class="layui-progress">
            <div class="layui-progress-bar bg-color-376BF5" lay-percent="{$customization.video.learn_rate}%"></div>
          </div>            
              <div class="special_right_progress_con">共{$customization.video.num}部视频，已学习{$customization.video.learn}部</div>
            </li>
            <li>
              <div class="clearfix special_right_progress_tit">
                <div class="pull-left"><img src="__STATICS__/apps/page_portal/portal/customization/images/edu_special_notes.png"></div>
                <div class="pull-left ml-5">{$customization.notes.learn_rate}%</div>
              </div>              
            <div class="layui-progress">
            <div class="layui-progress-bar bg-color-A144FE" lay-percent="{$customization.notes.learn_rate}%"></div>
          </div>            
              <div class="special_right_progress_con">已写{$customization.notes.learn}次</div>
            </li>
            <li>
              <div class="clearfix special_right_progress_tit">
                <div class="pull-left"><img src="__STATICS__/apps/page_portal/portal/customization/images/edu_special_exam.png"></div>
                <div class="pull-left ml-5">{$customization.exam.learn_rate}%</div>
              </div>              
            <div class="layui-progress">
            <div class="layui-progress-bar bg-color-FE9C44" lay-percent="{$customization.exam.learn_rate}%"></div>
          </div>            
              <div class="special_right_progress_con">共{$customization.exam.num}次考试，已考试{$customization.exam.learn}次</div>
            </li>
            
          </div>
          <!-- 进度条结束 -->
       </div>
    </div>
  <!---------------------------------列表样式--------------------------------------------->
    <div class="edu_special_list">
      <div class="special_list_tit">欢迎您的专属定制学习</div>
      <div class="special_list_des">张悦党员您在定制学习中学习了{$days}天，共学习了{$customization.article.learn}篇文章、{$customization.video.learn}部视、完成{$customization.exam.learn}次考试希望您加油完成专题学习任务</div>
      <!-- table切换 -->
      <div class="special_list_tab">
      <ul class="" id="tabBox2">
          <li class="mt-5em mb-5em tabBox2-active" num="1">
            <a>文章学习</a>
          </li>
          <li class="mt-5em mb-5em" num="2">
            <a>视频学习</a>
          </li>
          <li class="mt-5em mb-5em" num="3">
            <a>学习笔记</a>
          </li>
          <li class="mt-5em mb-5em" num="4">
            <a>考试中心</a>
          </li>
      </ul>
      </div>
    </div>
       <!-------------------------------文章学习----------------------------------------->
       <div id="list_article" class="">
            <div class="di-f pt-50">
              <volist name="material_data" id="vo">
                <div class="center-text flex" onclick="ipam_material_info('{$vo.material_id}')">
                    <img class="w-140 h-200 bor-ra-10" src="{$vo.material_thumb}">
                    <p class="fcolor-33 fsize-20 pt-25">{$vo.material_title}</p>
                    <p class="fcolor-66 fsize-14 pt-10 pb-15">浏览量：{$vo.read_num}次</p>
                    <div class="bor-learn lh-22 w-100 center">
                        <span class="fcolor-learn fweight-400">开始学习</span>
                    </div>
                </div>
              </volist>
            </div>
        </div>
     <!-------------------------------视频学习----------------------------------------->
    <div id="list_video" class="di-n">
          <div class="">
              <volist name="material_vedio" id="vo">
              <div class="w-266 di-ib ml-25 mt-40">
                  <div class="video-card po-re" onclick="ipam_material_videoInfo('{$vo.material_id}')">
                      <img class="w-266 h-150" src="{$vo.material_thumb}">
                      <div class="video-time lh-20 pl-10 pr-10 po-ab top-110 left-15">
                          <span class="fcolor-white fsize-14">01:10</span>
                      </div>
                      <div class="p-15 clearfix">
                          <div class="w-230 lh-26">
                              <div class="bor-ra-5 bg-study lh-20 w-50 di-ib center">
                                  <span class="fsize-12 fcolor-white">已学习</span>
                              </div>
                              <span class="fsize18 fcolor-33"> {$vo.material_title}</span>
                          </div>
                          <span class="fsize-12 fcolor-99 pt-10 pull-right">浏览量：{$vo.read_num}次</span>
                      </div>
                  </div>
              </div>
            </volist>

          </div>
    </div>
     <!-------------------------------学习笔记----------------------------------------->
    <div id="list_notes" class="di-n">
          <div class="clearfix">
              <!-- 左侧 ------------------------------------------------------------>
              <div class="edu_notes_left pull-left">
                  <div class="clearfix">
                      <div class="pull-left edu_notes_tit">文章笔记</div>
                      <div class="pull-right edu_notes_edit">
                          <img src="__STATICS__/apps/page_portal/portal/customization/images/biji.png">
                          新建笔记
                      </div>
                  </div>
                  <div class="edu_notes_line"></div>
                  <!-- 日历开始 -->
                  <div id="test2">
                      <div class="next_year"></div>
                  </div>

                  <span id="testView"></span>
                  <!-- 日历结束 -->
                  <!-- 笔记内容 ------------------------------------->

                  <!-- 文章笔记笔记样式 ------------>
                  <div class="edu_notes_con" id="material_article">
                      
                  </div>
                  <!-- 视频笔记笔记样式 ------------------------------------------------------------->
                  <div class="edu_notes_con">
                      <!-- <li class="clearfix">
                          <div class="pull-left edu_notes_l">
                              <div class="notes_video_bg">
                                  7
                              </div>
                              <div class="dotted_line"></div>
                              <img class="article_bg" src="../edu_notes/img/icon_video.png">
                          </div>
                          <div class="pull-left edu_notes_r">
                              <div class="edu_notes_r_tit white-space">这里是视频笔记样式!!!</div>
                              <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
                              <div class="clearfix edu_original">
                                  <div class="pull-left">
                                      <div class="edu_original_tit">习近平主持召开解决“两不愁三保障”突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决</div>
                                      <div class="edu_original_type">文章详情</div>
                                  </div>
                                  <div class="pull-right edu_original_r">
                                      <img src="../edu_notes/img/2.png">
                                  </div>
                              </div>
                          </div>
                      </li> -->
                  </div>
              </div>
              <!-- 右侧 ------------------------------------------------------------->
              <div class="edu_notes_right pull-right">
                  <!-- 整月日历 -->
                  <div class="edu_calendar">
                      <div class="edu_calendar_tit">日历</div>
                      <div class="edu_calendar_line"></div>
                      <div id="test3"></div>
                      <span id="testView3"></span>
                      <div class="this_week"></div>
                  </div>

                  <!-- 分类筛选 -->
                  <div class="edu_assort clearfix" >
                      <div class="edu_assort_tit">分类筛选</div>
                      <ul>
                          <!-- <li>全部</li> -->
                          <li onclick="edu_type(2)" id="shipin">视频笔记</li>
                          <li onclick="edu_type(1)" class="yanse" id="wenzhang">文章笔记</li>
                      </ul>
                  </div>


              </div>


          </div>
    </div>
     <!-------------------------------考试中心----------------------------------------->
    <div id="list_exam" class="di-n">
      <div class="mt-50 w-100b clearfix">
                <div class="w-71b pull-left video-card pb-40 ml-10 mt-10 mb-10">
                    <div class="bb-solid w-100b lh-40">
                        <p class="fsize-18 fcolor-33 fweight-500 pl-20" id="all">模拟考试</p>
                    </div>
                    <div id="examlist">
                      <volist name="exam_simulation" id="vo">
                      <div class="bb-dashed" >
                        <div class="p-20 clearfix">
                           <a href="{:U('ipam_exam_attent',array('exam_id'=>$vo['exam_id'],'is_exam'=>3))}"> <p class="fsize-16 fcolor-33 pull-left">{$vo.exam_title}</p></a>
                            <div class="bg-learning lh-22 pull-right pl-15 pr-15">
                                <span class="color-376BF5 fsize-12">进行中</span>
                            </div>
                            <p class="pt-5 clearfix">
                                <span class="fcolor-99 fsize-12">{$vo.exam_title_type}</span>
                                <span class="fcolor-99 fsize-12 pl-5">时长:</span>
                                <span class="fcolor-99 fsize-12">{$vo.exam_time}分钟</span>
                            </p>
                        </div>
                      </div>
                      </volist>
                    </div>
                    <div id="examlist2">
                      <volist name="exam_no" id="vo">
                      <div class="bb-dashed">
                        <div class="p-20 clearfix">
                            <a href="{:U('ipam_exam_attent',array('exam_id'=>$vo['exam_id'],'is_exam'=>1))}"><p class="fsize-16 fcolor-33 pull-left">{$vo.exam_title}</p></a>
                            <div class="bg-learning lh-22 pull-right pl-15 pr-15">
                                <span class="color-376BF5 fsize-12">进行中</span>
                            </div>
                            <p class="pt-5 clearfix">
                                <span class="fcolor-99 fsize-12">{$vo.exam_title_type}</span>
                                <span class="fcolor-99 fsize-12 pl-5">时长:</span>
                                <span class="fcolor-99 fsize-12">{$vo.exam_time}分钟</span>
                            </p>
                        </div>
                      </div>
                      </volist>
                    </div>
                    <div id="examlist3">
                      <volist name="exam_already" id="vo">
                      <div class="bb-dashed">
                        <div class="p-20 clearfix">
                            <p class="fsize-16 fcolor-33 pull-left" onclick="kaowan({$vo.exam_id})">{$vo.exam_title}</p>
                            <div class="bg-learning lh-22 pull-right pl-15 pr-15">
                                <span class="color-376BF5 fsize-12">进行中</span>
                            </div>
                            <p class="pt-5 clearfix">
                                <span class="fcolor-99 fsize-12">{$vo.exam_title_type}</span>
                                <span class="fcolor-99 fsize-12 pl-5">时长:</span>
                                <span class="fcolor-99 fsize-12">{$vo.exam_time}分钟</span>
                            </p>
                        </div>
                      </div>
                      </volist>
                    </div>
                </div>
                <div class="w-25b pull-right video-card  mr-10 mt-10 mb-10">
                    <div class="w-100b lh-40">
                        <p class="fsize-18 fcolor-33 fweight-500 pl-20">分类筛选</p>
                        <div class="pl-20 pr-20 pb-20">
                            <ul class="" id="typeBox">
                                
                                <li class="type-active" onclick="simulation()">
                                    <a>模拟考试</a>
                                </li>
                                <li class="" onclick="no()">
                                    <a>正式考试</a>
                                </li>
                                <li class="" onclick="already()">
                                    <a>我的考试</a>
                                </li>
                                <li class="">
                                    <a>全部</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  </div>
<!-- <script src="__STATICS__/apps/page_portal/portal/customization/js/ipam_home_public.js"></script> -->
<!-- <script type="text/javascript" src="__STATICS__/apps/page_portal/portal/customization/js/edu_special_twostudies_list.js"></script> -->
<script>
  //注意进度条依赖 element 模块，否则无法进行正常渲染和功能性操作
  layui.use('element', function () {
    var element = layui.element;
  });
</script>
<script>
  function kaowan(id){
    window.location.href = "{:U('Edu/ipam_exam_attent_already')}?exam_id="+id+""
  }
  function ipam_material_info(id){
    window.location.href = "{:U('Edu/ipam_material_info')}?material_id="+id+""
  }
  function ipam_material_videoInfo(id){
      window.location.href = "{:U('Edu/ipam_material_videoInfo')}?material_id="+id+""
    }
  $("#examlist2").hide();
  $("#examlist3").hide();
  function simulation(){
    $("#examlist").show();
    $("#examlist2").hide();
    $("#examlist3").hide();
    $('#all').html('模拟考试');
  }
  function no(){
    $("#examlist2").show();
    $("#examlist3").hide();
    $("#examlist").hide();
    $('#all').html('正式考试');
  }
  function already(){
    $("#examlist3").show();
    $("#examlist").hide();
    $("#examlist2").hide();
    $('#all').html('已考');
  }
</script>
<script>
  /*---------------------------------test2年份日历组件--------------------------------------------------*/
edu_type(1)
function edu_type(edu_type){
  if(edu_type==1){
    $("#wenzhang").addClass('yanse');
    $("#shipin").removeClass();
  }else{
    $("#shipin").addClass('yanse');
    $("#wenzhang").removeClass();
  }
  edu_type = edu_type;
  localStorage.setItem('edu_type',edu_type);
  var aa1 = localStorage.getItem("year_mo");
  $.ajax({
    url:"{:U('Edu/edu_notes_list_ajax')}",
    data:{'year_mo':aa1,'edu_type':edu_type},
    type:"post",
    async:false,
    success:function(msg){
        $('#material_article').html(msg)
    }
  })
}
laydate.render({
    elem: '#test2'
    ,lang: 'cn'
    ,position: 'static'
    ,type: 'month'
    ,format: 'M月' //日期组合方式 可任意组合
    ,isInitValue: true //是否允许填充初始值，默认为 true
    ,show: true //直接显示
    ,position: 'static'
    ,showBottom: false//是否显示底部栏
    //一、控件初始打开的回调
    ,ready: function(date){
        //lay('#testView').html(1);//切换日期时显示的值
        var next_year=$(".laydate-set-ym span:first-child").html();
        $(".next_year").html(parseInt(next_year)+1+"年");

    }
    //二、日期时间被切换后的回调
    ,change: function(value, date, endDate){
        var next_year=$(".laydate-set-ym span:first-child").html();
        $(".next_year").html(parseInt(next_year)+1+"年");
        
        var year_mo = date.year+"-"+date.month;
        localStorage.setItem('year_mo',year_mo);
        var edu_type = localStorage.getItem("edu_type");

        $.ajax({
          url:"{:U('Edu/edu_notes_list_ajax')}",
          data:{'year_mo':year_mo,'edu_type':edu_type},
          type:"post",
          async:false,
          success:function(msg){
              $('#material_article').html(msg)
          }
        })
    }

});

/*---------------------------------test3整月日历组件--------------------------------------------------*/

laydate.render({
    elem: '#test3'
    ,lang: 'cn'
    ,position: 'static'
    //,min: -4 //5天前
    //  ,max: 0 //7天后
    ,type: 'date'
    ,format: 'M月d日' //日期组合方式 可任意组合
    //传入Date对象给初始值
    //,value: '2018-08-18' //参数即为：2018-08-20 20:08:08 的时间戳
    ,isInitValue: true //是否允许填充初始值，默认为 true
    ,show: true //直接显示
    ,position: 'static'
    ,showBottom: false//是否显示底部栏
    //一、控件初始打开的回调
    ,ready: function(date){
        //得到初始的日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
        //显示周几
        // console.log(date);
        var year_mo = date.year+'-'+date.month;
        localStorage.setItem('year_mo',year_mo);
        var edu_type = localStorage.getItem("edu_type");
        $.ajax({
          url:"{:U('Edu/edu_notes_list_ajax')}",
          data:{'year_mo':year_mo,'edu_type':edu_type},
          type:"post",
          async:false,
          success:function(msg){
              $('#material_article').html(msg)
          }
        })
        var this_week=date.month+'/'+date.date+'/'+date.year;
        var day = new Date(Date.parse(this_week));
        var today = new Array('周日','周一','周二','周三','周四','周五','周六');
        var week = today[day.getDay()];
        //显示几月几号
        var how_months=date.month+'月'+date.date+'日';
        $(".this_week").html(how_months+'('+week+')');
    }
    //二、日期时间被切换后的回调
    ,change: function(value,date, endDate){
         
        // alert(value)
        var year_mo_day = date.year+"-"+date.month+'-'+date.date;
        var edu_type = localStorage.getItem("edu_type");
        $.ajax({
          url:"{:U('Edu/edu_notes_list_ajax')}",
          data:{'edu_type':edu_type,'year_mo_day':year_mo_day},
          type:"post",
          async:false,
          success:function(msg){
              $('#material_article').html(msg)
          }
        })


        $("#test2 #layui-laydate1").remove();
        var date_month=date.month+'月';
        /////////////////////////////////////////////////////////////初始化test2
        laydate.render({
            elem: '#test2'
            ,lang: 'cn'
            ,position: 'static'
            ,type: 'month'
            ,format: 'M月' //日期组合方式 可任意组合
            ,isInitValue: true //是否允许填充初始值，默认为 true
            ,value: date_month
            ,show: true //直接显示
            ,position: 'static'
            ,showBottom: false//是否显示底部栏
            //一、控件初始打开的回调
            ,ready: function(date){
                // lay('#testView').html(1);//切换日期时显示的值
                var next_year=$(".laydate-set-ym span:first-child").html();
                $(".next_year").html(parseInt(next_year)+1+"年");

            }
            //二、日期时间被切换后的回调
            ,change: function(value, date, endDate){
                var next_year=$(".laydate-set-ym span:first-child").html();
                $(".next_year").html(parseInt(next_year)+1+"年");
                // console.log(date)
            }

        });

///////////////////////////////////////////////////////////////////初始化test2结束

    }
});

//table切换
$('#tabBox2').find('li').click(function(){
  $('#list').html('');
  $('#tabBox2').find('li').removeClass('tabBox2-active').find('.active').hide();
  $(this).addClass('tabBox2-active').find('.active').show();
  num = $(this).attr('num');
  if(num==1){
    //文章笔记
    $("#list_article").removeClass('di-n');
    $("#list_video").addClass('di-n');    
    $("#list_notes").addClass('di-n');
    $("#list_exam").addClass('di-n');
  }else if(num==2){
    //视频笔记
    $("#list_video").removeClass('di-n');
    $("#list_article").addClass('di-n');
    $("#list_notes").addClass('di-n');
    $("#list_exam").addClass('di-n');
  }else if(num==3){
    //学习笔记
    $("#list_notes").removeClass('di-n');
    $("#list_video").addClass('di-n');
    $("#list_article").addClass('di-n');    
    $("#list_exam").addClass('di-n');
  }else if(num==4){
    //考试中心
    $("#list_exam").removeClass('di-n');
    $("#list_notes").addClass('di-n');
    $("#list_video").addClass('di-n');
    $("#list_article").addClass('di-n');    
  }
  
})

//考试分类筛选切换
$('#typeBox').find('li').click(function(){
    // $('#examlist').html('');
    $(this).addClass('type-active color-active');
    $(this).siblings().removeClass('type-active color-active');
})
</script>