<link rel="stylesheet" href="__STATICS__/apps/page_portal/portal/css/ipam_home_public_edu_index.css">
<link rel="stylesheet" href="__STATICS__/apps/page_portal/portal/css/edu_notes.css">
<body class="ipam_home_public_background">
<div class="public_content clearfix">
  <div class="edu_notes_left pull-left">
    <div class="clearfix">
      <div class="pull-left edu_notes_tit">文章笔记</div>
      <div class="pull-right edu_notes_edit">
        <img src="__STATICS__/apps/page_portal/portal/images/biji.png">
        新建笔记
      </div>
    </div>
    <div class="edu_notes_line"></div>
    <!-- 日历开始 -->
    <div id="test2">
      <div class="next_year"></div>
    </div>
    <span id="testView"></span>
    <!-- 日历结束 -->
    <!-- 笔记内容 ------------------------------------->
    <!-- 文章笔记笔记样式 ------------>
    <div class="edu_notes_con" id="edu_notes_con">
      <!-- <li class="clearfix">
        <div class="pull-left edu_notes_l">
          <div class="notes_article_bg">
            20
          </div>
          <div class="dotted_line"></div>
          <img class="article_bg" src="__STATICS__/apps/page_portal/portal/images/icon_article.png">
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">注意：文章、视频、日常、会议笔记样式都在此页面</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
          <div class="clearfix edu_original">
            <div class="pull-left">
              <div class="edu_original_tit">习近平主持召开解决“两不愁三保障”突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决</div>
              <div class="edu_original_type">文章详情</div>
            </div>
            <div class="pull-right edu_original_r">
              <img src="__STATICS__/apps/page_portal/portal/images/2.png">
            </div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="pull-left edu_notes_l">
          <div class="notes_article_bg">
            20
          </div>
          <div class="dotted_line"></div>
          <img class="article_bg" src="__STATICS__/apps/page_portal/portal/images/icon_article.png">
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">如何避免脱贫人群再返贫的困境?如何杜绝数字脱贫?</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
          <div class="clearfix edu_original">
            <div class="pull-left">
              <div class="edu_original_tit">习近平主持召开解决“两不愁三保障”突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决</div>
              <div class="edu_original_type">文章详情</div>
            </div>
            <div class="pull-right edu_original_r">
              <img src="__STATICS__/apps/page_portal/portal/images/2.png">
            </div>
          </div>
        </div>
      </li>
    </div>
    <div class="edu_notes_con">
      <li class="clearfix">
        <div class="pull-left edu_notes_l">
          <div class="notes_video_bg">
            7
          </div>
          <div class="dotted_line"></div>
          <img class="article_bg" src="__STATICS__/apps/page_portal/portal/images/icon_video.png">
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">这里是视频笔记样式!!!</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
          <div class="clearfix edu_original">
            <div class="pull-left">
              <div class="edu_original_tit">习近平主持召开解决“两不愁三保障”突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决</div>
              <div class="edu_original_type">文章详情</div>
            </div>
            <div class="pull-right edu_original_r">
              <img src="__STATICS__/apps/page_portal/portal/images/2.png">
            </div>
          </div>
        </div>
      </li>
       <li class="clearfix">
        <div class="pull-left edu_notes_l">
          <div class="notes_video_bg">
            7
          </div>
          <div class="dotted_line"></div>
          <img class="article_bg" src="__STATICS__/apps/page_portal/portal/images/icon_video.png">
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">如何避免脱贫人群再返贫的困境?如何杜绝数字脱贫?</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
          <div class="clearfix edu_original">
            <div class="pull-left">
              <div class="edu_original_tit">习近平主持召开解决“两不愁三保障”突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决</div>
              <div class="edu_original_type">文章详情</div>
            </div>
            <div class="pull-right edu_original_r">
              <img src="__STATICS__/apps/page_portal/portal/images/2.png">
            </div>
          </div>
        </div>
      </li>
    </div>
    <div class="edu_notes_con">
      <li class="clearfix">
        <div class="pull-left notes_daily_l">
          <div class="notes_daily_bg">
            15
          </div>
          <div class="dotted_line"></div>
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">这里是日常笔记样式!!!</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
        </div>
      </li>
      <li class="clearfix">
        <div class="pull-left notes_daily_l">
          <div class="notes_daily_bg">
            15
          </div>
          <div class="dotted_line"></div>
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">如何避免脱贫人群再返贫的困境?如何杜绝数字脱贫?</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
          
        </div>
      </li>
     </div>
    <div class="edu_notes_con">
      <li class="clearfix">
        <div class="pull-left edu_notes_l">
          <div class="notes_meeting_bg">
            30
          </div>
          <div class="dotted_line"></div>
          <img class="article_bg" src="__STATICS__/apps/page_portal/portal/images/icon_meeting.png">
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">这里是会议笔记样式!!!</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
          <div class="clearfix edu_original">
            <div class="pull-left">
              <div class="edu_original_tit">习近平主持召开解决“两不愁三保障”突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决</div>
              <div class="edu_original_type">文章详情</div>
            </div>
            <div class="pull-right edu_original_r">
              <img src="__STATICS__/apps/page_portal/portal/images/2.png">
            </div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="pull-left edu_notes_l">
          <div class="notes_meeting_bg">
            30
          </div>
          <div class="dotted_line"></div>
          <img class="article_bg" src="__STATICS__/apps/page_portal/portal/images/icon_meeting.png">
        </div>
        <div class="pull-left edu_notes_r">
          <div class="edu_notes_r_tit white-space">如何避免脱贫人群再返贫的困境?如何杜绝数字脱贫?</div>
          <div class="edu_notes_r_des white-space">为深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神。</div>
          <div class="clearfix edu_original">
            <div class="pull-left">
              <div class="edu_original_tit">习近平主持召开解决“两不愁三保障”突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决突出问题习近平主持召开解决习近平主持召开解决</div>
              <div class="edu_original_type">文章详情</div>
            </div>
            <div class="pull-right edu_original_r">
              <img src="__STATICS__/apps/page_portal/portal/images/2.png">
            </div>
          </div>
        </div>
      </li> -->
    </div>  
    <div id="news_page"></div>
  </div>
  <!-- 右侧 ------------------------------------------------------------->
  <div class="edu_notes_right pull-right">
    <!-- 整月日历 --> 
    <div class="edu_calendar">
      <div class="edu_calendar_tit">日历</div>
      <div class="edu_calendar_line"></div>
      <div id="test3"></div>
    <span id="testView3"></span>
    <div class="this_week"></div>
    </div>
    <!-- 分类筛选 --> 
    <div class="edu_assort clearfix">
      <div class="edu_assort_tit">分类筛选</div>
        <ul>
          <li onclick="notes_type()">全部</li>
          <li onclick="notes_type('1','21')">视频笔记</li>
          <li onclick="notes_type('1','11')">文章笔记</li>
          <li onclick="notes_type('3')">日常笔记</li>
          <li onclick="notes_type('2')">会议笔记</li>
        </ul>
    </div>
  </div>
</div>
<input type="hidden" id="notes_type" value="">
<input type="hidden" id="material_cat_type" value="">
<input type="hidden" id="time" value="">
<script>
//注意进度条依赖 element 模块，否则无法进行正常渲染和功能性操作
layui.use('element', function () {
  var element = layui.element;
});
function notes_type(type,cat_id){
  $('#notes_type').val(type);
  $('#material_cat_type').val(cat_id);
  //分页
  layui.use('laypage', function(){
    var laypage = layui.laypage;
    var count = '';
    var time = $('#time').val();
    $.ajax({
      type : "post",
      url : "{:U('Index/Edu/getnoteCount')}",
      data :{notes_type:type, material_cat_type:cat_id,time:time},
      async:false,
      success: function (data) {
        count = data;
      }
    });
    //完整功能
    if (count === 0) {
        alert('暂无数据');
    } else {
      laypage.render({
        elem: 'news_page'
        ,count: count
        ,theme: '#ff3032'
        ,first: '首页'
        ,last: '尾页'
        ,limit: 10
        ,layout: ['count', 'prev', 'page', 'next', 'skip']
        ,jump: function(obj){
          $.ajax({
              type : "post",
              url : "{:U('Index/Edu/getnoteList')}",
              data :{ page:obj.curr, pagesize:obj.limit,notes_type:type,material_cat_type:cat_id,time:time},
              datatype: "json",
              success: function (data) {
                $('#edu_notes_con').html(data.content);
                // 查看详情验证登陆
                $(".see-details").click(function (e) {
                  var flag = false;
                  $.ajax({
                    type: "POST",
                    url: "{:U('Index/check_login')}",
                    async:false,
                    success: function(data){
                      flag = data;
                    }
                  });
                  if(flag == true){
                    location.href = "{:U('Index/Index/login')}";
                    return false;
                  } else {
                    return true;
                  }
                });
              }
          });
        }
      });
    }
  });
}
</script>
<script>
/*---------------------------------test2年份日历组件--------------------------------------------------*/
laydate.render({
  elem: '#test2'
  ,lang: 'cn'
  ,position: 'static'
  ,type: 'month' 
  ,format: 'M月' //日期组合方式 可任意组合
  ,isInitValue: true //是否允许填充初始值，默认为 true
  ,show: true //直接显示
  ,position: 'static'
  ,showBottom: false//是否显示底部栏
   //一、控件初始打开的回调
  ,ready: function(date){     
    //lay('#testView').html(1);//切换日期时显示的值  
    var next_year=$(".laydate-set-ym span:first-child").html();
    $(".next_year").html(parseInt(next_year)+1+"年");
  }
  //二、日期时间被切换后的回调
  ,change: function(value, date, endDate){
    var next_year=$(".laydate-set-ym span:first-child").html();
    $(".next_year").html(parseInt(next_year)+1+"年");
    var time = date.year+"-"+date.month+"-"+date.date;;
    $('#time').val(time);
    var material_cat_type = $('#material_cat_type').val();
    var notes_type = $('#notes_type').val();
    layui.use('laypage', function(){
      var laypage = layui.laypage;
      var count = '';
      $.ajax({
        type : "post",
        url : "{:U('Index/Edu/getnoteCount')}",
        data :{notes_type:notes_type, material_cat_type:material_cat_type,time:time,time_type:1},
        async:false,
        success: function (data) {
          count = data;
        }
      });
      //完整功能
      if (count === 0) {
          alert('暂无数据');
      } else {
        laypage.render({
          elem: 'news_page'
          ,count: count
          ,theme: '#ff3032'
          ,first: '首页'
          ,last: '尾页'
          ,limit: 10
          ,layout: ['count', 'prev', 'page', 'next', 'skip']
          ,jump: function(obj){
            $.ajax({
                type : "post",
                url : "{:U('Index/Edu/getnoteList')}",
                data :{ page:obj.curr, pagesize:obj.limit,notes_type:notes_type,material_cat_type:material_cat_type,time:time,time_type:'1'},
                datatype: "json",
                success: function (data) {
                  $('#edu_notes_con').html(data.content);
                  // 查看详情验证登陆
                  $(".see-details").click(function (e) {
                    var flag = false;
                    $.ajax({
                      type: "POST",
                      url: "{:U('Index/check_login')}",
                      async:false,
                      success: function(data){
                        flag = data;
                      }
                    });
                    if(flag == true){
                      location.href = "{:U('Index/Index/login')}";
                      return false;
                    } else {
                      return true;
                    }
                  });
                }
            });
          }
        });
      }
    });
  }
});
/*---------------------------------test3整月日历组件--------------------------------------------------*/
laydate.render({
  elem: '#test3'
  ,lang: 'cn'
  ,position: 'static'
  //,min: -4 //5天前
  //,max: 0 //7天后
  ,type: 'date' 
  ,format: 'M月d日' //日期组合方式 可任意组合
  //传入Date对象给初始值
  //,value: '2018-08-18' //参数即为：2018-08-20 20:08:08 的时间戳
  ,isInitValue: true //是否允许填充初始值，默认为 true
  ,show: true //直接显示
  ,position: 'static'
    ,showBottom: false//是否显示底部栏
   //一、控件初始打开的回调
  ,ready: function(date){           
      //得到初始的日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
      //显示周几
    var this_week=date.month+'/'+date.date+'/'+date.year;     
    var day = new Date(Date.parse(this_week)); 
    var today = new Array('周日','周一','周二','周三','周四','周五','周六');  
    var week = today[day.getDay()];  
    //显示几月几号 
    var how_months=date.month+'月'+date.date+'日';
    $(".this_week").html(how_months+'('+week+')');
    var count = {$count};
    //分页
    layui.use('laypage', function(){
      var laypage = layui.laypage;
      //完整功能
      if (count === 0) {
          alert('暂无数据');
      } else {
        laypage.render({
          elem: 'news_page'
          ,count: count
          ,theme: '#ff3032'
          ,first: '首页'
          ,last: '尾页'
          ,limit: 10
          ,layout: ['count', 'prev', 'page', 'next', 'skip']
          ,jump: function(obj){
            $.ajax({
                type : "post",
                url : "{:U('Index/Edu/getnoteList')}",
                data :{ page:obj.curr, pagesize:obj.limit},
                datatype: "json",
                success: function (data) {
                  $('#edu_notes_con').html(data.content);
                  // 查看详情验证登陆
                  $(".see-details").click(function (e) {
                    var flag = false;
                    $.ajax({
                      type: "POST",
                      url: "{:U('Index/check_login')}",
                      async:false,
                      success: function(data){
                        flag = data;
                      }
                    });
                    if(flag == true){
                      location.href = "{:U('Index/Index/login')}";
                      return false;
                    } else {
                      return true;
                    }
                  });
                }
            });
          }
        });
      }
    });
  }
  //二、日期时间被切换后的回调
  ,change: function(value, date, endDate){
    $("#test2 #layui-laydate1").remove();   
    var date_month=date.month+'月';
    console.log(date_month);//当前月份
    var time = date.year+"-"+date.month+"-"+date.date;;
    $('#time').val(time);
    var material_cat_type = $('#material_cat_type').val();
    var notes_type = $('#notes_type').val();
    layui.use('laypage', function(){
      var laypage = layui.laypage;
      var count = '';
      $.ajax({
        type : "post",
        url : "{:U('Index/Edu/getnoteCount')}",
        data :{notes_type:notes_type, material_cat_type:material_cat_type,time:time},
        async:false,
        success: function (data) {
          count = data;
        }
      });
      //完整功能
      if (count === 0) {
          alert('暂无数据');
      } else {
        laypage.render({
          elem: 'news_page'
          ,count: count
          ,theme: '#ff3032'
          ,first: '首页'
          ,last: '尾页'
          ,limit: 10
          ,layout: ['count', 'prev', 'page', 'next', 'skip']
          ,jump: function(obj){
            $.ajax({
                type : "post",
                url : "{:U('Index/Edu/getnoteList')}",
                data :{ page:obj.curr, pagesize:obj.limit,notes_type:notes_type,material_cat_type:material_cat_type,time:time},
                datatype: "json",
                success: function (data) {
                  $('#edu_notes_con').html(data.content);
                  // 查看详情验证登陆
                  $(".see-details").click(function (e) {
                    var flag = false;
                    $.ajax({
                      type: "POST",
                      url: "{:U('Index/check_login')}",
                      async:false,
                      success: function(data){
                        flag = data;
                      }
                    });
                    if(flag == true){
                      location.href = "{:U('Index/Index/login')}";
                      return false;
                    } else {
                      return true;
                    }
                  });
                }
            });
          }
        });
      }
    });
    /////////////////////////////////////////////////////////////初始化test2
    laydate.render({
      elem: '#test2'
      ,lang: 'cn'
      ,position: 'static'
      ,type: 'month'    
      ,format: 'M月' //日期组合方式 可任意组合
      ,isInitValue: true //是否允许填充初始值，默认为 true
      ,value: date_month
      ,show: true //直接显示
      ,position: 'static'
        ,showBottom: false//是否显示底部栏
       //一、控件初始打开的回调
      ,ready: function(date){   
     // alert(date.date)  
          //lay('#testView').html(1);//切换日期时显示的值  
          var next_year=$(".laydate-set-ym span:first-child").html();
          $(".next_year").html(parseInt(next_year)+1+"年");
      }
      //二、日期时间被切换后的回调
      ,change: function(value, date, endDate){
       // alert(date.date)
        var next_year=$(".laydate-set-ym span:first-child").html();
        $(".next_year").html(parseInt(next_year)+1+"年");
      }
    });
  }
});
/*---------------------------------其它--------------------------------------------------*/ 
$(".edu_assort li").click(function(){
  $(this).addClass("edu_assort_active");
  $(".edu_assort li").not($(this)).removeClass("edu_assort_active");
})
</script>