@charset "utf-8";

//color
@import "../variables/color";

.apologize_name{
  font-size: 24px;
  color: $black;
}
.apologize_table{
  width: 100%;
  margin-top: 30px;
  border: solid 1px $gray;
  border-collapse: collapse;
}
.table_head{
  height: 70px;
  line-height: 70px;
  background: $gray1;
  .head-item{
    font-size: 24px;
    font-weight: 500;
    color: $black;
  }
}
.table_row{
  height: 70px;
  line-height: 70px;
}
.table_col{
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: transparent $gray $gray $gray;
}
.table_btn{
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  color: $white;
  a{
    color: inherit;
  }
}
.table_btn-red{
  width: 100px;
  height: 44px;
  line-height: 44px;
  background: linear-gradient(0deg, #ff3032, #ff5a2d);
}
.table_col-type{
  color: $blue;
}