<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">

<div class="layui-fluid">
	<div class="layui-row layui-col-space15 layui-form">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<form id="form_sample_2" action="{:U('oa_workplan_do_save')}" method="post" enctype="multipart/form-data">
						<div class="layui-card-header">{:getFunctionInfo(ACTION_NAME)}</div>
						<div class="layui-row">
							<input name="workplan_id" type="hidden" value="{$workplan_row.workplan_id}">
							<input name="is_arranger" type="hidden" value="{$is_arranger}">
							<eq name="is_arranger" value="1">
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>执行人：</strong></div>
									<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
									<select name="workplan_executor_man" lay-filter="" lay-search="" lay-verify="required">
									<option value="0">请选择</option>
									{:getStaffSelect($workplan_row['workplan_executor_man'])}
									</select>
									</div>
								</div>
							</div>
							<else />
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>审核人：</strong></div>
									<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
									<select name="workplan_arranger_man" lay-filter="" lay-search="" lay-verify="required">
									<option value="0">请选择</option>
									{:getStaffSelect($workplan_row['workplan_arranger_man'])}
									</select>
									</div>
								</div>
							</div>
							</eq>
							
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>计划标题：</strong></div>
									<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
									<input type="text" name="workplan_title" placeholder="标题" lay-verify="required" autocomplete="off" class="layui-input" value="{$workplan_row.workplan_title}">
									</div>
									<span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
								</div>
							</div>
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
	                                <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>计划内容：</strong></div>
	                                <div class="layui-col-xs8 fsize-14 fcolor-65 ">
	                                    <!-- <textarea id="demoedit" name="workplan_content">{$workplan_row.workplan_content}</textarea> -->
	                                    <script id="editor" name="workplan_content" type="text/plain" style="height:350px;width:100%">{$workplan_row.workplan_content}</script>
	                                </div>
	                            </div>
							</div>
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>预计开始时间：</strong></div>
									<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
									<input id="start" type="text" name="workplan_expectstart_time" placeholder="选择日期" lay-verify="required" autocomplete="off" class="layui-input" value="{$workplan_row.workplan_expectstart_time}">
									</select>
									</div>
								</div>
							</div>
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>预计结束时间：</strong></div>
									<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
									<input id="end" type="text" name="workplan_expectend_time" placeholder="选择日期" lay-verify="required" autocomplete="off" class="layui-input" value="{$workplan_row.workplan_expectend_time}">
									</select>
									</div>
								</div>
							</div>
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>备注：</strong></div>
									<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
									<textarea name="memo" placeholder="请输入" class="layui-textarea">{$workplan_row.memo}</textarea>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
	                            <div class="layui-input-block">
	                                <div class="layui-footer" style="text-align: right">
	                                    <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">提交</button>
	                                    <button type="reset" class="layui-btn layui-btn-primary mr-40" onclick="window.history.go(-1);">返回</button>
	                                </div>
	                            </div>
	                        </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
<script>
	function select_receive_user(field_name){
		var url = "{:U('System/Com/com_imail_receiveUser')}?field_name="+field_name+"&group=1";
		layer.open({
				type: 2,
				title: '选择联系人',
				maxmin: true,
				offset: window.parent.document.body.scrollTop+20+'px',
				shadeClose: true, //点击遮罩关闭层
				area : ['620px' , '422px'],
				content: url //iframe的url
			});
	}
	 //时间选择器
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        //时间选择器
        //时间选择器
        laydate.render({
            elem: '#start'
            ,type: 'datetime'
        });
        //日期时间范围
        laydate.render({
            elem: '#end'
            ,type: 'datetime'
            //,range: true
        });
    })

	layui.use([ 'form', 'laydate','layedit'], function() {
		var $ = layui.jquery
				, admin = layui.admin
				, element = layui.element
				, layer = layui.layer
				, laydate = layui.laydate
				, form = layui.form;
			var layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: "{:U('System/public/layedit_upload')}" //接口url
                  , type: 'post' //默认post
                }
            });
            layedit.build('demoedit'); //建立编辑器
		form.on('submit(component-form-demo1)', function(data){
			data.field['worklog_summary'] = layedit.getContent(index);
			$.ajax({
				url:"{:U('oa_workplan_do_save')}",
				type:'POST',
				data:data.field,
				success: function (data) {
					if(data.status == 1){
						layer.msg(data.msg, {
							icon: 6
							,time: 2000
						});
						var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(index); //再执行关闭
						window.parent.location.reload(); //刷新父页面
					}else{
						layer.msg(data.msg, {
						  icon: 5
						  ,time: 2000
						});
					}
				}
			})
			return false;
		});

	})

</script>
</block>
