@charset "utf-8";
@import "../layouts/layouts";
@import "../variables/style";
@import "../variables/color";

@mixin function_card{
  border-radius: $card-bor-ra;
  text-align: center;

  a{
    color: inherit;
  }
  .function_text{
    color: inherit;
  }

  .card_img{
    display: block;
    @include l-margin-center;
  }

  .card_title{
    text-align: center;
  }
}

.function{
  @include l-flex-center;
}
.function_card{
  border-radius: $card-bor-ra;
  text-align: center;

  a{
    color: inherit;
  }
  .function_text{
    color: inherit;
  }
  .card_img{
    display: block;
    @include l-margin-center;
  }

  .card_title{
    text-align: center;
  }
}

.function_card-gray{
  @include function_card;
  background-image: $linear-gray;
  .function_text{
    color: inherit;
  }
}
.function_card-red{
  @include function_card;
  background-image: $linear-red;
}
.function_card-org{
  @include function_card;
  background-image: $linear-org;
}
.function_card-green1{
  @include function_card;
  background-image: $linear-green1;
}
.function_card-green2{
  @include function_card;
  background-image: $linear-green2;
}
.function_card-blue{
  @include function_card;
  background-image: $linear-blue;
}


//layout
.l-function-wrap{
  @include l-flex-center;
  flex-wrap: wrap;
}