<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <if condition="$secretary_type eq '2' && $type eq '2'">
                    <form action="{:U('ccp_secretary_config_do_save')}" id="myform" class="p5-editor-add" method="post">
                    <div class="layui-card-body layui-form">
                        <input type="hidden" name='secretary_type' id="secretary_type" value="{$secretary_type}">
                        <div class="layui-row">
                            <div class="layui-col-xs12 mt-10">
                                <div class="layui-row">
                                    <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>第一书记简介：</strong></div>
                                    <div class="layui-col-xs8 fsize-14 fcolor-65 lh-35">
                                        <textarea name="config_value" placeholder="请输入简介" maxlength="255" class="layui-textarea">{$config_value['config_value']}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <div class="layui-footer" style="text-align: right">
                                        <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary mr-40" onclick="layer_colse();">返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <else/>
                <form action="{:U('ccp_secretary_do_save')}" id="myform" class="p5-editor-add" method="post">
                <input type="hidden" name='meeting_communist' value="{$row['meeting_communist_no']}">
                <input type="hidden" name='secretary_type' id="secretary_type" value="{$secretary_type}">
                <div class="layui-card-body layui-form" style="height: 34rem;">
                    <div class="layui-row">
                         <eq name="secretary_type" value="1">
                        <div class="layui-col-xs12 mt-10">
                            <div class="layui-row">
                                <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>工作组名称：</strong></div>
                                <div class="layui-col-xs6 fsize-14 fcolor-65 lh-35"> <input type="text" name="secretary_name" placeholder="请输入工作组名称" autocomplete="off" class="layui-input" lay-verify='required'></div>
                                <span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
                            </div>
                        </div>
                        </eq>
                        <div class="layui-col-xs12 mt-10">
                            <div class="layui-row">
                                <div class="layui-col-xs2 text-r fsize-214 fcolor-65 lh-35"><strong>工作村：</strong></div>
                                <div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
                                    <select name="communist_party" lay-filter="aihao" lay-search="" lay-verify='required'>
                                        <volist name='party_no' id='party'>
                                            <option value="{$party.party_no}">{$party.party_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                        </div>
						<div class="layui-col-xs12 mt-10">
                            <div class="layui-row">
                                <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>添加人员：</strong></div>
                                <div class="layui-col-xs6 fsize-14 fcolor-65 lh-35">
                                    <textarea id="commu_content_name" class="layui-textarea" maxlength="255" name="communist_name" required rows="3" placeholder="添加人员" readonly lay-verify='required'>{$communist_name}</textarea>
                                    <input type="hidden" id="commu_content_no" name="communist_no">
                                </div>
                                <div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-50 pr-100 mt-40">
                                    <button type="button" onclick="select_meeting_user('commu_content')" class="layui-btn">选择人员</button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <div class="layui-footer" style="text-align: right">
                                    <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary mr-40" onclick="layer_colse();">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </if>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        layui.use([ 'form', 'laydate','formSelects'], function() {
            var $ = layui.jquery
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , form = layui.form
            , formSelects = layui.formSelects;
            form.render(null, 'component-form-group');
            laydate.render({
                elem: '#LAY-component-form-group-date'
            });
        })
        function layer_colse() {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        }
        function select_meeting_user(field_name) {
        	var secretary_type = $("#secretary_type").val();
        	if(secretary_type == 1){
        		var url = "{:U('System/Com/com_imail_receiveUser')}?field_name="+field_name+"&group=1";
        	}else{
        		var url = "{:U('System/Com/com_imail_receiveUser')}?type=1&field_name="+field_name+"&group=1";		
        	}
            layer.open({
                type: 2,
                title: '选择人员',
                maxmin: true,
                offset: '10px',
                shadeClose: true, //点击遮罩关闭层
                area: ['620px' , '415px'],
                content: url,
                success:function(){
                	layerAuto();
                }//iframe的url
            });
        }
        function submit_val() {
            var party_form = $("#party_form").val();
            $("#party_hidden").val(party_form);
            var communist_form = $("#communist_form").val();
            $("#communist_hidden").val(communist_form);
        }
        function choose_communist(communist, communist_name, field_name) {
            $("input[name='" + field_name + "']").val(communist);
            $("textarea[name='" + field_name + "_name']").text(communist_name);
        }
    </script>
</block>