<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid " >
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-row">
                <div class="layui-col-xs12">
                    <div class="layui-card">
                        <div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME.session('suffix'));</php>"><php>echo getFunctionInfo(ACTION_NAME.session('suffix'));</php></div>
                        <div class="layui-form layui-card-body fitheight">
                            <div class="layui-row layui-col-space5">
                                <div class="layui-col-xs3 pull-right">
                                    <a class="layui-btn table-add" onclick="add_popup();" style="text-decoration: none;">添加</a>
                                    <eq name="secretary_type" value="2">
                                         <a class="layui-btn table-add" onclick="aintro_popup();" style="text-decoration: none;">设置书记简介</a>
                                    </eq>
                                </div>
                            </div>
                            <table class="layui-table" id="demo"  lay-filter="demo">
                            </table>
                            <input type="hidden" value="{$secretary_type}" id="secretary_type">
                             <script type="text/html" id="operate">
                                <a class="layui-btn layui-btn-del layui-btn-xs" lay-event="del">删除</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
<script>
    layui.use(['element','form'], function() {
        var $ = layui.$
        , admin = layui.admin
        , element = layui.element
        , form = layui.form
        , router = layui.router();
        form.render();
        // 默认显示的 表格
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#demo'
                , url: "{:U('ccp_secretary_index_data',array('secretary_type'=>$secretary_type))}"
                , height: 'full-160'
                , id: 'ztreedata'
                , cols: [[
                <if condition="$secretary_type eq 1">
                    {field: 'num', width: 80, title: '编号', sort: true}
                    , {field: 'secretary_name', title: '工作组名称',width:180}
                    , {field: 'communist_name', title: '工作组成员'}
                    , {field: 'party_name', title: '工作村'}
                    ,{field: 'add_staff', title: '添加人',width: 130}
                    , {field: 'add_time',width:150, title: '添加时间'}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#operate',width:100}
                <else/>
                    {field: 'communist_no', width: '10%', title: '编号', sort: true}
                    ,{field: 'communist_name', title: '党员',width: '13%'}
                    , {field: 'party_name',width: '20%', title: '工作村'}
                    ,{field: 'add_staff', title: '添加人',width: '17%'}
                    , {field: 'add_time',width: '20%', title: '添加时间'}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#operate',width: '20%'}
                </if>
                ]]
                , page: true
            });

            //监听表格复选框选择
            table.on('checkbox(demo)', function(obj){
                console.log(obj)
            });
            //监听工具条
            table.on('tool(demo)', function(obj){
                var data = obj.data;
                var idcard_no = data.idcard_no;
                if(obj.event === 'del'){
                    layer.confirm('确认删除该数据吗？', function(index){
                        window.location='{:U("ccp_secretary_del")}?secretary_id='+data.secretary_id+'&secretary_type='+data.secretary_type+'';
                        layer.close(index);
                    });
                }
            });
        });
    })
    $(".over-h-tree").css("height",($(window).height() - 95));

    function add_popup(communist_no){
        var secretary_type = $('#secretary_type').val();
        if(secretary_type == '1'){
            var title = "品牌党建设置";
        }else{
            var title = "第一书记设置";
        }
        var index = layer.open({
            type: 2,
            title: title,
            maxmin: false,
            shadeClose: true, //点击遮罩关闭层
            area: ['950px', '460px'],
            offset: window.parent.document.body.scrollTop + 5 + '%',
            content: "{:U('Ccp/Ccpsecretary/ccp_secretary_edit/secretary_type/"+secretary_type+"')}"
        });
    };
    function aintro_popup(communist_no){
        var secretary_type = $('#secretary_type').val();
        layer.open({
            type: 2,
            title: '简介',
            maxmin: false,
            shadeClose: true, //点击遮罩关闭层
            area: ['900px', '300px'],
            offset: window.parent.document.body.scrollTop + 10 + '%',
            content: "{:U('Ccp/Ccpsecretary/ccp_secretary_edit/type/2/secretary_type/"+secretary_type+"')}"

            //content: "{:U('Ccp/Ccpintegral/ccp_integral_add_score/log_relation_type/2/log_relation_no/"+communist_no+"/year/"+year+"')}"
            //href="{:U('Ccpsecretary/ccp_secretary_edit',array('secretary_type'=>$secretary_type,type=>'2'))}"
        });
    };
</script>
</block>