<extend name="./apps/Common/Template/temp.html" />
<block name="css">
	<style type="text/css">
		#js-grid-juicy-projects2 {
		     margin-left: 0% !important; 
		}
	</style>
</block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"> <php>echo getFunctionInfo(ACTION_NAME);</php></div>
				<div class="layui-card-body layui-form">
					<div class="layui-row">
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>标题：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
								{$notice_info.notice_title}
								</div>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
                            <div class="layui-row">
                                <div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>内容：</strong></div>
                                <div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
                                    {$notice_info.notice_content}
                                </div>
                            </div>
                        </div>

						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>发布人：</strong></div>
								<div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
									{$notice_info.add_staff}
								</div>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
                            <div class="layui-row">
                                <div class="layui-col-xs3 text-r fsize-14 fcolor-65 lh-35"><strong>附件：</strong></div>
                                <div class="layui-col-xs6 fsize-14 fcolor-65 lh-35 childrenBody">
	                                <div id="js-grid-juicy-projects2" style="height:100px">
	                                    <neq name="notice_info.notice_attach" value="">
	                                        <php>echo getUploadHtml($notice_info['notice_attach'],'','','1','0');</php>
	                                    </neq>
	                                </div>
	                            </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
							<div class="layui-input-block">
								<div class="layui-footer" style="text-align: right">
									<button type="reset" class="layui-btn layui-btn-primary mr-40" onclick="layer_colse();">返回</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</block>
<block name="js">
<script>
	function layer_colse() {
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    }
</script>
</block>
