<extend name="./apps/Common/Template/temp.html" />
<block name="css"></block>
<block name="body">
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header" title="<php>echo getFunctionInfo(ACTION_NAME);</php>"> <php>echo getFunctionInfo(ACTION_NAME);</php></div>
                <form id="form_sample_2" action="{:U('oa_missive_do_save')}" method="post" class="form-horizontal layui-form" enctype="multipart/form-data">
				<div class="layui-card-body layui-form">
					<div class="layui-row">
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>公文标题：</strong></div>
								<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
								<input type="text" name="imail_title" placeholder="请输入公文标题" lay-verify="required" autocomplete="off" class="layui-input" value="{$imail_data.imail_title}">
								</div>
								<span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
							<div class="layui-col-xs12 mt-10">
								<div class="layui-row">
									<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>收件人：</strong></div>
									<div class="layui-col-xs5 fsize-14 fcolor-65 lh-35 childrenBody">
									<input id="missive_receiver_name" type="text" class="layui-input"  value="{$imail_data.communist_name}" name="commu_content_name" disabled lay-verify="required"/> 
									<input type="hidden" class="form-control" id="missive_receiver_no"  value="{$imail_data.missive_receiver}" name="missive_receiver_no" />
									</div>
									<span class="fcolor-red fsize-18 lh-35 pl-5">*</span>
									<div class="layui-col-xs2 text-r">
	                                    <button type="button" onclick="select_receive_user('missive_receiver')" class="layui-btn">选择人员</button>
	                                </div>
								</div>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
                            <div class="layui-row">
                                <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>公文内容：</strong></div>
                                <div class="layui-col-xs8 fsize-14 fcolor-65 ">
                                    <!-- <textarea id="demoedit" name="imail_content">{$imail_data.imail_content}</textarea> -->
                                    <script id="editor" name="imail_content" type="text/plain" style="height:350px;width:100%">{$imail_data.imail_content}</script>
                                </div>
                            </div>
                        </div>
						<div class="layui-col-xs12 mt-10">
	                        <div class="layui-row">
	                            <div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>上传附件：</strong></div>

	                            <input type="hidden" id="source_name" name="source_name" value=""/>
                                <input type="hidden" id="article_thumb_old" name="article_thumb_old" value="" style="width: 60px">
                                <input type="hidden" id="missive_attach" name="imail_attach" value="" style="width: 60px">
                                <input type="hidden" class="form-control" id="article_img" name="article_img" value="{$imail_data.imail_attach}">
                                <button type="button" class="layui-btn" id="article_thumb" onclick="uploader_file('oa','1','missive_attach','source_name','js-grid-juicy-projects','2','1')"><i class="layui-icon"></i>上传文件</button>
								<div id="js-grid-juicy-projects" class="cbp" style="height:100px">
									<neq name="missive_info.missive_attach" value="">
										<php>echo getUploadHtml($imail_data['imail_attach'],'40');</php>
									</neq>
								</div>
	                        </div>
	                    </div>
						</div>
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>审批模板：</strong></div>
								<div class="layui-col-xs8 fsize-14 fcolor-65 lh-35 childrenBody">
								<select id="dept_no" name="approval_template" lay-filter="state" lay-search="">
									{:getOaApprovalTplSelect()}
								</select>
								</div>
							</div>
						</div>
						<div class="layui-col-xs12 mt-10">
							<div class="layui-row">
								<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>拟稿人：</strong></div>
								<div class="layui-col-xs3 fsize-14 fcolor-65 lh-35 childrenBody">
								{$staff_name}
								</div>
								<div class="layui-col-xs2 text-r fsize-14 fcolor-65 lh-35"><strong>所在部门：</strong></div>
								<div class="layui-col-xs3 fsize-14 fcolor-65 lh-35 childrenBody">
								{$dept_name}
                                    <input type="hidden" class="form-control"  value="{$dept_name}" name="missive_corporation" />
								</div>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<div class="layui-footer" style="text-align: right">
									<button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">提交</button>
									<a class="layui-btn layui-btn-primary mr-40" onclick="layer_colse();">返回</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="js">
<script>
	function layer_colse() {
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
	}
	function select_receive_user(field_name){
		var url = "{:U('System/Com/com_imail_receiveUser')}?field_name="+field_name+"&group=1";
		layer.open({
			type: 2,
			title: '选择人员',
			maxmin: true,
			offset: window.parent.document.body.scrollTop+20+'px',
			shadeClose: true, //点击遮罩关闭层
			area : ['620px' , '422px'],
			content: url //iframe的url
		});
		return false;
	}
	layui.use([ 'form', 'laydate','layedit'], function() {
		var $ = layui.jquery
				, admin = layui.admin
				, element = layui.element
				, layer = layui.layer
				, laydate = layui.laydate
				, form = layui.form;
			var layedit = layui.layedit;
			layedit.set({
                uploadImage: {
                    url: "{:U('System/public/layedit_upload')}" //接口url
                  , type: 'post' //默认post
                }
            });
			layedit.build('demoedit');  
		form.on('submit(component-form-demo1)', function(data){
			data.field['imail_content'] = layedit.getContent(index);
			$.ajax({
				url:"{:U('oa_missive_do_save')}",
				type:'POST',
				data:data.field,
				success: function (data) {
					if(data.status == 1){
						layer.msg(data.msg, {
							icon: 6
							,time: 2000
						});
						var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
						parent.layer.close(index); //再执行关闭
						window.parent.location.reload(); //刷新父页面
					}else{
						layer.msg(data.msg, {
						  icon: 5
						  ,time: 2000
						});
					}
				}
			})
			return false;
		});
	})
</script>
</block>